@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@font-face {
  font-family: 'gotham_book';
  src: url("../lib/font/nvv_gotham-book-webfont.eot");
  src: url("../lib/font/nvv_gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../lib/font/nvv_gotham-book-webfont.woff") format("woff"), url("../lib/font/nvv_gotham-book-webfont.ttf") format("truetype"), url("../lib/font/nvv_gotham-book-webfont.svg#gotham_book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_nvvbold';
  src: url("../lib/font/nvv_gotham-bold-webfont.eot");
  src: url("../lib/font/nvv_gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../lib/font/nvv_gotham-bold-webfont.woff") format("woff"), url("../lib/font/nvv_gotham-bold-webfont.ttf") format("truetype"), url("../lib/font/nvv_gotham-bold-webfont.svg#gotham_nvvbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_medium';
  src: url("../lib/font/Gotham-Medium.eot");
  src: url("../lib/font/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../lib/font/Gotham-Medium.woff") format("woff"), url("../lib/font/Gotham-Medium.ttf") format("truetype"), url("../lib/font/Gotham-Medium.svg#gotham_medium") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  color: #222; }

.br-logo img {
  height: 50px; }

.wallpaper-body {
  display: inline-block;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 4px;
  min-height: 650px; }

.title-page-admin {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px; }
  .title-page-admin.flex {
    display: flex !important;
    justify-content: space-between;
    align-items: center; }
  .title-page-admin h1 {
    font-size: 24px;
    font-weight: 700;
    color: #222;
    font-family: 'gotham_nvvbold';
    margin-bottom: 0; }
    .title-page-admin h1 img {
      height: 27px;
      margin-right: 5px; }
    .title-page-admin h1.text-transform {
      text-transform: uppercase; }

.file-combox {
  position: relative;
  max-width: 300px;
  min-width: 260px; }
  .file-combox a {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222; }
  .file-combox .dropdown {
    position: relative; }
  .file-combox .dropdown-menu {
    display: none; }
  .file-combox .toggle, .file-combox .dropdown-menu {
    width: 100%; }
  .file-combox .is-active .dropdown-menu, .file-combox .is-active2 .dropdown-menu {
    display: block; }
  .file-combox ul {
    box-shadow: none;
    padding: 0;
    border: 0;
    margin-top: 0; }

.dropdown-checkbox {
  position: absolute;
  left: 0;
  top: 0; }

.checkbox-dropdown {
  height: 36px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.btn-showdropdown {
  display: flex;
  justify-content: space-between; }

.right-element-filed-head {
  display: flex;
  justify-content: space-between; }
  .right-element-filed-head .file-search .input-group input {
    height: initial; }
  .right-element-filed-head a.toggle span {
    color: #222 !important;
    font-weight: 700; }
  .right-element-filed-head .file-butotn-action a {
    font-weight: 700; }

.file-search {
  margin-left: 20px;
  width: 300px; }
  .file-search span button {
    background: #E79D3D !important;
    border: 1px solid #C58634 !important; }
    .file-search span button i {
      color: white !important; }

.file-butotn-action {
  display: flex; }
  .file-butotn-action a {
    display: flex;
    margin-left: 20px;
    align-items: center;
    height: 40px;
    border-radius: 0; }
    .file-butotn-action a img {
      margin-right: 7px; }
    .file-butotn-action a.green-btn {
      background: #4EAF98 !important; }
    .file-butotn-action a.orange-btn {
      background: #FF5E00 !important; }

.btn-table {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  border: 0;
  outline: none;
  cursor: pointer;
  align-items: center;
  margin: 0 5px; }
  .btn-table img {
    width: 20px; }
  .btn-table.green-btn {
    background: #4EAF98 !important; }
  .btn-table.orange-btn {
    background: #FF5E00 !important; }

.btn-table-box {
  display: flex; }
  .btn-table-box.flex-center {
    justify-content: center; }
  .btn-table-box button:disabled {
    background: #AEB4BC !important;
    pointer-events: none; }

table tr td {
  vertical-align: middle !important; }
table thead tr th {
  color: #CAD8EF;
  font-size: 13px;
  font-family: 'gotham_nvvbold';
  text-transform: uppercase; }
  table thead tr th:nth-child(1) {
    min-width: 200px; }
table thead .dropdown {
  position: relative; }
table thead .dropdown-menu {
  display: none; }
table thead .toggle, table thead .dropdown-menu {
  width: 100%; }
table thead .is-active .dropdown-menu, table thead .is-active2 .dropdown-menu {
  display: block; }
table thead ul {
  box-shadow: none;
  padding: 0;
  border: 0;
  margin-top: 0; }
table tbody tr:nth-child(odd) {
  background: #F0EFF0; }

.content-popup-des.center {
  text-align: center; }
.content-popup-des h4.title-popup-gray {
  display: inline-block;
  width: 100%;
  color: #838C95;
  font-size: 20px;
  text-align: center;
  margin-bottom: 59px; }
.content-popup-des .bold-des {
  display: inline-block;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 40px;
  font-family: 'gotham_nvvbold'; }

.modal-body-outside .modal-lg {
  max-width: 1110px !important;
  position: relative;
  width: 100%; }
.modal-body-outside .modal-content {
  min-height: 632px; }
  .modal-body-outside .modal-content button.close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 1; }
.modal-body-outside .flex {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center; }

.no-head-border {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding: 20px; }

.btn-main-component {
  display: inline-block;
  width: 100%;
  margin-top: 42px; }
  .btn-main-component.flex {
    display: flex;
    justify-content: right;
    width: fit-content; }
    .btn-main-component.flex button {
      width: max-content; }
  .btn-main-component.center {
    text-align: center; }
  .btn-main-component a, .btn-main-component button {
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 14px;
    background: #FF5E00;
    width: fit-content;
    color: white;
    margin: auto;
    cursor: pointer;
    border: 0;
    outline: none;
    font-family: 'gotham_medium'; }
    .btn-main-component a img, .btn-main-component button img {
      margin-right: 8px;
      width: 18px; }
    .btn-main-component a.border-orange, .btn-main-component button.border-orange {
      border: 1px solid #FF5E00;
      background: white;
      color: #FF5E00; }
    .btn-main-component a.border-gray, .btn-main-component button.border-gray {
      border: 1px solid #222;
      background: white;
      color: #222; }

.body-bordered {
  background: white;
  display: inline-block;
  width: 100%;
  border: 1px solid #F0EFF0;
  min-height: 500px; }
  .body-bordered.flex {
    justify-content: center;
    display: flex; }

.form-format-main .btn-main-component {
  margin-top: 20px !important; }
  .form-format-main .btn-main-component a, .form-format-main .btn-main-component button {
    justify-content: right; }
  .form-format-main .btn-main-component.right {
    float: right;
    width: fit-content;
    margin-right: 1px; }
.form-format-main .form-control-label {
  width: 100%;
  display: flex;
  padding-top: 6px; }
  .form-format-main .form-control-label.bold {
    font-weight: 700;
    color: #222; }
  .form-format-main .form-control-label label.bold {
    font-weight: 700;
    color: #222; }
  .form-format-main .form-control-label.right {
    text-align: right;
    justify-content: right; }
  .form-format-main .form-control-label.left {
    justify-content: left; }
    .form-format-main .form-control-label.left.reguler button {
      font-style: normal !important; }
.form-format-main label b {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  color: #838C95; }

.combodown-checkbox-filed {
  display: inline-block;
  width: 100%;
  height: 40px;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .combodown-checkbox-filed .toggle span {
    font-weight: 700;
    color: #222 !important; }
  .combodown-checkbox-filed:focus, .combodown-checkbox-filed:hover {
    color: #495057;
    background-color: #fff;
    border-color: #FF5E00;
    outline: none; }
  .combodown-checkbox-filed .dropdown {
    position: relative;
    height: 40px;
    padding: 0.65rem 0.75rem;
    display: flex;
    align-items: center; }
    .combodown-checkbox-filed .dropdown span {
      color: #222; }
    .combodown-checkbox-filed .dropdown a.toggle {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      .combodown-checkbox-filed .dropdown a.toggle i {
        color: #9F9F9F;
        font-size: 20px; }
  .combodown-checkbox-filed .dropdown-menu {
    display: none; }
  .combodown-checkbox-filed .toggle, .combodown-checkbox-filed .dropdown-menu {
    width: 100%; }
  .combodown-checkbox-filed .is-active .dropdown-menu, .combodown-checkbox-filed .is-active2 .dropdown-menu {
    display: block; }
  .combodown-checkbox-filed ul {
    box-shadow: none;
    padding: 0;
    border: 0;
    margin-top: 0; }
  .combodown-checkbox-filed .list-group-item label {
    text-align: left;
    margin-bottom: 0; }
  .combodown-checkbox-filed ul.list-group {
    margin-top: -2px; }

.mt48 {
  margin-top: 48px; }

.body-editor, .item-editor-block {
  display: inline-block;
  width: 100%; }

.item-editor-block .col-sm-12 {
  padding: 0; }

.item-editor-block {
  margin-bottom: 30px; }

.item-editor-block {
  display: inline-block;
  width: 100%;
  padding-right: 80px;
  position: relative; }
  .item-editor-block .tooltip-block {
    position: absolute;
    right: 0;
    top: 40px;
    width: 100px;
    display: flex;
    justify-content: center; }
    .item-editor-block .tooltip-block button {
      display: inline-block;
      width: 100%;
      outline: none;
      border: 0;
      background: none;
      text-align: center; }
      .item-editor-block .tooltip-block button img {
        width: 20px;
        margin-top: -29px; }
    .item-editor-block .tooltip-block span {
      position: absolute;
      right: 0;
      padding: 5px;
      width: 100%;
      display: none;
      visibility: hidden;
      opacity: 0;
      left: 0;
      top: 20px;
      background: #D9D9D9;
      text-align: center; }
      .item-editor-block .tooltip-block span b {
        display: inline-block;
        width: 100%;
        font-size: 12px;
        margin-top: -16px; }
      .item-editor-block .tooltip-block span img {
        margin-top: -34px;
        width: 33px !important; }
    .item-editor-block .tooltip-block:hover span {
      visibility: initial;
      opacity: 1;
      display: block; }

.filed-adition {
  display: inline-block;
  width: 100%;
  padding-right: 132px;
  margin-bottom: 20px;
  position: relative; }
  .filed-adition .col-sm-12 {
    padding: 0; }
  .filed-adition .button-adition {
    position: absolute;
    right: 82px;
    top: 29px;
    cursor: pointer;
    border: 1px solid #222;
    height: 40px;
    background: white;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .filed-adition .button-adition img {
      width: 20px; }
    .filed-adition .button-adition.top0 {
      top: 0 !important; }
    .filed-adition .button-adition.right0 {
      right: 0 !important; }
  .filed-adition.right-adition-default {
    padding-right: 49px !important;
    padding-left: 15px; }
    .filed-adition.right-adition-default input {
      font-style: italic; }
      .filed-adition.right-adition-default input:disabled {
        background: #F0F0F0 !important;
        font-weight: 700;
        border-radius: 0; }
        .filed-adition.right-adition-default input:disabled::placeholder {
          color: #000; }
      .filed-adition.right-adition-default input:required {
        border: 1px solid #FF5E00 !important; }
      .filed-adition.right-adition-default input.text-orange {
        border: 0 !important; }
        .filed-adition.right-adition-default input.text-orange:disabled {
          font-weight: 700; }
        .filed-adition.right-adition-default input.text-orange::placeholder {
          color: #FF5E00 !important;
          border-bottom: 1px solid #FF5E00;
          text-decoration: none;
          width: fit-content; }
    .filed-adition.right-adition-default .filed-orange-added {
      padding: 0;
      background: none;
      margin-top: 5px; }
      .filed-adition.right-adition-default .filed-orange-added span {
        font-size: 12px; }
    .filed-adition.right-adition-default .orange-pen {
      background: #FF5E00 !important;
      border: 0 !important;
      border-radius: 0;
      outline: none; }

.mb-30 {
  margin-bottom: 30px; }

a.link-border {
  border: 0 !important;
  color: #FF5E00 !important;
  background: none !important;
  padding-left: 0; }

.btn-main-component.flex {
  justify-content: space-between;
  width: 100%; }

.btn-action-group {
  display: flex; }
  .btn-action-group button {
    margin-left: 28px; }

.filed-orange-added {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-right: 100px;
  background: #FFEFE6;
  border-radius: 4px;
  color: #FF5E00;
  padding: 8px 11px;
  margin-top: 16px; }
  .filed-orange-added span {
    display: inline-block;
    width: 100%; }
  .filed-orange-added img {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 10px; }

.description-filed {
  display: inline-block;
  width: 100%;
  margin-top: 6px; }

.toggle span {
  color: #838C95 !important; }

.tb-attach-file {
  cursor: pointer; }
  .tb-attach-file .fileUploadWrap {
    position: relative; }
    .tb-attach-file .fileUploadWrap p {
      margin-bottom: 0;
      font-size: 14px;
      color: #222; }
  .tb-attach-file img {
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    width: 34px;
    top: 0;
    left: 0; }
  .tb-attach-file .fileName {
    position: absolute;
    left: 108px;
    top: 0;
    cursor: pointer;
    color: #222 !important;
    font-size: 14px !important;
    font-weight: normal !important;
    pointer-events: none;
    height: 100%;
    font-weight: 700 !important;
    display: flex;
    align-items: center; }
  .tb-attach-file input[type=file] {
    margin-left: 0;
    opacity: 0;
    height: 40px;
    margin-top: 0;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }

button.btn-attach {
  width: 92px;
  display: inline-block;
  border: 0;
  color: #222;
  background: #BEBEBE;
  height: 40px; }

.mb-10 {
  margin-bottom: 10%; }

body .dropdown.is-active ul {
  border: 1px solid #D9D9D9 !important; }
  body .dropdown.is-active ul li {
    border: 0 !important; }

body .required-txt {
  color: #FF5E00 !important;
  display: inline-block;
  width: 100%;
  margin-top: 5px; }
  body .required-txt.right {
    text-align: right;
    font-style: italic; }
  body .required-txt.none {
    display: none; }

.linkback {
  display: flex;
  align-items: center; }

.br-pagebody {
  position: relative;
  z-index: 0; }
  .br-pagebody .absolute-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 100%;
    padding: 20px;
    z-index: 999; }
    .br-pagebody .absolute-popup .absolute-popup-content {
      width: 100%;
      height: 100%;
      background: white;
      display: inline-block;
      position: relative;
      z-index: 9; }
      .br-pagebody .absolute-popup .absolute-popup-content.flex {
        display: flex;
        justify-content: center;
        padding-top: 0 !important;
        align-items: center; }

.close-absoulute-popup {
  position: absolute;
  cursor: pointer;
  right: 40px;
  top: 20px; }

.pt-50 {
  padding-top: 50px; }

.attach-file-button-only button {
  width: max-content !important;
  border: 1px solid #FF5E00 !important;
  color: #222 !important;
  font-weight: 700;
  background: white !important;
  cursor: pointer;
  padding: 0 19px; }
.attach-file-button-only p {
  display: none !important; }
.attach-file-button-only.right {
  position: relative; }
  .attach-file-button-only.right button {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
    width: max-content !important;
    border: 1px solid #D9D9D9 !important;
    color: #222 !important;
    background: white !important;
    padding: 0 19px; }
  .attach-file-button-only.right p {
    display: block !important;
    left: 0 !important;
    top: 8px; }

.tb-attach-file p.orange {
  color: #FF5E00 !important; }

.txt-credit-attachfile {
  position: absolute;
  right: 0;
  font-weight: 400;
  top: 10px;
  color: #AEB5BC;
  padding-right: 15px;
  font-size: 14px; }

.input-complete-filed.gray .bootstrap-tagsinput span {
  background: #C2C2C2;
  color: #222;
  font-weight: 700; }
  .input-complete-filed.gray .bootstrap-tagsinput span span {
    font-size: 13px;
    background: white;
    width: 22px;
    display: inherit;
    text-align: center;
    border-radius: 100px; }

.modal-backdrop {
  background-color: #fff; }

.modal-backdrop.show {
  opacity: 0.8; }

.modal-background::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: .8;
  content: ''; }

.title-thead {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .title-thead ul {
    left: initial;
    right: 0;
    width: max-content !important; }
    .title-thead ul li {
      padding: 5px 15px !important; }
      .title-thead ul li span {
        text-transform: none;
        font-weight: 400;
        font-size: 14px;
        font-family: 'Karla', sans-serif !important; }

.table-brow-thead table {
  margin-bottom: 0; }
  .table-brow-thead table tr {
    background: white !important; }
    .table-brow-thead table tr td.active {
      background: #D9D9D9 !important; }
.table-brow-thead thead tr th:nth-child(1) {
  min-width: initial; }
.table-brow-thead thead th {
  background: #465360 !important;
  color: white !important; }

.flex-infor-action {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .flex-infor-action span {
    font-size: 16px; }

.filed-adition-table {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 67px;
  padding-left: 40px; }
  .filed-adition-table.pr-10 {
    padding-right: 10px !important; }
  .filed-adition-table img:nth-child(1) {
    position: absolute;
    left: 10px;
    width: 20px;
    cursor: pointer;
    height: 20px; }
  .filed-adition-table img:nth-last-child(1) {
    position: absolute;
    right: 20px;
    width: 36px;
    cursor: pointer;
    height: 36px; }
  .filed-adition-table input {
    display: inline-block;
    width: 100%;
    height: 24px;
    border: 0;
    outline: none;
    color: #222; }
    .filed-adition-table input::placeholder {
      color: #9C9C9C; }

.mh-auto {
  min-height: initial !important; }

.wallpaper-body {
  margin-bottom: 40px; }

.w1100 {
  max-width: 1100px !important; }

.w750 {
  max-width: 750px !important; }

.no-border {
  border: 0 !important; }

.table-mw-610 {
  max-width: 610px; }

.br-sideleft, .br-header, .br-logo {
  z-index: 1; }

.popup-sacset span.category-headpopup {
  margin-bottom: 46px;
  display: inline-block;
  width: 100%;
  font-size: 22px;
  color: #838C95; }
.popup-sacset label.deslabel {
  font-size: 16px;
  color: #838C95;
  display: inline-block;
  width: 100%;
  margin: 30px 0; }
.popup-sacset .btn-main-component {
  margin-top: 0; }
.popup-sacset .table-popup {
  margin-top: 60px;
  display: inline-block;
  width: 100%; }
.popup-sacset .valider-btn {
  margin-top: 49px; }
  .popup-sacset .valider-btn button {
    float: right; }

.br-menu-sub .nav-link.active.flex {
  display: flex; }
  .br-menu-sub .nav-link.active.flex i.red {
    width: 7px;
    height: 7px;
    background: #EB3131;
    display: block;
    content: '';
    margin-left: 3px;
    border-radius: 100px; }

.list-group-item label.ckbox {
  position: relative;
  padding-left: 24px; }
  .list-group-item label.ckbox input {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px; }
  .list-group-item label.ckbox span {
    padding-left: 0;
    margin-top: -2px;
    display: inline-block;
    width: 100%; }

.form-default-data {
  border: 0 !important;
  max-width: 1110px;
  margin: auto; }
  .form-default-data .mg-t-20 {
    margin-top: 10px !important; }
  .form-default-data .left.alignCenter {
    align-items: center;
    justify-content: left; }
    .form-default-data .left.alignCenter label {
      font-weight: 700; }
  .form-default-data input:disabled, .form-default-data textarea:disabled {
    border: 0 !important;
    background: white; }
  .form-default-data textarea {
    height: 100px; }
  .form-default-data .pl50 {
    padding-left: 4px; }
  .form-default-data li.list-group-item {
    padding: 10px; }
    .form-default-data li.list-group-item label {
      margin-bottom: 0 !important; }

.left {
  justify-content: left; }
  .left.reguler {
    margin-top: 0 !important; }
    .left.reguler button {
      float: left;
      font-style: normal !important; }

.text-unline {
  text-decoration: underline !important; }
  .text-unline.orange {
    color: #FF5E00; }
    .text-unline.orange::placeholder {
      color: #FF5E00; }

.baseline {
  align-items: baseline !important; }

.p60 {
  padding: 60px 0 !important; }

.center-maxwidth {
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content; }
  .center-maxwidth button {
    width: fit-content;
    margin: auto;
    display: inline-block;
    margin: 0 15px;
    min-width: 137px;
    font-family: 'gotham_medium'; }

.flex-betwen {
  justify-content: right; }

.border-orange-text-normal button {
  font-style: normal !important; }

.marginl-0 {
  margin-left: 0 !important; }

.marginr-20 {
  margin-right: 20px !important; }

.btn-demande {
  display: inline-block;
  width: 100%; }
  .btn-demande .btn-main-component {
    display: inline-block;
    width: 100%; }
    .btn-demande .btn-main-component .betwen-flex {
      display: flex;
      margin: 90px 0 30px 0;
      justify-content: space-between; }
      .btn-demande .btn-main-component .betwen-flex button {
        width: fit-content;
        margin: 0; }

.table-responsive table thead th {
  font-weight: 700 !important;
  font-size: 13px !important; }
  .table-responsive table thead th.center {
    text-align: center; }
.table-responsive table thead .title-thead b {
  font-weight: 700 !important;
  font-size: 13px !important; }
.table-responsive table tbody tr td {
  font-size: 16px !important; }

.text-error {
  color: #868D95; }

.update-img {
  width: 100%;
  display: inline-block;
  text-align: center; }

.h141 {
  height: 141px; }

.font-30 {
  padding: 0 15px;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%; }
  .font-30 h1 {
    font-size: 30px; }

.bold16 {
  font-weight: 700;
  font-size: 15px;
  color: #222 !important; }

.table-block-three-colums {
  float: left;
  width: 100%; }
  .table-block-three-colums ul {
    float: left;
    width: 100%;
    max-width: 260px;
    margin: 0;
    border: 1px solid #dee2e6;
    padding: 0; }
    .table-block-three-colums ul li {
      list-style: none;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #dee2e6; }
      .table-block-three-colums ul li h6 {
        margin: 0; }
      .table-block-three-colums ul li:nth-last-child(1) {
        border-bottom: 0 !important; }
  .table-block-three-colums .head-ul {
    display: inline-block;
    width: 100%;
    border: 0; }
    .table-block-three-colums .head-ul h6 {
      color: white;
      font-weight: 700 !important;
      font-size: 13px !important;
      padding: 15px;
      background: #465360 !important;
      display: inline-block;
      width: 100%; }
  .table-block-three-colums .flex-infor-action {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 15px; }
  .table-block-three-colums .filed-adition-table {
    padding-top: 15px;
    padding-bottom: 15px; }

.table-ul-inPopup {
  padding: 30px; }
  .table-ul-inPopup ul {
    max-width: 25%; }

@media only screen and (max-width: 1500px) {
  .file-search {
    margin-left: 20px;
    width: 220px; }

  .table-responsive {
    overflow-x: auto; }
    .table-responsive table {
      min-width: 1440px; } }
.no-border-right {
  border-right: 0 !important; }

.flex-button {
  display: flex !important;
  justify-content: space-between;
  padding-top: 9px !important;
  padding-bottom: 9px !important; }

.popup-bg-break .br-sideleft, .popup-bg-break .br-logo, .popup-bg-break .br-header {
  z-index: 0 !important; }

.popup-bg-break .block-popup {
  display: block !important; }

/*# sourceMappingURL=style.css.map */
