
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@font-face {
    font-family: 'gotham_book';
    src: url("../lib/font/nvv_gotham-book-webfont.eot");
    src: url("../lib/font/nvv_gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../lib/font/nvv_gotham-book-webfont.woff") format("woff"), url("../lib/font/nvv_gotham-book-webfont.ttf") format("truetype"), url("../lib/font/nvv_gotham-book-webfont.svg#gotham_book") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'gotham_nvvbold';
    src: url("../lib/font/nvv_gotham-bold-webfont.eot");
    src: url("../lib/font/nvv_gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../lib/font/nvv_gotham-bold-webfont.woff") format("woff"), url("../lib/font/nvv_gotham-bold-webfont.ttf") format("truetype"), url("../lib/font/nvv_gotham-bold-webfont.svg#gotham_nvvbold") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'gotham_medium';
    src: url("../lib/font/Gotham-Medium.eot");
    src: url("../lib/font/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../lib/font/Gotham-Medium.woff") format("woff"), url("../lib/font/Gotham-Medium.ttf") format("truetype"), url("../lib/font/Gotham-Medium.svg#gotham_medium") format("svg");
    font-weight: normal;
    font-style: normal; }

    

body{
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    color: #222;
}
.br-logo img{
    height: 50px;
}
@mixin wh-100{
    display: inline-block;
    width: 100%;
}
.wallpaper-body{
    display: inline-block;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 4px;
    min-height: 650px;
    
}
.title-page-admin{
    @include wh-100();
    margin-bottom: 15px;
    &.flex{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        font-size: 24px;
        font-weight: 700;
        color: #222;
        font-family: 'gotham_nvvbold';
        margin-bottom: 0;
        img{
            height: 27px;
            margin-right: 5px;
        }
        &.text-transform{
            text-transform: uppercase;
        }
    }
}
.file-combox{
    position: relative;
    max-width: 300px;
    min-width: 260px;
    a{
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.15);
        height: 40px;
        padding: 0 10px;
        border-radius: 4px;
        width: 100%;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #222;
    }
    
.dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
  }
  
  .toggle, .dropdown-menu {
    width: 100%;
  }
  
  .is-active .dropdown-menu, .is-active2 .dropdown-menu {
    display: block;
  }
  ul{
    box-shadow: none;
    padding: 0;
    border: 0;
    margin-top: 0;
  }
  
}
.dropdown-checkbox{
    position: absolute;
    left: 0;
    top: 0;
}
.checkbox-dropdown{
    height: 36px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.btn-showdropdown{
    display: flex;
    justify-content: space-between;
}
.right-element-filed-head{
    display: flex;
    justify-content: space-between;
    .file-search{
        .input-group{
            input{
                height: initial;
            }
        }
    }
    a.toggle{
        span{
            color: #222 !important;
            font-weight: 700;
        }
    }
    .file-butotn-action{
        a{
            font-weight: 700;
        }
    }
}
.file-search{
    margin-left: 20px;
    width: 300px;
    span{
        button{
            background: #E79D3D !important;
            border: 1px solid #C58634 !important;
            i{
                color: white !important;
            }
        }
    }
}
.file-butotn-action{
    display: flex;
    a{
        display: flex;
        margin-left: 20px;
        align-items: center;
        height: 40px;
        border-radius: 0;
        img{
            margin-right: 7px;
        }
        &.green-btn{
            background: #4EAF98 !important;
        }
        &.orange-btn{
            background: #FF5E00 !important;
        }
    }
}
.btn-table{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    border: 0;
    outline: none;
    cursor: pointer;
    align-items: center;
    margin: 0 5px;
    img{
        width: 20px;
    }
    &.green-btn{
        background: #4EAF98 !important;
    }
    &.orange-btn{
        background: #FF5E00 !important;
    }
}
.btn-table-box{
    display: flex;
    &.flex-center{
        justify-content: center;
    }
    button{
        &:disabled{
            background: #AEB4BC !important;
            pointer-events: none;
        }
    }
}
table{
    tr{
        td{
            vertical-align: middle !important;
        }
    }
    thead{
        tr{
            th{
                color: #CAD8EF;
                font-size: 13px;
                font-family: 'gotham_nvvbold';
                text-transform: uppercase;
                &:nth-child(1){
                    min-width: 200px;
                }
            }
        }
        .dropdown {
            position: relative;
          }
          
          .dropdown-menu {
            display: none;
          }
          
          .toggle, .dropdown-menu {
            width: 100%;
          }
          
          .is-active .dropdown-menu , .is-active2 .dropdown-menu {
            display: block;
          }
          ul{
            box-shadow: none;
            padding: 0;
            border: 0;
            margin-top: 0;
          }
    }
    tbody{
        tr{
            &:nth-child(odd){
                background: #F0EFF0;
            }
        }
    }
}
.content-popup-des{
    &.center{
        text-align: center;
    }
    h4{
        &.title-popup-gray{
            @include wh-100();
            color: #838C95;
            font-size: 20px;
            text-align: center;
            margin-bottom: 59px;
        }
    }
    .bold-des{
        @include wh-100();
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 40px;
        font-family: 'gotham_nvvbold';
    }
}
.modal-body-outside{
    .modal-lg{
        max-width: 1110px !important;
        position: relative;
        width: 100%;
    }
    .modal-content{
        min-height: 632px;
        button.close{
            position: absolute;
            right: 30px;
            top: 30px;
            cursor: pointer;
            z-index: 1;
        }
    }
    .flex{
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
}
.no-head-border{
    @include wh-100();
    text-align: right;
    padding: 20px;
}

.btn-main-component{
    @include wh-100();
    margin-top: 42px;
    &.flex{
        display: flex;
        justify-content: right;
        width: fit-content;
        button{
            width: max-content;

        }
    }
    &.center{
        text-align: center;
    }
    a, button{
        height: 36px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        font-size: 14px;
        background: #FF5E00;
        width: fit-content;
        color: white;
        margin: auto;
        cursor: pointer;
        border: 0;
        outline: none;
        font-family: 'gotham_medium';
        img{
            margin-right: 8px;
            width: 18px;
        }
        &.border-orange{
            border: 1px solid #FF5E00;
            background: white;
            color: #FF5E00;
        }
        &.border-gray{
            border: 1px solid #222;
            background: white;
            color: #222;
        }
    }
}
.body-bordered{
    background: white;
    @include wh-100();
    border: 1px solid #F0EFF0;
    min-height: 500px;
    &.flex{
        justify-content: center;
        display: flex;
    }
}
.form-format-main{
    .btn-main-component{
        margin-top: 20px !important;
        a, button{
            justify-content: right;
        }
        &.right{
            float: right;
            width: fit-content;
            margin-right: 1px;
        }
      }
      .form-control-label{
        width: 100%;
        display: flex;
        padding-top: 6px;
        &.bold{
            font-weight: 700;
            color: #222;
        }
        label{
            &.bold{
                font-weight: 700;
                color: #222;
            }
        }
        &.right{
            text-align: right;
            justify-content: right;
        }
        &.left{
            justify-content: left;
            &.reguler{
                button{
                    font-style: normal !important;
                }
            }
        }

      }
    label{
        b{
            @include wh-100();
            font-weight: 400;
            font-size: 12px;
            color: #838C95;
        }
    }
}
.combodown-checkbox-filed{
    @include wh-100();
    height: 40px;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    .toggle{
        span{
            font-weight: 700;
            color: #222 !important;
        }
    }
    &:focus, &:hover{
        color: #495057;
        background-color: #fff;
        border-color: #FF5E00;
        outline: none;
    }
    .dropdown {
        position: relative;
    height: 40px;
    padding: 0.65rem 0.75rem;
    display: flex;
    align-items: center;
    span{
        color: #222;
    }
    a.toggle{
        display: flex;
            width: 100%;
            justify-content: space-between;
            i{
                color: #9F9F9F;
                font-size: 20px;
            }
    }
      }
      
      .dropdown-menu {
        display: none;
      }
      
      .toggle, .dropdown-menu {
        width: 100%;
      }
      
      .is-active .dropdown-menu, .is-active2 .dropdown-menu {
        display: block;
      }
      ul{
        box-shadow: none;
        padding: 0;
        border: 0;
        margin-top: 0;
      }
      .list-group-item{
        label{
            text-align: left;
            margin-bottom: 0;
        }
      }
      ul.list-group{
        margin-top: -2px;
      }
      
}
.mt48{
    margin-top: 48px;
}
.body-editor, .item-editor-block{
    @include wh-100();
}

.item-editor-block{
    .col-sm-12{
        padding: 0;
    }
}
.item-editor-block{
    margin-bottom: 30px;
}
.item-editor-block{
    @include wh-100();
    padding-right: 80px;
    position: relative;
    .tooltip-block{
        position: absolute;
        right: 0;
        top: 40px;
        width: 100px;
        display: flex;
        justify-content: center;
        button{
            @include wh-100();
            outline: none;
            border: 0;
            background: none;
            text-align: center;
            img{
                width: 20px;
                margin-top: -29px;
            }
        }
        span{
            position: absolute;
            right: 0;
            padding: 5px;
            width: 100%;
            display: none;
            visibility: hidden;
            opacity: 0;
            left: 0;
            top: 20px;
            background: #D9D9D9;
            text-align: center;
            b{
                @include wh-100();
                font-size: 12px;
                margin-top: -16px;
            }
            img{
                margin-top: -34px;
                width: 33px !important;
            }
        }
        &:hover{
            span{
                visibility: initial;
                opacity: 1;
                display: block;
            }
        }
    }
}
.filed-adition{
    @include wh-100();
    padding-right: 132px;
    margin-bottom: 20px;
    position: relative;
    .col-sm-12{
        padding: 0;
    }
    .button-adition{
        position: absolute;
        right: 82px;
        top: 29px;
        cursor: pointer;
        border: 1px solid #222;
        height: 40px;
        background: white;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 20px;
        }
        &.top0{
            top: 0 !important;
        }
        &.right0{
            right: 0 !important;
        }
    }
    &.right-adition-default{
        padding-right: 49px !important;
        padding-left: 15px;
        input{
            font-style: italic;
            &:disabled{
                background: #F0F0F0 !important;
                font-weight: 700;
                border-radius: 0;
                &::placeholder{
                    color:#000;
                }
            }
            &:required{
                border: 1px solid #FF5E00 !important;
            }
            &.text-orange{
                border: 0 !important;
                &:disabled{
                    font-weight: 700;
                }
                &::placeholder{
                    color: #FF5E00 !important;
                    border-bottom: 1px solid #FF5E00;
                    text-decoration: none;
                    width: fit-content;
                }
            }
        }
        .filed-orange-added{
            padding: 0;
            background: none;
            margin-top: 5px;
            span{
                font-size: 12px;
            }
        }
        .orange-pen{
            background: #FF5E00 !important;
            border: 0 !important;
            border-radius: 0;
            outline: none;
        }
    }
}
.mb-30{
    margin-bottom: 30px;
}
a.link-border{
    border: 0 !important;
    color: #FF5E00 !important;
    background: none !important;
    padding-left: 0;
}
.btn-main-component{
    &.flex{
        justify-content: space-between;
        width: 100%;
        
    }
}
.btn-action-group{
    display: flex;
    button{
        margin-left: 28px;
    }
}
.filed-orange-added{
    @include wh-100();
    position: relative;
    padding-right: 100px;
    background: #FFEFE6;
    border-radius: 4px;
    color: #FF5E00;
    padding: 8px 11px;
    margin-top: 16px;
    span{
        @include wh-100();
    }
    img{
        position: absolute;
        right: 10px;
        cursor: pointer;
        top: 10px;
    }
}
.description-filed{
    @include wh-100();
    margin-top: 6px;
}
.toggle{
    span{
        color: #838C95 !important;
    }
}
.tb-attach-file{
    cursor: pointer;
.fileUploadWrap {
	position: relative;
	p{
		margin-bottom: 0;
        font-size: 14px;
        color: #222;
	}
  }

  img {
	position: absolute;
    cursor: pointer;
    pointer-events: none;
    width: 34px;
    top: 0;
    left: 0;
  }
  .fileName {
    position: absolute;
    left: 108px;
    top: 0;
    cursor: pointer;
    color: #222 !important;
    font-size: 14px !important;
    font-weight: normal !important;
    pointer-events: none;
    height: 100%;
    font-weight: 700 !important;
    display: flex;
    align-items: center;
  }
  input[type=file] {
	margin-left: 0;
    opacity: 0;
    height: 40px;
    margin-top: 0;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
}

button.btn-attach{
    width: 92px;
    display: inline-block;
    border: 0;
    color: #222;
    background: #BEBEBE;
    height: 40px;

}
.mb-10{
    margin-bottom: 10%;
}
body .dropdown.is-active{
    ul{
        border: 1px solid #D9D9D9!important;
        li{
            border: 0 !important;
        }
    }
}
body .required-txt{
    color: #FF5E00 !important;
    @include wh-100();
    margin-top: 5px;
    &.right{
        text-align: right;
        font-style: italic;
    }
    &.none{
        display: none;
    }
}
.linkback{
    display: flex;
    align-items: center;
}
.br-pagebody{
    position: relative;
    z-index: 0;
    .absolute-popup{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index:9999;
        height: 100%;
        padding: 20px;
        z-index: 999;
        .absolute-popup-content{
            width: 100%;
            height: 100%;
            background: white;
            display: inline-block;
            position: relative;
            z-index: 9;
            &.flex{
                display: flex;
                justify-content: center;
                padding-top: 0 !important;
                align-items: center;
            }
        }
    }
}
.close-absoulute-popup{
    position: absolute;
    cursor: pointer;
    right: 40px;
    top: 20px;
}
.pt-50{
    padding-top: 50px;
}
.attach-file-button-only{
    button{
        width: max-content !important;
        border: 1px solid #FF5E00 !important;
        color: #222 !important;
        font-weight: 700;
        background: white !important;
        cursor: pointer;
        padding: 0 19px;
    }
    p{
        display: none !important;
    }
    &.right{
        position: relative;
        button{
            position: absolute;
            right: 0;
            cursor: pointer;
            top: 0;
            width: max-content !important;
            border: 1px solid #D9D9D9 !important;
            color: #222 !important;
            background: white !important;
            padding: 0 19px;
        }
        p{
            display: block !important;
            left: 0 !important;
            top: 8px;
        }
    }
}
.tb-attach-file p{
    &.orange{
        color: #FF5E00 !important;
    }
}
.txt-credit-attachfile{
    position: absolute;
    right: 0;
    font-weight: 400;
    top: 10px;
    color: #AEB5BC;
    padding-right: 15px;
    font-size: 14px;
}
.input-complete-filed {
    &.gray{
        .bootstrap-tagsinput{
            span{
                background: #C2C2C2;
                color: #222;
                font-weight: 700;
                span{
                    font-size: 13px;
                    background: white;
                    width: 22px;
                    display: inherit;
                    text-align: center;
                    border-radius: 100px;
                }
            }
        }
    }
}
.modal-backdrop {
    background-color: #fff;
}
.modal-backdrop.show {
    opacity: 0.8;
}
.modal-background{
    &::before{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: .8;
        content: '';
    }
}
.title-thead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        left: initial;
        right: 0;
        width: max-content !important;
        li{
            padding: 5px 15px !important;
            span{
                text-transform: none;
                font-weight: 400;
                font-size: 14px;
                font-family: 'Karla', sans-serif !important;
            }
        }
    }
}
.table-brow-thead{
    table{
        margin-bottom: 0;
        tr{
            background: white !important;
            td{
                &.active{
                    background: #D9D9D9 !important;
                }
            }
        }
    }
    thead{
        tr th:nth-child(1){
            min-width: initial;
        }
        th{
            background: #465360 !important;
            color: white !important;
        }
    }
}
.flex-infor-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
        font-size: 16px;
    }
}
.filed-adition-table{
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 67px;
    padding-left: 40px;
    &.pr-10{
        padding-right: 10px !important;
    }
    img{
        &:nth-child(1){
            position: absolute;
            left: 10px;
            width: 20px;
            cursor: pointer;
            height: 20px;
        }
        &:nth-last-child(1){
            position: absolute;
            right: 20px;
            width: 36px;
            cursor: pointer;
            height: 36px;
        }
    }
    input{
        @include wh-100();
        height: 24px;
        border: 0;
        outline: none;
        &::placeholder{
            color: #9C9C9C;
        }
        color: #222;
    }
}
.mh-auto{
    min-height: initial !important;
}
.wallpaper-body{
    margin-bottom: 40px;
}
.w1100{
    max-width: 1100px !important;
}
.w750{
    max-width: 750px !important;
}
.no-border{
    border: 0 !important;
}
.table-mw-610{
    max-width: 610px;
}
.br-sideleft, .br-header, .br-logo{
    z-index: 1;
}
.popup-sacset{
    span{
        &.category-headpopup{
            margin-bottom: 46px;
            @include wh-100();
            font-size: 22px;
            color: #838C95;
        }
    }
    label{
        &.deslabel{
            font-size: 16px;
            color: #838C95;
            @include wh-100();
            margin: 30px 0;
        }
    }
    .btn-main-component{
        margin-top: 0;
    }
    .table-popup{
        margin-top: 60px;
        @include wh-100();
    }
    .valider-btn{
        margin-top: 49px;
        button{
            float: right;
        }
    }
}
.br-menu-sub .nav-link.active{
    &.flex{
        display: flex;
        i.red{
            width: 7px;
        height:7px;
        background: #EB3131;
        display: block;
        content: '';
        margin-left: 3px;
        border-radius: 100px;
        }
    }
}
.list-group-item{
    label{
        &.ckbox{
            position: relative;
            padding-left: 24px;
            input{
                position: absolute;
                left: 0;
                height: 18px;
                width: 18px;
            }
            span{
                padding-left: 0;
                margin-top: -2px;
                display: inline-block;
                width: 100%;
            }
        }
    }
}
.form-default-data{
    border: 0 !important;
    max-width: 1110px;
    margin: auto;
    .mg-t-20{
        margin-top: 10px !important;
    }
    .left.alignCenter{
        align-items: center;
        justify-content: left;
        label{
            font-weight: 700;
        }
    }
    input, textarea{
        &:disabled{
            border: 0 !important;
            background: white;
        }
    }
    textarea{
        height: 100px;
    }
    .pl50{
        padding-left: 4px;
    }
    li{
        &.list-group-item{
            padding: 10px;
            label{
                margin-bottom: 0 !important;
            }
        }
    }
}
.left{
    justify-content: left;
    &.reguler{
        margin-top: 0 !important;
        button{
            float: left;
            font-style: normal !important;
        }
    }
}
.text-unline{
    text-decoration: underline !important;
    &.orange{
        color: #FF5E00;
        &::placeholder{
            color: #FF5E00;
        }
    }
}
.baseline{
    align-items: baseline !important;
}
.p60{
    padding: 60px 0 !important;
}
.center-maxwidth{
    display: flex;
    justify-content: center;
    margin: auto;
    width: fit-content;
    button{
        width: fit-content;
        margin: auto;
        display: inline-block;
        margin: 0 15px;
        min-width: 137px;
        font-family: 'gotham_medium';

    }
}
.flex-betwen{
    justify-content: right;
}
.border-orange-text-normal{
    button{
        font-style: normal !important;
    }
}
.marginl-0{
    margin-left: 0 !important;
}
.marginr-20{
    margin-right: 20px !important;
}
.btn-demande{
    @include wh-100();
    .btn-main-component{
        @include wh-100();
        .betwen-flex{
            display: flex;
            margin: 90px 0 30px 0;
            justify-content: space-between;
            button{
                width: fit-content;
                margin: 0;
                
            }
        }
    }
}
.table-responsive{
    table{
        thead{
            th{
                font-weight: 700 !important;
                font-size: 13px !important;
                &.center{
                    text-align: center;
                }
            }
            .title-thead{
                b{
                    font-weight: 700 !important;
                    font-size: 13px !important; 
                }
            }
        }
        tbody{
            tr{
                td{
                    font-size: 16px !important;
                }
            }
        }
    }
}
.text-error{
    color: #868D95;
}
.update-img{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.h141{
    height: 141px;
}
.font-30{
    padding: 0 15px;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    h1{
        font-size: 30px;
    }
  }
  .bold16{
    font-weight: 700;
    font-size: 15px;
    color: #222 !important;
  }
  .table-block-three-colums{
    float: left;
    width: 100%;
    ul{
        float: left;
        width: 100%;
        max-width: 260px;
        margin: 0;
        border: 1px solid #dee2e6;
        padding: 0;
        li{
            list-style: none;
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #dee2e6;
            h6{
                margin: 0;
            }
            &:nth-last-child(1){
                border-bottom: 0 !important;
            }
        }
    }
    .head-ul{
        display: inline-block;
        width: 100%;
        border: 0;
        h6{
            color: white;
            font-weight: 700 !important;
            font-size: 13px !important;
            padding: 15px;
            background: #465360 !important;
            display: inline-block;
            width: 100%;
        }
    }
    .flex-infor-action{
        display: inline-block;
        width: 100%;
        text-align: left;
        padding: 15px;
    }
    .filed-adition-table{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.table-ul-inPopup{
    padding: 30px;
    ul{
        max-width: 25%;
    }
}
@media only screen and (max-width: 1500px) {
    .file-search {
        margin-left: 20px;
        width: 220px;
    }
   .table-responsive{
    overflow-x: auto;
    table{
        min-width: 1440px;
    }
   }
  }
  
  .no-border-right{
    border-right: 0 !important;
  }
  .flex-button{
    display: flex !important;
    justify-content: space-between;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
  }
  .popup-bg-break {
    .br-sideleft, .br-logo, .br-header{
        z-index: 0 !important;
      }
  }
  .popup-bg-break{
    .block-popup{
        display: block !important;
    }
  }