@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none; }

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #3C3B39; }

h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  width: 100%; }

.w500 {
  max-width: 500px; }

.form-login {
  display: flex;
  align-items: center;
  height: 100vh; }

.form-login-content {
  width: 400px; }

.mr-10 {
  margin-right: 10px; }

.ml-10 {
  margin-left: 10px; }

.button-form {
  display: flex;
  width: 100%; }
  .button-form.center {
    text-align: center;
    justify-content: center; }
  .button-form button {
    padding: 10px 30px;
    border-radius: 4px;
    height: 58px;
    margin-top: 30px;
    min-width: 205px;
    font-size: 16px;
    font-weight: 700;
    background: #EA5614;
    color: white !important; }
    .button-form button:disabled {
      background: #ADACA9 !important; }
    .button-form button.mw {
      min-width: 70px !important; }
    .button-form button.red {
      background: #EA143D !important; }
    .button-form button.green {
      background: #14EA56 !important; }
    .button-form button.violet {
      background: #921C81 !important; }

.infor-head p {
  text-align: right;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: -5px; }
  .infor-head p b, .infor-head p span {
    font-size: 13px;
    line-height: 19px; }

.no-flex {
  display: inline-block !important; }

.percent {
  display: inline-block;
  width: 100%; }
  .percent button {
    height: 45px;
    border: 1px solid #A9A9A9;
    padding: 0 30px;
    border-radius: 4px;
    width: initial;
    outline: none;
    display: flex;
    float: left;
    margin-top: 20px;
    font-weight: 700;
    background: none !important;
    align-items: center;
    justify-content: center; }

.add-infor {
  background: #ADACA9;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 15px;
  float: left; }
  .add-infor span {
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white;
    float: left; }
  .add-infor button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 0;
    outline: none;
    background: #921C81;
    display: flex;
    align-items: center;
    justify-content: center; }
    .add-infor button img {
      max-width: 100%;
      transform: rotate(45deg); }

.add-btn {
  float: left;
  margin-left: 10px;
  margin-top: 15px; }
  .add-btn button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 0;
    outline: none;
    background: #921C81;
    display: flex;
    align-items: center;
    justify-content: center; }
    .add-btn button img {
      max-width: 100%; }

.des-mic {
  position: relative;
  padding-right: 50px; }
  .des-mic img {
    position: absolute;
    right: 15px;
    top: 20px; }

.radiobutton-form {
  display: flex; }

.container-radio-btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 0px;
  border-radius: 4px;
  height: 58px;
  margin-top: 10px;
  min-width: 92px;
  font-size: 16px;
  font-weight: 700;
  color: white !important;
  margin-right: 10px;
  position: relative; }
  .container-radio-btn b {
    position: absolute;
    top: 0px;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 99;
    height: 100%;
    width: 100%; }
  .container-radio-btn span::after {
    opacity: 0; }

/* Hide the browser's default radio button */
.container-radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0 !important;
  border-radius: 4px !important;
  height: 55px;
  background-color: #cac9c7 !important; }

/* On mouse-over, add a grey background color */
.container-radio-btn:hover input ~ .checkmark {
  background-color: #cac9c7 !important; }

/* When the radio button is checked, add a blue background */
.container-radio-btn input:checked ~ .checkmark {
  background-color: #921C81 !important; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.container-radio-btn input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.container-radio-btn .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white; }

.item-process2 {
  box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  padding: 30px; }
  .item-process2 .infor-process {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .item-process2 .infor-process button {
      background: #EA5614;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 60px;
      border: 0;
      color: white;
      outline: none;
      border-radius: 5px; }
      .item-process2 .infor-process button.green {
        background: #14EA56; }

.item-process {
  box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  padding: 30px; }
  .item-process .filed-style {
    padding: 0 15px;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 10px;
    height: 45px;
    border: 1px solid #ADACA9;
    display: inline-block; }
  .item-process .load-line {
    width: 100%;
    display: inline-block;
    width: 100%;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    background: #DADADA; }
    .item-process .load-line span {
      position: absolute;
      left: 0;
      top: 0;
      height: 16px;
      width: 30%;
      background: #921C81; }
  .item-process h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%; }
  .item-process p {
    margin-bottom: 0;
    margin-top: 20px; }
  .item-process .button-form button {
    min-width: 150px;
    height: 44px;
    margin-right: 5px;
    margin-top: 20px; }

.mic-box {
  position: relative;
  padding-right: 255px; }
  .mic-box .button-form {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 200px; }
    .mic-box .button-form button {
      width: 100%;
      margin-bottom: 16px;
      margin-top: 0%;
      height: 58px; }

.mw-500 {
  max-width: 568px;
  margin: auto; }

/*--css combobox--*/
.custom-select {
  position: relative;
  height: 48px;
  display: flex;
  border: 1px solid #ADACA9 !important;
  align-items: center; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  top: 7px; }

.select-selected {
  width: 100%;
  display: inline-block;
  cursor: pointer; }

/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  cursor: pointer;
  right: 0;
  z-index: 99;
  border: 1px solid #ADACA9 !important;
  box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06); }
  .select-items div {
    padding: 10px 15px; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

/*-- end combobox--*/
.box-mic-text {
  position: relative;
  padding: 15px;
  padding-right: 70px;
  margin-bottom: 20px;
  margin-top: 15px;
  border: 1px solid #A9A9A9; }
  .box-mic-text textarea {
    margin-top: 0;
    border: 0;
    width: 100%; }
  .box-mic-text img {
    position: absolute;
    right: 15px;
    top: 21px; }

.form-Incontent-page {
  box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
  padding: 30px 0 50px 0; }
  .form-Incontent-page h6 {
    margin-bottom: 50px;
    font-weight: 400; }

.form-Incontent-page span {
  font-style: italic;
  margin-top: 20px;
  display: inline-block;
  width: 100%; }
.form-Incontent-page .button-form button {
  margin-top: 0px !important; }
.form-Incontent-page .filed-input {
  border-color: #ADACA9 !important; }

img {
  max-width: 100%; }

.button-action-Incontentpage button {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  width: 49%;
  min-width: inherit; }
.button-action-Incontentpage .button-form {
  display: flex; }
  .button-action-Incontentpage .button-form button {
    margin-left: 2%; }

.bg-login {
  background: url(../images/bg-login.png) no-repeat center top;
  height: 100vh;
  display: inline-block;
  width: 100%;
  background-size: cover;
  padding: 0; }

.copyright-page {
  position: absolute;
  left: 50px;
  bottom: 30px; }

.login {
  position: fixed;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  display: inline-block; }
  .login .content-login-body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.icon-target {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center; }
  .icon-target img {
    margin-right: -70px;
    display: inline-block;
    width: 100px; }

.error-label {
  font-style: italic;
  color: #EA143D;
  margin-top: 15px;
  display: inline-block;
  width: 100%; }

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .popup-background::before {
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: .7; }

.livestreamVideo {
  float: left;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%; }
  .livestreamVideo video {
    position: absolute;
    width: 100%;
    right: 0;
    object-fit: cover;
    top: 0;
    height: 100%; }

.button-research {
  align-items: center;
  display: flex;
  justify-content: space-between; }
  .button-research.right {
    justify-content: right; }

.afficher-columns img {
  float: left;
  width: 50% !important; }

.body-content-popup {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; }
  .body-content-popup button {
    min-width: 150px; }
  .body-content-popup .button-form.center button {
    margin: 0 5px !important; }

.label-filed {
  display: flex;
  align-items: center; }
  .label-filed label {
    margin-bottom: 0; }

.no-shadow {
  box-shadow: none;
  padding: 0 !important; }

.content-popup {
  width: 100%;
  max-width: 540px;
  background: white;
  padding: 30px;
  z-index: 1;
  border-radius: 4px; }
  .content-popup.center {
    text-align: center; }

.content-process {
  display: inline-block;
  width: 100%; }
  .content-process .afficher-columns {
    position: relative;
    display: inline-block;
    width: 100%; }
    .content-process .afficher-columns.green img {
      border: 1px solid #14EA56; }
    .content-process .afficher-columns.red img {
      border: 1px solid #EA143D; }
    .content-process .afficher-columns .afficher-columns-item {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      .content-process .afficher-columns .afficher-columns-item .input-file-btn {
        margin-top: 6px;
        margin-right: 4px;
        display: inline-block; }
        .content-process .afficher-columns .afficher-columns-item .input-file-btn [type="file"] {
          height: 0;
          overflow: hidden;
          width: 0; }
        .content-process .afficher-columns .afficher-columns-item .input-file-btn [type="file"] + label {
          background: #f15d22;
          border: none;
          border-radius: 5px;
          width: 170px;
          text-align: center;
          color: #fff;
          cursor: pointer;
          display: inline-block;
          outline: none;
          height: 45px;
          position: relative;
          transition: all 0.3s;
          margin-top: 1px;
          padding-top: 8px;
          vertical-align: middle; }
          .content-process .afficher-columns .afficher-columns-item .input-file-btn [type="file"] + label:hover {
            background-color: #d3460d; }
      .content-process .afficher-columns .afficher-columns-item button {
        height: 45px;
        background: #EA5614;
        align-items: center;
        color: white;
        padding: 0 30px;
        border-radius: 4px;
        margin: 0 5px;
        width: 170px;
        border: 0; }
        .content-process .afficher-columns .afficher-columns-item button::placeholder {
          color: white; }
        .content-process .afficher-columns .afficher-columns-item button.violet {
          background: #921C81 !important; }
    .content-process .afficher-columns img {
      width: 100%; }

.form-login-content {
  position: relative; }
  .form-login-content .logo {
    margin-bottom: 70px; }
  .form-login-content h1 {
    margin-bottom: 30px; }

.filed-form {
  display: inline-block;
  width: 100%; }
  .filed-form label {
    font-weight: 600;
    width: 100%;
    display: inline-block; }
  .filed-form input {
    height: 58px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #EAEAEA; }

.form-login {
  position: relative; }
  .form-login .filed-form input {
    border: 1px solid #EA5614; }

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: white;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  padding: 0 60px; }
  header .logo-head {
    padding: 15px 0;
    display: flex;
    align-items: center; }
    header .logo-head h1 {
      font-size: 20px; }
    header .logo-head img {
      margin-right: 30px;
      height: 50px !important; }

.r-10 {
  margin-right: 10px; }

.l-10 {
  margin-left: 10px; }

.body-content {
  padding-top: 50px;
  min-height: 700px;
  display: inline-block;
  width: 100%; }

.button-top-table button {
  background: #EA5614;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 60px;
  border: 0;
  outline: none;
  border-radius: 5px;
  color: white;
  font-weight: 600; }

.box-search-infor {
  display: flex;
  align-items: center; }
  .box-search-infor span {
    margin-right: 20px; }

.page-content .search-page {
  border: 1px solid #ADACA9;
  width: 270px;
  height: 45px;
  position: relative;
  padding-left: 50px;
  padding-right: 15px; }
  .page-content .search-page img {
    position: absolute;
    left: 20px;
    top: 12px;
    width: 20px; }
  .page-content .search-page input {
    width: 100%;
    height: 43px;
    background-color: white;
    border: 0; }

.form-group input.filed-input {
  height: 48px; }

.menu-nav nav ul {
  display: flex;
  height: 100%;
  margin-bottom: 0; }
  .menu-nav nav ul li {
    list-style: none;
    padding: 0 15px; }
    .menu-nav nav ul li a {
      color: #3C3B39; }
      .menu-nav nav ul li a.active {
        color: #EA5614;
        font-weight: 700; }

.mt--30 {
  margin-top: -30px;
  margin-bottom: 30px; }

.w-img-table {
  width: 250px; }

.btn-selection-img {
  margin-top: -62px;
  margin-bottom: 30px; }
  .btn-selection-img button {
    opacity: 1 !important; }

.img-seclection-popup {
  display: flex; }
  .img-seclection-popup .img-item-selection {
    width: 50%;
    display: inline-block; }
  .img-seclection-popup img {
    width: 100%; }

.popup-size-850 {
  max-width: 850px; }

.selection-popup {
  padding: 0 !important;
  padding-bottom: 30px !important; }
  .selection-popup img {
    margin-bottom: 30px; }

table td img {
  width: 100%; }

.action-table {
  float: right;
  display: flex; }
  .action-table button.violet {
    border-color: #921C81 !important; }
    .action-table button.violet span {
      color: #921C81 !important; }
  .action-table.violet button {
    border-color: #921C81 !important;
    color: #921C81 !important; }
    .action-table.violet button span {
      color: #921C81 !important; }
    .action-table.violet button img path {
      fill: #921C81 !important; }
  .action-table button {
    background: white;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 0 30px;
    border: 1px solid #EA5614;
    outline: none;
    border-radius: 5px; }
    .action-table button span {
      color: #EA5614;
      font-size: 16px;
      font-weight: 600;
      margin-right: 10px; }
    .action-table button img {
      width: 20px; }

button:hover {
  opacity: .8; }

.pagging-table {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px; }
  .pagging-table .content-pagging {
    display: flex;
    align-items: center; }
    .pagging-table .content-pagging span {
      font-size: 16px;
      padding: 0 5px; }
    .pagging-table .content-pagging input {
      height: 30px;
      border-radius: 4px;
      width: 50px;
      text-align: center;
      padding: 0 5px;
      border: 1px solid #EA5614; }
    .pagging-table .content-pagging button {
      height: 30px;
      width: 50px;
      background: #EA5614;
      border: 0;
      outline: none;
      margin: 0 2px;
      text-align: center;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center; }

.pagging-table .content-pagging span {
  font-size: 14px; }

.copyright-page-row {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 40px 0; }

.infor-page {
  text-align: center; }
  .infor-page .infor-logo-name {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center; }
    .infor-page .infor-logo-name h1 {
      margin-left: 15px;
      width: initial; }
  .infor-page .text-des-infor p {
    max-width: 700px;
    margin: auto;
    display: flex;
    margin-bottom: 15px; }
    .infor-page .text-des-infor p span {
      display: inline-block;
      width: 50%;
      text-align: left; }
    .infor-page .text-des-infor p b {
      display: inline-block;
      width: 50%;
      text-align: left;
      font-weight: 600;
      padding-left: 20px; }

.text-green {
  color: #14EA56 !important; }

.table-content {
  margin-top: 20px;
  display: inline-block;
  width: 100%; }
  .table-content table {
    background: white;
    overflow: hidden;
    box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
    border-radius: 0 0 8px 8px; }
    .table-content table thead th {
      vertical-align: middle;
      border-bottom: 0;
      border-top: 0;
      background: #EA5614;
      color: white;
      font-weight: 600;
      padding: 10px 10px;
      font-size: 16px;
      min-width: 150px; }
      .table-content table thead th:nth-child(1) {
        padding-left: 50px;
        width: 100px !important;
        min-width: initial; }
      .table-content table thead th:nth-last-child(1) {
        padding-right: 50px; }
    .table-content table tbody tr td {
      vertical-align: inherit;
      padding: 10px; }
      .table-content table tbody tr td:nth-child(1) {
        padding-left: 50px; }
      .table-content table tbody tr td:nth-last-child(1) {
        padding-right: 50px; }

.right-header {
  display: flex;
  align-items: center;
  padding: 10px 0; }

.mw-150 {
  min-width: 150px !important; }

.avatar-header {
  align-items: center;
  display: flex; }
  .avatar-header span {
    margin-left: 10px;
    display: inline-block;
    white-space: pre; }

.button-head {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  width: 100%; }
  .button-head button {
    margin: 0 10px; }

.container {
  max-width: 1400px; }

.button-head {
  margin-left: 20px; }
  .button-head button {
    background: #EA5614;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 60px;
    border: 0;
    outline: none;
    border-radius: 5px; }
    .button-head button.violet {
      background: #921C81 !important; }
    .button-head button span {
      color: white;
      font-size: 16px;
      font-weight: 700;
      margin-right: 10px; }

.content-eperateur {
  text-align: center;
  background-color: white;
  box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
  border-radius: 4px;
  padding: 30px 0 50px 0;
  margin-top: 40px; }
  .content-eperateur input {
    padding: 0 15px;
    margin-top: 15px;
    width: 347px;
    margin-bottom: 10px;
    height: 45px;
    border: 1px solid #ADACA9;
    display: inline-block; }
  .content-eperateur b, .content-eperateur span {
    display: inline-block;
    width: 100%; }

@media only screen and (max-width: 1450px) {
  .item-process .button-form button {
    min-width: 118px; }

  .container {
    max-width: 1240px; }

  body {
    font-size: 13px; }

  .button-head button span {
    font-size: 14px; }

  .button-head button {
    height: 45px;
    padding: 0 40px; }

  .filed-form input {
    height: 45px; }

  .button-form button {
    height: 50px;
    font-size: 14px;
    margin-top: 10px; }

  .action-table button span {
    font-size: 14px; }

  .form-login-content .logo {
    margin-bottom: 30px; } }

/*# sourceMappingURL=style.css.map */
