.popup-thankyou .slide-room,
.popup-thankyou .slide-room.setwidth .room-slide {
  display: inline-block !important;
  width: 100% !important; }

.popup-thankyou .news-content-popup {
  height: 100%;
  display: flex;
  align-content: center;
  -ms-flex-pack: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  transition: all 0.3s ease-in-out; }

.popup-thankyou h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 29px;
  text-align: left;
  margin-top: 15px;
  display: inline-block;
  width: 100%; }

.popup-thankyou .popu-tienich-content {
  display: flex;
  align-items: center;
  justify-content: center; }

.hotline-noted-360 {
  position: fixed;
  right: 10px; }

.thuvien-tab .tab-title {
  justify-content: center; }

.hotline-noted-360 a {
  background: #0da3db;
  width: 60px;
  height: 60px;
  padding: 1px 4px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  animation-name: trin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1){
    z-index: 9;
  }
.thuvien-tab .tab-title {
  justify-content: center; }

.thuvien-tab .tab-title a {
  font-size: 13px;
  padding: 14px !important; }

@keyframes trin {
  from {
    transform: rotate3d(0, 0, 1, 0deg); }
  20%, 32%, 44%, 56%, 68% {
    transform: rotate3d(0, 0, 1, 0deg); }
  23%, 35%, 47%, 59%, 71% {
    transform: rotate3d(0, 0, 1, 15deg); }
  26%, 38%, 50%, 62%, 74% {
    transform: rotate3d(0, 0, 1, 0deg); }
  29%, 41%, 53%, 65%, 77% {
    transform: rotate3d(0, 0, 1, -15deg); }
  80% {
    transform: rotate3d(0, 0, 1, 0deg); } }
.hotline-noted-360 a:nth-child(1)::after, .hotline-noted-360 a:nth-child(2)::after, .hotline-noted-360 a:nth-child(3)::after {
  height: 30px;
  position: absolute;
  right: 13px;
  top: 14px; }

.popup-thanks-content {
  text-align: center; }
  .popup-thanks-content h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 35px; }
    .popup-thanks-content h1::after {
      display: none !important; }
  .popup-thanks-content p {
    font-size: 20px;
    color: white; }

.popup-thankyou h1::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #0da3db; }

.popup-thankyou .title-news-detail {
  padding-left: 0 !important; }

.popup-thankyou .eidtor-news {
  max-width: 1000px; }

.popup-thankyou .eidtor-news img {
  margin-top: 20px !important; }

.copyright-text {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1;
  color: #fff;
  font-size: 12px; }

.popup-thankyou {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 999; }

.popup-thankyou::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: #000;
  opacity: 0.5; }

.popup-thankyou .popu-tienich-content {
  position: fixed;
  top: 0;
  z-index: 99;
  background: url("../images/view-room.jpg") no-repeat center top;
  left: 0;
  background-size: cover !important;
  width: 100%;
  height: 100%; }

.popup-thankyou.active {
  display: block !important; }

.content-popup-thankyou {
  text-align: center; }
  .content-popup-thankyou img {
    width: 260px !important;
    margin-bottom: 30px !important; }
  .content-popup-thankyou h2 {
    font-size: 36px;
    color: white;
    display: inline-block;
    width: 100%;
    text-transform: uppercase; }
  .content-popup-thankyou p {
    font-size: 20px;
    color: white;
    display: inline-block;
    width: 100%; }

.tab-title a {
  width: 14.2857%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center; }

.tab-title {
  z-index: 9; }

#update-content-tab2-1 .tang1-mb-block-a5 {
  background: url(../images/tangtret_Blocka3.png) no-repeat center top;
  display: inline-block;
  width: 100%;
  background-size: initial !important;
  height: 100%; }
  #update-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(1) {
    margin-left: 16px; }
  #update-content-tab2-1 .tang1-mb-block-a5 .room-1 {
    margin-right: 33px !important;
    margin-top: 42px !important; }
  #update-content-tab2-1 .tang1-mb-block-a5 .room-list-bottom {
    width: 1400px !important;
    margin-top: 82px !important; }
    #update-content-tab2-1 .tang1-mb-block-a5 .room-list-bottom .room-1:nth-child(1) {
      margin-left: 790px !important; }
    #update-content-tab2-1 .tang1-mb-block-a5 .room-list-bottom .room-1 {
      margin-right: -4px !important;
      margin-top: 42px !important; }

#update-content-tab1-1 .mb-block-a5-tang-2 {
  background: url(../images/tang2_Blocka3.png) no-repeat center top;
  display: inline-block;
  width: 100%;
  background-size: initial !important;
  height: 100%; }
  #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top {
    width: 1317px;
    margin: 324px auto 0 auto;
    height: 177px; }
  #update-content-tab1-1 .mb-block-a5-tang-2 .room-1 {
    margin-right: -1px !important;
    margin-top: 42px !important; }
  #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(4) {
    margin-left: 142px; }
  #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(4) {
    margin-left: 150px; }
  #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(5), #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(6), #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(7), #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(8),
  #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(9) {
    margin-top: 231px !important; }
  #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(5) {
    margin-left: -135px !important; }
  #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(6) {
    margin-left: -13px !important; }
  #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(7) {
    margin-left: -13px !important; }
  #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(8) {
    margin-left: -13px !important; }
  #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(9) {
    margin-left: -13px !important; }

#update-content-tab3-1 .mb-block-a5-tang-3-12 {
  background: url(../images/tang3-12.png) no-repeat center top;
  display: inline-block;
  width: 100%;
  background-size: initial !important;
  height: 100%; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top {
    width: 1287px;
    margin: 154px auto 0 auto;
    height: 177px; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-1 {
    margin-right: 100px !important;
    margin-left: -77px;
    margin-top: 42px !important; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(4) {
    margin-left: 142px; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(4) {
    margin-left: -90px; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(5), #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(6), #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(7), #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(8),
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(9) {
    margin-top: 231px !important; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(5) {
    margin-left: -675px !important; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(6) {
    margin-left: -525px !important; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(7) {
    margin-left: -386px !important; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(8) {
    margin-left: -13px !important; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(9) {
    margin-left: -13px !important; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top-3-12 {
    top: 10px;
    left: 0; }
  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 {
    margin-top: 20px !IMPORTANT; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(1) {
      margin-right: 55px !important;
      margin-left: -94px !IMPORTANT; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(3) {
      margin-right: 55px !important;
      margin-left: -94px !IMPORTANT; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(4) {
      margin-left: -67px !important;
      margin-right: 0 !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(5) {
      margin-left: -2px !important;
      margin-top: 40px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(6) {
      margin-left: 388px !important;
      margin-top: 40px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(7) {
      margin-left: -82px !important;
      margin-top: 40px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(8) {
      margin-left: -102px !important;
      margin-top: 40px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(9) {
      margin-left: -102px !important;
      margin-top: 40px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(10) {
      margin-left: -102px !important;
      margin-top: 40px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(11) {
      margin-left: -102px !important;
      margin-top: 40px !important; }

#update2-content-tab2-1 .tang1-mb-block-a5 {
  background: url(../images/block-4-tangtret.jpg) no-repeat center top;
  display: inline-block;
  width: 100%;
  background-size: initial !important;
  height: 100%; }
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top {
    width: 1347px;
    margin: 214px auto 0 auto;
    height: 177px;
    text-align: left; }
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-1 {
    margin-right: 47px !important;
    margin-top: 42px !important; }
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(4) {
    margin-left: -10px !important; }
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(4) {
    margin-left: 150px; }
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(1) {
    margin-left: 19px; }
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(5), #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(6), #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(7), #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(8),
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(9) {
    margin-top: 231px !important; }
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(5) {
    margin-left: -135px !important; }
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(6) {
    margin-left: -13px !important; }
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(7) {
    margin-left: -13px !important; }
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(8) {
    margin-left: -13px !important; }
  #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(9) {
    margin-left: -13px !important; }
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret{
  background: url(../images/block-a1-tangtret.png) no-repeat top center !important;
}
#update-content-tab1-1 .blocka1-tang-2{
  background: url(../images/block-a1-tang-2.png) no-repeat top center !important;
}
#update-content-tab3-1 .blocka1-tang312{
  background: url(../images/block-a1-tang-3-12.png) no-repeat top center !important;
}

#update2-content-tab1-1 .mb-block-a5-tang-2 {
  background: url(../images/block-4-tang2.jpg) no-repeat center top;
  display: inline-block;
  width: 100%;
  background-size: initial !important;
  height: 100%; }
  #update2-content-tab1-1 .mb-block-a5-tang-2 .room-list-top {
    width: 1367px;
    margin: 390px auto 0 auto;
    height: 177px;
    text-align: left; }
  #update2-content-tab1-1 .mb-block-a5-tang-2 .room-1 {
    margin-right: 7px !important;
    margin-top: 42px !important; }
  #update2-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(4) {
    margin-left: 145px !important;
    margin-right: -18px !important; }
  #update2-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(5) {
    margin-right: 0 !important; }
  #update2-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(8) {
    margin-right: 0 !important;
    margin-left: -35px !important; }
  #update2-content-tab1-1 .mb-block-a5-tang-2 .bottomlist-block4 {
    width: 1210px;
    margin: 10px auto 0 auto;
    text-align: left;
    padding-left: 519px; }
    #update2-content-tab1-1 .mb-block-a5-tang-2 .bottomlist-block4 .room-1 {
      width: 111px !important;
      margin-top: 22px !important; }
    #update2-content-tab1-1 .mb-block-a5-tang-2 .bottomlist-block4 .room-1:nth-child(4) {
      margin-left: 0 !important;
      margin-right: -18px !important; }
    #update2-content-tab1-1 .mb-block-a5-tang-2 .bottomlist-block4 .room-1:nth-child(5) {
      margin-right: 0 !important;
      margin-left: 60px !important; }
    #update2-content-tab1-1 .mb-block-a5-tang-2 .bottomlist-block4 .room-1:nth-child(8) {
      margin-right: 0 !important;
      margin-left: -35px !important; }

#update2-content-tab3-1 .mb-block-a5-tang-3-12 {
  background: url(../images/block-4-tang3-12.jpg) no-repeat center top;
  display: inline-block;
  width: 100%;
  background-size: initial !important;
  height: 100%; }
  #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top {
    width: 1367px;
    margin: 160px auto 0 auto;
    height: 177px;
    text-align: left; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(1) {
      margin-left: 0 !important;
      margin-right: 0 !important; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(4) {
      margin-left: 3px !important;
      margin-right: 0 !important; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block4 {
      margin-top: 0 !important;
      display: flex;
      width: 1120px; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block4 .room-1:nth-child(1) {
        margin-left: -123px !important; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block4 .room-1 {
        margin-top: 25px !important; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block4 .room-1:nth-child(4) {
        margin-left: 154px !important; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 {
      width: 1067px;
      margin: -10px auto 0 auto;
      padding-left: 130px; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 .room-1:nth-child(1) {
        margin-left: 182px !important;
        margin-right: 0px !important; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 .room-1:nth-child(2) {
        margin-right: 13px !important;
        margin-left: 32px; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 .room-1:nth-child(4) {
        margin-right: 0px !important;
        margin-left: 0 !important; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 .room-1:nth-child(5) {
        margin-right: 10px !important;
        margin-left: 15px !important; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 .room-1 {
        width: 106px !important; }
  #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-1 {
    margin-right: 7px !important;
    margin-top: 42px !important; }
  #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(4) {
    margin-left: 18px !important;
    margin-right: -18px !important; }
  #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(5) {
    margin-right: 0 !important; }
  #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(8) {
    margin-right: 0 !important;
    margin-left: -35px !important; }
  #update2-content-tab3-1 .mb-block-a5-tang-3-12 .bottomlist-block4 {
    width: 1210px;
    margin: 10px auto 0 auto;
    text-align: left;
    padding-left: 519px; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .bottomlist-block4 .room-1 {
      width: 111px !important;
      margin-top: 22px !important; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .bottomlist-block4 .room-1:nth-child(4) {
      margin-left: 0 !important;
      margin-right: -18px !important; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .bottomlist-block4 .room-1:nth-child(5) {
      margin-right: 0 !important;
      margin-left: 60px !important; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .bottomlist-block4 .room-1:nth-child(8) {
      margin-right: 0 !important;
      margin-left: -35px !important; }

.ti-17 {
  display: none !important; }

.slide-room.setheight img {
  height: initial !important;
  width: auto !important;
  margin: auto;
  max-width: 100%;
  max-height: 648px !important; }

@media only screen and (max-width: 1450px) {
  .slide-room.setheight img {
    height: initial !important;
    width: auto !important;
    margin: auto; }

  .thuvien-tab .tab-title a {
    font-size: 10px;
    padding: 10px 0 !important; }

  .thuvien-tab .tab-title a.active {
    height: 34px;
    margin-top: -3px;
    font-size: 10px;
    padding: 10px 0 !important;
    padding-top: 13px !important; }

  .tab-title a {
    font-size: 18px; }

  #update-content-tab2-1 .tang1-mb-block-a5 {
    background: url(../images/tangtret_Blocka3-1450.png) no-repeat center top;
    display: inline-block;
    width: 100%;
    background-size: initial !important;
    height: 100%; }
    #update-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(1) {
      margin-left: -34px; }
    #update-content-tab2-1 .tang1-mb-block-a5 .room-1 {
      margin-right: 33px !important;
      margin-top: 42px !important; }
    #update-content-tab2-1 .tang1-mb-block-a5 .room-list-bottom {
      width: 1050px !important;
      margin-top: 82px !important; }
      #update-content-tab2-1 .tang1-mb-block-a5 .room-list-bottom .room-1:nth-child(1) {
        margin-left: 583px !important; }
      #update-content-tab2-1 .tang1-mb-block-a5 .room-list-bottom .room-1 {
        margin-right: 3px !important;
        margin-top: 17px !important; }

  #update-content-tab1-1 .mb-block-a5-tang-2 {
    background: url(../images/tang2_Blocka3-1450.png) no-repeat center top;
    display: inline-block;
    width: 100%;
    background-size: initial !important;
    height: 100%; }
    #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top {
      width: 1040px;
      margin: 254px auto 0 auto;
      height: 177px; }
    #update-content-tab1-1 .mb-block-a5-tang-2 .room-1 {
      margin-right: -1px !important;
      margin-top: 42px !important; }
    #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(4) {
      margin-left: 142px; }
    #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(4) {
      margin-left: 130px; }
    #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(5), #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(6), #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(7), #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(8),
    #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(9) {
      margin-top: 191px !important; }
    #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(5) {
      margin-left: -88px !important; }
    #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(6) {
      margin-left: -15px !important; }
    #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(7) {
      margin-left: -5px !important; }
    #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(8) {
      margin-left: -13px !important; }
    #update-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(9) {
      margin-left: 5px !important; }

  #update-content-tab3-1 .mb-block-a5-tang-3-12 {
    background: url(../images/tang3-12-1450.png) no-repeat center top;
    display: inline-block;
    width: 100%;
    background-size: initial !important;
    height: 100%; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top {
      width: 957px;
      margin: 124px auto 0 auto;
      height: 177px; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-1 {
      margin-right: 100px !important;
      margin-left: -77px;
      margin-top: 42px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(4) {
      margin-left: 142px; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(4) {
      margin-left: -90px; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(5), #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(6), #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(7), #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(8),
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(9) {
      margin-top: 231px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(5) {
      margin-left: -564px !important;
      margin-top: 200px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(6) {
      margin-left: -455px !important;
      margin-top: 200px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(7) {
      margin-left: -327px !important;
      margin-top: 200px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(8) {
      margin-left: -13px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(9) {
      margin-left: -13px !important; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top-3-12 {
      top: 10px;
      left: 0; }
    #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 {
      margin-top: 20px !IMPORTANT; }
      #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(1) {
        margin-right: 62px !important;
        margin-left: -94px !IMPORTANT; }
      #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(3) {
        margin-right: 55px !important;
        margin-left: -94px !IMPORTANT; }
      #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(4) {
        margin-left: -67px !important;
        margin-right: 0 !important; }
      #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(5) {
        margin-left: 338px !important;
        margin-top: -130px !important; }
      #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(6) {
        margin-left: -193px !important;
        margin-top: 20px !important; }
      #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(7) {
        margin-left: -82px !important;
        margin-top: 16px !important; }
      #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(8) {
        margin-left: -102px !important;
        margin-top: 20px !important; }
      #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(9) {
        margin-left: -102px !important;
        margin-top: 16px !important; }
      #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(10) {
        margin-left: -102px !important;
        margin-right: 0 !important;
        margin-top: 16px !important; }
      #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 .room-1:nth-child(11) {
        margin-left: 4px !important;
        margin-right: 0 !important;
        margin-top: 16px !important; }

  #update-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-top-3-12 {
    width: 910px !IMPORTANT;
    padding-left: 460px;
    margin-top: -20px !important; }

  #update2-content-tab2-1 .tang1-mb-block-a5 {
    background: url(../images/block-4-tangtret-1450.png) no-repeat center top;
    display: inline-block;
    width: 100%;
    background-size: initial !important;
    height: 100%; }
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top {
      width: 1076px;
      margin: 155px auto 0 auto;
      height: 177px;
      text-align: left; }
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-1 {
      margin-right: 43px !important;
      margin-top: 42px !important; }
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(4) {
      margin-left: -10px !important; }
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(4) {
      margin-left: 150px; }
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(1) {
      margin-left: 19px; }
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(5), #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(6), #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(7), #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(8),
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(9) {
      margin-top: 231px !important; }
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(5) {
      margin-left: -135px !important; }
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(6) {
      margin-left: -13px !important; }
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(7) {
      margin-left: -13px !important; }
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(8) {
      margin-left: -13px !important; }
    #update2-content-tab2-1 .tang1-mb-block-a5 .room-list-top .room-1:nth-child(9) {
      margin-left: -13px !important; }

  #update2-content-tab1-1 .mb-block-a5-tang-2 {
    background: url(../../../index.html) no-repeat center top;
    display: inline-block;
    width: 100%;
    background-size: initial !important;
    height: 100%; }
    #update2-content-tab1-1 .mb-block-a5-tang-2 .room-list-top {
      width: 1086px;
      margin: 310px auto 0 auto;
      height: 177px;
      text-align: left; }
    #update2-content-tab1-1 .mb-block-a5-tang-2 .room-1 {
      margin-right: 7px !important;
      margin-top: 42px !important; }
    #update2-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(4) {
      margin-left: 129px !important;
      margin-right: -2px !important; }
    #update2-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(5) {
      margin-right: 0 !important; }
    #update2-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(7) {
      margin-right: 0 !important;
      margin-left: -10px !important; }
    #update2-content-tab1-1 .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(8) {
      margin-right: 0 !important;
      margin-left: -8px !important; }
    #update2-content-tab1-1 .mb-block-a5-tang-2 .bottomlist-block4 {
      width: 1190px;
      margin: 0px auto 0 auto;
      text-align: left;
      padding-left: 519px; }
      #update2-content-tab1-1 .mb-block-a5-tang-2 .bottomlist-block4 .room-1 {
        width: 89px !important;
        margin-top: 12px !important; }
      #update2-content-tab1-1 .mb-block-a5-tang-2 .bottomlist-block4 .room-1:nth-child(4) {
        margin-left: 0 !important;
        margin-right: -18px !important; }
      #update2-content-tab1-1 .mb-block-a5-tang-2 .bottomlist-block4 .room-1:nth-child(5) {
        margin-right: 0 !important;
        margin-left: 60px !important; }
      #update2-content-tab1-1 .mb-block-a5-tang-2 .bottomlist-block4 .room-1:nth-child(8) {
        margin-right: 0 !important;
        margin-left: -35px !important; }

  #update2-content-tab3-1 .mb-block-a5-tang-3-12 {
    background: url(../../../index.html) no-repeat center top;
    display: inline-block;
    width: 100%;
    background-size: initial !important;
    height: 100%; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top {
      width: 1067px;
      margin: 120px auto 0 auto;
      height: 177px;
      text-align: left; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(1) {
        margin-left: 0 !important;
        margin-right: 0 !important; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(4) {
        margin-left: 3px !important;
        margin-right: 0 !important; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block4 {
        margin-top: 0 !important;
        display: inline-block;
        width: 1181px; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block4 .room-1:nth-child(1) {
          margin-left: 128px !important; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block4 .room-1 {
          margin-top: 25px !important; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block4 .room-1:nth-child(4) {
          margin-left: 137px !important; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block4 .room-1:nth-child(7) {
          margin-left: -15px !important;
          margin-right: 35px !important; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block4 .room-1:nth-child(6) {
          margin-left: -10px !important; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block4 .room-1:nth-child(8) {
          margin-left: -23px;
          margin-right: 33px !important; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 {
        width: 897px;
        margin: -10px auto 0 auto;
        padding-left: 126px; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 .room-1:nth-child(1) {
          margin-left: 140px !important;
          margin-right: -2px !important; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 .room-1:nth-child(2) {
          margin-right: 4px !important;
          margin-left: 24px; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 .room-1:nth-child(4) {
          margin-right: 0px !important;
          margin-left: 0 !important; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 .room-1:nth-child(7) {
          margin-left: 14px !important;
          margin-right: -2px !important; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 .room-1:nth-child(5) {
          margin-right: 10px !important;
          margin-left: 4px !important; }
        #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top.room-list-3-12_block42 .room-1 {
          width: 90px !important;
          margin-top: 0 !important; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-1 {
      margin-right: 7px !important;
      margin-top: 42px !important; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(4) {
      margin-left: 18px !important;
      margin-right: -18px !important; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(5) {
      margin-right: 10px !important;
      margin-left: 17px; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(8) {
      margin-right: 0 !important;
      margin-left: -35px !important; }
    #update2-content-tab3-1 .mb-block-a5-tang-3-12 .bottomlist-block4 {
      width: 1210px;
      margin: 10px auto 0 auto;
      text-align: left;
      padding-left: 519px; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .bottomlist-block4 .room-1 {
        width: 111px !important;
        margin-top: 22px !important; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .bottomlist-block4 .room-1:nth-child(4) {
        margin-left: 0 !important;
        margin-right: -18px !important; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .bottomlist-block4 .room-1:nth-child(5) {
        margin-right: 0 !important;
        margin-left: 60px !important; }
      #update2-content-tab3-1 .mb-block-a5-tang-3-12 .bottomlist-block4 .room-1:nth-child(8) {
        margin-right: 0 !important;
        margin-left: -35px !important; } }
.form-contact form button {
  position: relative;
  z-index: 999; }

/*# sourceMappingURL=update13.css.map */



@media screen and (max-height: 670px) {
  .pic-img img {
    height: 130px;
    object-fit: cover;
}
.s4-infor img {
  height: 230px;
}

}
@media screen and (max-height: 640px) {
.content-tienich {
  margin-top: -5px;
}
}

body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(1){
  margin-top: 165px !important;
}
body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(1) .room-1:nth-child(2){
  margin-right: 10px !important;
}
body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(1) .room-1:nth-child(1){
  margin-right: 29px !important;
}
body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(2) .room-1{
  margin-top: -90px !important;
}

body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(2){
  margin-top:0!important;
  padding-left: 632px;
}

body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(1){
  margin-left: 0 !important;
}
body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(2){
  margin-right: 18px !important;
}
body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(3){
  margin-right: 6px !important;
}
body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(4){
  margin-right: 33px !important;
}

/*-- css B1 tang 2--*/
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(1){
  margin: 370px auto 0 auto !important;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2){
  width: 1317px;
    margin: 0 auto;
    height: max-content;
    position: relative;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2) .room-1:nth-child(1){
  position: absolute;
  right: 580px;
  top: -108px;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2) .room-1:nth-child(2){
  position: absolute;
  right: 455px;
  top: -108px;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2) .room-1:nth-child(3){
  position: absolute;
  right: 318px;
  top: -108px;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2) .room-1:nth-child(4){
  position: absolute;
  right: 182px;
  top: -108px;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2) .room-1:nth-child(5){
  position: absolute;
  right: 40px;
  top: -298px;
}


#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2) .room-1:nth-child(1){
  margin-left: 168px !important;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top .room-1 button,
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top .room-1 button,
#update-content-tab3-1 .blocka1-tang312 .room-list-top .room-1 button{
  width: 80px !important;
  height: 80px !important;
  font-size: 22px !important;
  line-height: 24px;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(1) .room-1:nth-child(1){
  margin-left: -16px !important;
  margin-right: 14px !important;
}
/*--end css B1 tang 2--*/

/*--css B1 tang 3-12--*/
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top{
  position: relative;
  width: 1348px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2){
  position: relative;
  width: 1178px;
}

#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1{
  position: absolute;
  top: -100px;
  margin: 0 !important;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(1){
  right: 561px;
  top: -100px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(2){
  right: 435px;
  top: -100px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(3){
  right: 317px;
  top: -100px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(4){
  right: 183px;
  top: -100px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(5){
  right: 32px;
  top: -100px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(6){
  right: 58px;
    top: 109px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(7){
  right: 184px;
    top: 109px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(8){
  right: 314px;
    top: 109px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(9){
  right: 439px;
    top: 109px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(10){
  right: 567px;
    top: 109px;
}





#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1{
  position: absolute;
  top: 44px;
  margin: 0 !important;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(1){
  left: 0;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(2){
  left: 150px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(3){
  left: 278px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(4){
  left: 418px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(5){
  left: 8px;
  top: 260px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(6){
  left: 149px;
  top: 260px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(7){
  left: 279px;
  top: 260px;
}
/*--end css B1 tang 3-12--*/



/*-- css block A1 tầng trệt--*/
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(1){
  position: relative;
  margin-top: 198px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(1) .room-1{
  position: absolute;
  top: 12px !important;
  left: 19px !important;
  margin: 0 !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(1) .room-1:nth-child(2){
  left: 178px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(1) .room-1:nth-child(3){
  left: 330px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(2){
  position: relative;
  margin-top: 85px !important;
}

#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(2) .room-1{
  position: absolute;
  top: 12px !important;
  right: 49px !important;
  margin: 0 !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(1){
  right: 608px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(3){
  right: 340px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(2){
  right: 480px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(4){
  right: 211px !important;
}
/*-- end css block A1 tầng trệt--*/

/*--css block A1 tầng 2--*/
#update-content-tab1-1 .blocka1-tang-2 .room-list-top{
  position: relative;
  margin-top: 444px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1{
  position: absolute;
  top: 12px !important;
  left:-14px !important;
  margin: 0 !important;
  height: auto !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1 button{
  width: 80px !important;
  height: 80px !important;
  font-size: 22px !important;
  line-height: 24px;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(2){
  left: 150px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(3){
  left: 300px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(4){
  left: 455px !important;
  top: 222px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(5){
  left: 728px !important;
    top: -10px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(6){
  left: 738px !important;
  top: -10px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(7){
  left: 858px !important;
  top: -10px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(8){
  left: 988px !important;
    top: -10px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(9){
  left: 1118px !important;
  top: -10px !important;
}
/*-- end css block A1 tầng 2--*/

/*-- block A1 tầng 3 12--*/
#update-content-tab3-1 .blocka1-tang312 .room-list-top{
  position: relative;
  width: 1337px;
}

#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1{
  position:absolute;
  margin: 0 !important;
  top: 50px;
  left: -8px;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(2){
  left: 161px;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(3){
  left: 304px;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(4){
  left: 463px;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(5){
  left: 0;
  top: 250px;
  margin: 0 !important;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(6){
  left: 161px;
  top: 250px;
  margin: 0 !important;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(7){
  left: 309px;
  top: 250px;
  margin: 0 !important;
}




#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1{
  position:absolute;
  margin: 0 !important;
  top: 50px;
  right: 590px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(2){
  right: 474px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(3){
  right: 346px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(4){
  right: 218px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(5){
  right: 60px;
}


#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(6){
  top: 250px;
  right: 740px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(7){
  right: 603px;
  top: 250px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(8){
  right: 475px;
  top: 250px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(9){
  right: 348px;
  top: 250px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(10){
  right: 218px;
  top: 250px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(11){
  right: 90px;
  top: 250px;
}



/*-- end css block A1 tầng 3 12--*/


@media only screen and (max-width: 1450px) {
  body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(1){
    margin-top: 133px !important;
    width: 888px !important;
  }
  
  body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(1) .room-1:nth-child(1){
    margin-right: 23px !important;
  }
  body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(2){
    margin-top:14px!important;
    padding-left: 0;
  }
  body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(1){
    margin-left: 82px !important;
  }
  body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(2){
    margin-right: 10px !important;
  }
  body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(3){
    margin-right: -3px !important;
  }
  body #update-content-tab2-1 .matbang-b1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(4){
    margin-right: 0 !important;
  }
  .tab-title a {
    font-size: 14px;
    padding: 16px 0 !important;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(1){
  margin: 300px auto 0 auto !important;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(1) .room-1:nth-child(1){
  margin-left: 37px !important;
  margin-right: 4px !important;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(1) .room-1:nth-child(3){
  margin-left: 5px !important;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top .room-1 button,
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top .room-1 button,
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1 button,
#update-content-tab3-1 .blocka1-tang312 .room-list-top .room-1 button {
  width: 60px !important;
  height: 60px !important;
  font-size: 18px !important;
  line-height: 19px;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2) .room-1:nth-child(1) {
  position: absolute;
  right: 572px;
  top: -128px;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2) .room-1:nth-child(2) {
  position: absolute;
  right: 478px;
  top: -128px;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2) .room-1:nth-child(3) {
  position: absolute;
  right: 373px;
  top: -128px;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2) .room-1:nth-child(4) {
  position: absolute;
  right: 272px;
  top: -128px;
}
#update-content-tab1-1 .mb-block-a5-tang-2.matbang-b1-tang-2 .room-list-top:nth-child(2) .room-1:nth-child(5) {
  position: absolute;
  right: 167px;
  top: -279px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top {
  width: 978px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1 {
  top: 54px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(2) {
  left: 118px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(3) {
  left: 218px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(4) {
  left: 323px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(5) {
  left: 8px;
  top: 203px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(6) {
  left: 96px;
  top: 207px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(1) .room-1:nth-child(7) {
  left: 216px;
  top: 206px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(1) {
  right: 405px;
  top: -62px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(2) {
  right: 320px;
  top: -62px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(3) {
  right: 224px;
  top: -62px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(4) {
  right: 127px;
  top: -62px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(5) {
  right: 10px;
  top: -62px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(6) {
  right: 31px;
  top: 87px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(7) {
  right: 127px;
  top: 87px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(8) {
  right: 224px;
  top: 87px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(9) {
  right: 319px;
  top: 87px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.matbang-b1-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(10) {
  right: 417px;
  top: 87px;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret{
  background: url(../images/block-a1-tangtret-1450.png) no-repeat top center !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(1) {
  position: relative;
  margin-top: 158px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(1) .room-1:nth-child(2) {
  left: 137px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(1) .room-1:nth-child(3) {
  left: 255px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(2) .room-1 {
  position: absolute;
  top: -27px !important;
  right: -7px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(4) {
  right: 121px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(3) {
  right: 240px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(2) {
  right: 337px !important;
}
#update-content-tab2-1 .tang1-mb-block-a5.blocka1-tangtret .room-list-top:nth-child(2) .room-1:nth-child(1) {
  right: 421px !important;
}
#update-content-tab1-1 .blocka1-tang-2{
  background: url(../images/block-a1-tang-2-1450.png) no-repeat top center !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top {
  margin-top: 346px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1 {
  left: 31px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(2) {
  left: 159px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(3) {
  left: 271px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(4) {
  left: 390px !important;
  top: 168px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(5) {
  left: 583px !important;
  top: -20px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(6) {
  left: 605px !important;
  top: -20px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(7) {
  left: 692px !important;
  top: -20px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(8) {
  left: 796px !important;
  top: -20px !important;
}
#update-content-tab1-1 .blocka1-tang-2 .room-list-top .room-1:nth-child(9) {
  left: 875px !important;
  top: -20px !important;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top {
  position: relative;
  width: 964px;
  margin-top: 90px;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1 {
  top: 95px;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(2) {
  left: 121px;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(3) {
  left: 236px;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(4) {
  left: 353px;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(5) {
  left: 0;
  top: 238px;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(6) {
  left: 100px;
  top: 238px;
}
#update-content-tab3-1 .blocka1-tang312 .room-list-top:nth-child(1) .room-1:nth-child(7) {
  left: 237px;
  top: 238px;
  margin: 0 !important;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1 {
  position: absolute;
  margin: 0 !important;
  top: 72px;
  right: 369px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(2) {
  right: 285px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(3) {
  right: 189px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(4) {
  right: 92px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(5) {
  right: -23px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(6) {
  top: 231px;
  right: 489px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(7) {
  right: 382px;
  top: 231px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(8) {
  right: 286px;
  top: 231px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(9) {
  right: 189px;
        top: 231px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(10) {
  right: 91px;
        top: 231px;
}
#update-content-tab3-1 .mb-block-a5-tang-3-12.blocka1-tang312 .room-list-top:nth-child(2) .room-1:nth-child(11) {
  right: -3px;
        top: 231px;
}
#update-content-tab3-1 .blocka1-tang312{
  background: url(../images/block-a1-tang-3-12-1450.png) no-repeat top center !important;
}
}