@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap");
@font-face {
  font-family: 'Gotham-book';
  src: url("../assets/fonts/Gotham-Book.woff2") format("woff2"), url("../assets/fonts/Gotham-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
body {
  font-family: 'Karla', sans-serif; }

.p0 {
  padding: 0 !important; }

.header-dropdown .btn.btn-filter::after {
  content: "\f078" !important; }

.blk-introduce a.btn {
  font-family: 'Gotham-book'; }

.header-wrap .header-menu {
  justify-content: space-between; }

.blk-post .btn.btn-orange {
  font-style: italic; }

.homepage-publications .head-right a {
  font-style: italic; }

.btn.lrg {
  font-weight: 500; }

.homepage-agenda .top .agenda-item .author {
  color: #ADB3B8; }

.homepage-dossiers .col-md-6.head-right a {
  font-style: italic; }

.homepage-dossiers .inner .btn {
  font-style: italic; }

.homepage-web .head-right a {
  font-style: italic; }

.homepage-partner .col-left .btn {
  font-style: italic; }

a.btn {
  font-style: italic; }

.col-md-3.header-register a.btn, .homepage-theme a.btn {
  font-style: normal; }

.footer-menu li {
  margin-bottom: 12px; }

.infor-pd-absolute {
  display: inline-block;
  width: 100%;
  padding-right: 127px;
  position: relative; }
  .infor-pd-absolute .blk-title {
    margin-bottom: 14px;
    font-weight: 700;
    font-family: 'gotham_nvvbold', sans-serif; }
  .infor-pd-absolute .desc {
    font-weight: 700;
    color: #33404F; }
  .infor-pd-absolute img.logodumetier {
    position: absolute;
    right: 0;
    top: 0;
    width: 83px; }

.btn-w100 {
  max-width: 100%;
  width: 100%; }

.style-nr {
  font-style: normal !important;
  font-weight: normal !important; }

.blk-mail-up {
  padding: 20px 18px;
  background: #DFECFA;
  margin-bottom: 55px;
  margin-top: 55px;
  border-bottom: 0; }
  .blk-mail-up .desc {
    font-weight: 700;
    color: #33404F; }
  .blk-mail-up h3 {
    position: relative;
    margin-bottom: 11px; }
    .blk-mail-up h3::after {
      position: absolute;
      right: 0;
      top: 0;
      width: 33px;
      height: 26px;
      background: url(../assets/img/mail-right-columns.svg) no-repeat;
      content: '';
      display: inline-block; }
    .blk-mail-up h3 a {
      background: #DFECFA !important; }
  .blk-mail-up .square-ttl::before {
    border: 3px solid #33404F; }
  .blk-mail-up .square-ttl a {
    text-transform: none;
    color: #33404F;
    font-family: 'gotham_nvvbold', sans-serif; }

.blk-form-mail .search-form {
  display: flex; }
  .blk-form-mail .search-form input {
    border-radius: 0;
    height: 32px;
    border: 1px solid white;
    background-color: white; }
    .blk-form-mail .search-form input::placeholder {
      color: #789FC6; }
    .blk-form-mail .search-form input:focus {
      border: 1px solid #FF5E00; }
  .blk-form-mail .search-form button {
    margin-left: 16px;
    height: 32px;
    background: #33404F; }

.check-box-list {
  display: inline-block;
  width: 100%;
  padding: 11px 0; }
  .check-box-list ul {
    padding: 0; }
    .check-box-list ul li {
      margin-bottom: 5px; }
      .check-box-list ul li span {
        color: #33404F; }
  .check-box-list .cdd-checkbox + label span.mask {
    border-color: #789FC6 !important; }
  .check-box-list .cdd-checkbox:checked + label span.mask {
    background-color: #789FC6;
    border-color: #789FC6; }

.p0mb55 {
  padding-bottom: 0 !important;
  border: 0 !important; }

.mod {
  margin-bottom: 55px;
  padding-bottom: 55px;
  border-bottom: 1px solid #D6D9DC; }

.blk-decouvrir {
  display: inline-block;
  width: 100%;
  margin-top: 41px;
  margin-bottom: 40px;
  padding-bottom: 28px;
  border-bottom: 1px solid #D6D9DC; }

.content-decouvrir {
  background: #FDF0EA;
  display: inline-block;
  width: 100%;
  padding: 27px 18px;
  padding-bottom: 0; }
  .content-decouvrir h3 {
    margin-bottom: 0; }
    .content-decouvrir h3 a {
      background: #FDF0EA !important;
      color: #FF5E00 !important;
      font-weight: 700 !important;
      font-family: 'gotham_nvvbold', sans-serif !important; }
  .content-decouvrir .desc {
    padding: 22px 0;
    color: #FF5E00;
    display: inline-block;
    width: 100%; }
    .content-decouvrir .desc b {
      color: #FF5E00;
      font-weight: 700; }

.thumbnails-decouvrir {
  display: inline-block;
  width: 100%; }
  .thumbnails-decouvrir a.up-thumnails-avatar {
    position: relative;
    padding-top: 39%;
    display: block; }
    .thumbnails-decouvrir a.up-thumnails-avatar img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .thumbnails-decouvrir a.btn {
    width: 100%;
    text-align: center;
    height: 42px;
    font-style: initial !important;
    display: flex;
    font-weight: 700;
    text-decoration: underline;
    align-items: center; }

.head-background-procedetheque {
  display: inline-block;
  width: 100%; }
  .head-background-procedetheque img {
    width: 100%; }

.blk-content-left {
  display: inline-block;
  padding: 110px 0 141px 0;
  padding-right: 72px;
  width: 100%; }
  .blk-content-left h1 {
    display: inline-block;
    width: fit-content;
    font-family: 'gotham_nvvbold', sans-serif;
    font-weight: 700;
    font-size: 67px;
    margin-bottom: 91px; }
    .blk-content-left h1 b {
      font-size: 67px;
      color: #FF5E00;
      display: inline-block;
      width: fit-content;
      font-family: 'gotham_nvvbold', sans-serif;
      font-weight: 700;
      position: relative;
      padding-right: 35px; }
      .blk-content-left h1 b::after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        top: 20px;
        width: 107px;
        height: 104px;
        background: url(../assets/img/stoke-orange.svg) no-repeat;
        background-size: contain; }
  .blk-content-left .des {
    display: inline-block;
    width: 100%; }
    .blk-content-left .des p {
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      font-size: 25px;
      line-height: 33.5px; }
      .blk-content-left .des p b {
        font-size: 25px;
        font-weight: 700;
        display: inline-block;
        line-height: 38px;
        width: 100%;
        margin-bottom: 28px; }

.blk-content-right {
  display: inline-block;
  width: 100%; }
  .blk-content-right a.btn {
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    font-style: initial;
    font-size: 14px;
    font-weight: 700; }
    .blk-content-right a.btn img {
      width: 29px;
      margin-right: 15px; }
  .blk-content-right .form-commencer {
    display: inline-block;
    background: #FDF0EA;
    width: 100%;
    padding: 66px 42px 85px 42px; }
    .blk-content-right .form-commencer h2 {
      text-align: center;
      font-family: 'gotham_nvvbold', sans-serif;
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 49px; }

.blk-content-right {
  padding-top: 133px;
  padding-bottom: 117px; }

.combobox-procedetheque {
  display: inline-block;
  width: 100%; }
  .combobox-procedetheque .cdd-dropdown-list {
    width: 100%; }
    .combobox-procedetheque .cdd-dropdown-list span.title-choose {
      font-size: 16px;
      padding: 10px 15px;
      display: inline-block;
      width: 100%;
      color: #7D7D7D; }
  .combobox-procedetheque .cdd-dropdown {
    margin-bottom: 26px; }
    .combobox-procedetheque .cdd-dropdown:nth-last-child(1) {
      margin-bottom: 0 !important; }
    .combobox-procedetheque .cdd-dropdown button {
      width: 100%;
      justify-content: space-between; }
      .combobox-procedetheque .cdd-dropdown button img {
        height: 16px;
        width: 16px; }

.img-pc {
  display: block; }

.alpha-txt {
  color: #7D7D7D !important; }

.img-mb {
  display: none; }

.disable-field {
  pointer-events: none;
  cursor: not-allowed; }
  .disable-field span.mask {
    position: relative;
    background: #D6D9DC !important;
    border: 1px solid #D6D9DC !important; }
    .disable-field span.mask::after {
      width: 8px;
      height: 2px;
      background: white;
      content: '';
      display: inline-block;
      position: absolute;
      left: 3px;
      top: 6px; }
  .disable-field .txt {
    color: #C2C2C2; }
  .disable-field img {
    opacity: .5; }

.require-message {
  display: none; }

.show-require-filed .require-message {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
  color: #FF5E00; }
.show-require-filed button.alpha-txt {
  border: 1px solid #FF5E00; }

.nous-contacter-form .desc {
  font-weight: 500; }

.italic-btn {
  font-weight: 500 !important;
  font-style: italic !important; }

.font-italic {
  font-style: italic !important; }

.propos-page .text-link {
  font-weight: 500 !important; }

.block-process-library {
  padding: 74px 0 105px;
  min-height: 534px;
  background: #FDF0EA; }

.content-process-library {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-right: 438px; }

.right-col-process-library {
  position: absolute;
  right: 0;
  padding-right: 40px;
  top: 0; }
  .right-col-process-library .img-icon-linelogo {
    position: absolute;
    right: 0;
    width: 71px;
    bottom: -40px; }

.left-col-process-library {
  padding-right: 140px; }

.block-process-library h4 {
  color: #FF5E00;
  margin: 30px 0 16px 0; }

.block-sectors .item-dl {
  margin-bottom: 37px !important; }
  .block-sectors .item-dl:nth-last-child(1), .block-sectors .item-dl:nth-last-child(2) {
    margin-bottom: 0 !important; }

.box-bookmark {
  display: inline-block;
  width: 100%;
  margin-bottom: 56px; }
  .box-bookmark a.avatar-box-results {
    display: inline-block;
    width: 100%; }
    .box-bookmark a.avatar-box-results img {
      display: inline-block;
      width: 100%; }
  .box-bookmark .link-active-soucate {
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    float: left; }
    .box-bookmark .link-active-soucate a {
      float: left;
      width: 50%;
      height: 30px;
      display: flex;
      align-items: center;
      color: white;
      font-size: 12px;
      padding: 0 10px;
      justify-content: center; }
      .box-bookmark .link-active-soucate a:nth-child(1) {
        background: #FF5E00; }
      .box-bookmark .link-active-soucate a:nth-child(2) {
        background: #FF833B; }

.container-1180 {
  max-width: 1180px; }

.cdd-tabs .nav-item {
  margin-right: 30px; }

.infor-results {
  display: inline-block;
  width: 100%;
  background: #F8F8F8;
  padding-top: 28px;
  padding: 28px 20px; }
  .infor-results h6 {
    display: inline-block;
    width: 100%;
    padding-bottom: 24px; }
    .infor-results h6 a {
      display: inline-block;
      width: 100%;
      font-size: 20px;
      color: #000;
      font-weight: 700;
      line-height: 22px; }
  .infor-results p {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 26px; }
    .infor-results p a {
      color: #222;
      text-decoration: none; }
  .infor-results .bottom-action {
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .infor-results .bottom-action .bookmark-icon .cdd-dropdown-list ul {
      padding-top: 5px;
      padding-bottom: 5px; }
    .infor-results .bottom-action .bookmark-icon .cdd-dropdown-list li {
      padding: 5px 15px; }
      .infor-results .bottom-action .bookmark-icon .cdd-dropdown-list li a {
        font-size: 16px;
        font-weight: 400;
        color: #222; }
    .infor-results .bottom-action .bookmark-icon span {
      width: max-content; }
    .infor-results .bottom-action .bookmark-icon a {
      font-size: 14px;
      font-weight: 700;
      color: #838C95;
      position: relative;
      display: flex;
      align-items: center; }
      .infor-results .bottom-action .bookmark-icon a img {
        margin-right: 6px; }
        .infor-results .bottom-action .bookmark-icon a img.favourite {
          display: none; }
      .infor-results .bottom-action .bookmark-icon a.active img {
        margin-right: 6px; }
        .infor-results .bottom-action .bookmark-icon a.active img.favourite {
          display: block; }
        .infor-results .bottom-action .bookmark-icon a.active img.disk-favourite {
          display: none; }
    .infor-results .bottom-action .bookmark-icon:hover span {
      color: #FF5E00; }
    .infor-results .bottom-action .link-continue a {
      font-size: 14px;
      font-weight: 700;
      color: #838C95;
      position: relative;
      display: flex;
      align-items: center; }
      .infor-results .bottom-action .link-continue a span {
        width: max-content; }
      .infor-results .bottom-action .link-continue a img {
        margin-left: 6px;
        width: 18px; }
    .infor-results .bottom-action .link-continue:hover span {
      color: #FF5E00; }

.actualites-web-list {
  display: inline-block;
  width: 100%; }
  .actualites-web-list .col-md-6:nth-last-child(1) .box-bookmark, .actualites-web-list .col-md-6:nth-last-child(2) .box-bookmark {
    margin-bottom: 0; }

.author-post-content {
  position: absolute;
  bottom: 18px;
  width: 100%;
  left: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  padding-right: 200px; }
  .author-post-content button {
    position: absolute;
    right: 44px;
    top: 3px; }
  .author-post-content .info-author {
    display: flex;
    align-items: center; }
    .author-post-content .info-author img {
      margin-right: 9px;
      width: 32px;
      height: 32px;
      overflow: hidden;
      border-radius: 50%; }
    .author-post-content .info-author p {
      margin: 0;
      padding: 0; }
      .author-post-content .info-author p b {
        font-weight: normal;
        color: #222;
        margin-right: 9px; }
      .author-post-content .info-author p span {
        color: #838C95; }

.social-rating-tab {
  border: 0;
  padding: 0;
  display: flex !important;
  align-items: center; }
  .social-rating-tab .like-rating {
    float: left; }
    .social-rating-tab .like-rating .like {
      margin-right: 15px; }
    .social-rating-tab .like-rating .rating {
      margin-right: 15px; }
  .social-rating-tab .socials {
    float: left;
    margin-right: 10px; }
  .social-rating-tab .comment-item {
    width: 34px;
    margin-top: -9px; }

.pc {
  display: block; }

.mb {
  display: none !important; }

.page-nouveautes .page-nouveautes-img {
  width: 100%;
  float: left;
  z-index: 1; }
  .page-nouveautes .page-nouveautes-img img {
    width: 50%;
    float: right; }
.page-nouveautes .publications-head {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0;
  background: none !important; }
  .page-nouveautes .publications-head .square-ttl.lrg::before {
    border-color: white !important; }
  .page-nouveautes .publications-head .txt {
    background: #FF5E00;
    color: white; }
  .page-nouveautes .publications-head::after {
    display: none; }

.col-infor-head {
  max-width: 45%; }

.pt-title-head {
  padding-top: 70px; }

.des-large {
  display: inline-block;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  color: white;
  line-height: 30.5px;
  margin-top: 0; }

.section-head-page {
  display: inline-block;
  width: 100%;
  position: relative;
  background: #FF5E00 !important;
  float: left; }

.nouveautes-main-content {
  float: left;
  width: 100%; }

.footer {
  float: left;
  width: 100%;
  z-index: 1;
  position: relative; }

.bookmark-icon span {
  width: max-content; }
.bookmark-icon a {
  font-size: 14px;
  font-weight: 700;
  color: #838C95;
  position: relative;
  display: flex;
  align-items: center; }
  .bookmark-icon a img {
    margin-right: 6px; }
    .bookmark-icon a img.favourite {
      display: none; }
  .bookmark-icon a.active img {
    margin-right: 6px; }
    .bookmark-icon a.active img.favourite {
      display: block; }
    .bookmark-icon a.active img.disk-favourite {
      display: none; }
.bookmark-icon:hover span {
  color: #FF5E00; }

.bottom-search-filed {
  display: inline-block;
  width: 100%;
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .bottom-search-filed .btn-pen a {
    display: flex;
    align-items: center; }
    .bottom-search-filed .btn-pen a img {
      margin-right: 7px;
      width: 20px; }
    .bottom-search-filed .btn-pen a span {
      color: #FF5E00;
      text-decoration: underline; }
  .bottom-search-filed .button-bottom-filedSearch a {
    height: 36px;
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 0 16px;
    border: 1px solid #FF5E00;
    color: #FF5E00;
    text-decoration: none; }
  .bottom-search-filed .button-bottom-filedSearch:hover a {
    color: #CC4B00;
    border: 1px solid #CC4B00; }

.research-box-nouveautes form {
  display: flex;
  align-items: center; }
  .research-box-nouveautes form button {
    border-radius: 0 4px 4px 0;
    height: 40px; }
    .research-box-nouveautes form button img {
      margin-right: 0 !important; }
  .research-box-nouveautes form input {
    border-radius: 4px 0 0 4px;
    height: 40px;
    border: 1px solid #FF5E00; }

.research-box-nouveautes {
  position: relative; }
  .research-box-nouveautes .cdd-container {
    position: relative; }
  .research-box-nouveautes .section-title {
    margin-bottom: 27px !important; }

.nouveautes-main-content .section-title, .research-box-nouveautes .section-title {
  font-size: 32px;
  font-family: 'gotham_nvvbold', sans-serif;
  font-weight: 700;
  line-height: 1.15em;
  display: inline-block;
  width: 100%;
  margin: 0px 0 47px 0; }

a.btn.stye-normal {
  font-style: normal !important; }

.btn-action-last-row {
  display: inline-block;
  width: 100%;
  text-align: center; }

.mt30 {
  margin-top: 30px; }

.research-box-nouveautes {
  display: inline-block;
  width: 100%;
  float: left;
  background: #FDF0EA;
  padding: 56px 0 74px 0; }

.nouveautes-section {
  background: rgba(253, 240, 234, 0.5);
  float: left;
  width: 100%;
  padding: 53px 0 81px 0;
  position: relative; }
  .nouveautes-section::before {
    height: 285px;
    background: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: inline-block; }
  .nouveautes-section .section-title {
    font-size: 32px;
    font-family: 'gotham_nvvbold', sans-serif;
    font-weight: 700;
    line-height: 1.15em;
    display: inline-block;
    width: 100%;
    margin: 0px 0 47px 0;
    position: relative; }

.item-nouveautes {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-right: 545px;
  background: white;
  margin-bottom: 40px; }
  .item-nouveautes:nth-last-child(1) {
    margin-bottom: 0; }
  .item-nouveautes .bookmark-icon {
    position: absolute;
    right: 4px;
    width: 30px;
    bottom: -40px; }
    .item-nouveautes .bookmark-icon img {
      margin-right: 0 !important; }
  .item-nouveautes::after {
    content: '';
    background: #F6A87A;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block; }
  .item-nouveautes .infor-content-nouveautes {
    position: absolute;
    height: 100%;
    align-items: center;
    display: flex;
    width: 545px;
    top: 0;
    right: 0;
    padding-left: 25px;
    padding-right: 14px; }

.thumbnails-nouveautes {
  width: 100%;
  display: inline-block;
  border-bottom: 20px solid #FF5E00;
  position: relative;
  z-index: 1; }
  .thumbnails-nouveautes img {
    display: inline-block;
    width: 100%; }

.list-nouveautes {
  display: inline-block;
  width: 100%;
  position: relative; }

.content-absoulte {
  position: relative; }

.content-absoulte {
  padding-right: 77px;
  position: relative;
  width: 100%;
  display: inline-block;
  margin-top: -20px; }
  .content-absoulte h6 {
    margin-bottom: 23px;
    display: inline-block;
    width: 100%;
    max-width: 365px; }
    .content-absoulte h6 a {
      text-transform: uppercase;
      color: #000;
      font-size: 18px;
      line-height: 22px;
      font-family: 'gotham_nvvbold', sans-serif;
      font-weight: 700; }
  .content-absoulte p {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    color: #222; }

.link-item-nouveautes-absoute {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px; }
  .link-item-nouveautes-absoute a {
    color: #FF5E00;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: right; }

.copyright-span {
  position: absolute;
  right: 15px;
  top: -50px;
  color: #AEB4BC;
  font-size: 10px; }

.lager-infor-head {
  display: inline-block;
  width: 100%;
  margin-top: 34px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 24px;
  font-weight: 700;
  color: #838C95; }

.popup-procedetheque {
  max-width: 435px !important;
  text-align: center; }
  .popup-procedetheque .form-group label {
    text-align: left; }
  .popup-procedetheque .des {
    text-align: center;
    color: #838C95;
    margin-bottom: 22px;
    display: inline-block;
    width: 100%; }
    .popup-procedetheque .des b {
      font-weight: 700;
      display: inline-block;
      width: 100%;
      margin-top: 30px;
      color: #838C95; }
  .popup-procedetheque h1 {
    margin-bottom: 0 !important; }
    .popup-procedetheque h1::before {
      left: initial; }
    .popup-procedetheque h1 a {
      background: white !important; }

.head-top-new-logined {
  padding-top: 72px !important; }

.btn-action-popup {
  width: 100%;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 22px; }

.head-procedetheque {
  display: flex;
  justify-content: space-between; }
  .head-procedetheque .menu-search {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .head-procedetheque .menu-search ul {
      display: flex;
      align-items: center; }
      .head-procedetheque .menu-search ul li {
        margin: 0 10px; }
        .head-procedetheque .menu-search ul li a {
          color: white;
          font-size: 14px;
          font-weight: 700;
          width: max-content;
          display: block; }
        .head-procedetheque .menu-search ul li.active a {
          color: #FF5E00; }
    .head-procedetheque .menu-search .header-profile {
      margin-left: 20px; }
      .head-procedetheque .menu-search .header-profile a {
        color: white; }

.headpage-breadcrumb-right {
  padding: 60px 0;
  position: relative;
  background: #FF5E00; }
  .headpage-breadcrumb-right .back-page-white {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99; }
    .headpage-breadcrumb-right .back-page-white img {
      width: 36px; }
  .headpage-breadcrumb-right .publications-info {
    margin-bottom: 0; }
    .headpage-breadcrumb-right .publications-info h1 {
      margin-bottom: 0; }
  .headpage-breadcrumb-right .breadcrumb-wrap {
    display: flex;
    align-items: center;
    margin: 0; }
    .headpage-breadcrumb-right .breadcrumb-wrap a, .headpage-breadcrumb-right .breadcrumb-wrap span {
      color: white; }
    .headpage-breadcrumb-right .breadcrumb-wrap a::after {
      background: white; }

.list-result-fullpage {
  background: white;
  display: inline-block;
  width: 100%;
  padding: 72px 0; }
  .list-result-fullpage .section-title {
    font-size: 32px;
    display: inline-block;
    width: 100%;
    font-family: 'gotham_nvvbold', sans-serif;
    margin-bottom: 50px; }

.fiche-producite {
  display: inline-block;
  width: 100%;
  position: relative;
  background: #FDF0EA; }
  .fiche-producite .content-fiche-producite {
    background: #FF5E00;
    padding-left: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 115px; }
    .fiche-producite .content-fiche-producite h5 {
      max-width: 456px;
      text-transform: uppercase;
      color: white;
      font-size: 25px;
      display: inline-block;
      line-height: 30px;
      font-weight: 700; }
    .fiche-producite .content-fiche-producite p {
      color: white;
      font-size: 18px;
      font-weight: 500;
      max-width: 456px;
      display: inline-block;
      line-height: 28px; }
    .fiche-producite .content-fiche-producite img {
      width: 146px; }

.sugger-col {
  background: #fff; }
  .sugger-col .content-fiche-producite {
    background: rgba(255, 94, 0, 0.6);
    padding-right: 75px !important; }
    .sugger-col .content-fiche-producite a {
      display: flex;
      align-items: center;
      height: 36px;
      background: white;
      padding: 0 20px; }
      .sugger-col .content-fiche-producite a img {
        margin-right: 5px;
        height: 20px;
        width: fit-content; }
      .sugger-col .content-fiche-producite a span {
        font-size: 14px;
        color: #FF5E00; }

.item-sub-sumary {
  cursor: pointer; }

.resultats-procedetheque .publications-head {
  background: #FF5E00 !important; }
  .resultats-procedetheque .publications-head h1.square-ttl::before {
    border-color: #fff !important; }
  .resultats-procedetheque .publications-head h1.square-ttl .txt {
    color: white;
    background: #FF5E00 !important; }
.resultats-procedetheque .cdd-container {
  position: relative; }
  .resultats-procedetheque .cdd-container .breadcrumb-wrap {
    position: absolute;
    z-index: 9;
    right: 15px;
    height: 100%;
    top: 0; }
    .resultats-procedetheque .cdd-container .breadcrumb-wrap span {
      color: white; }

.page-poignet-toron form {
  right: 15px !important; }
.page-poignet-toron .publications-head {
  background: #FF5E00 !important; }
  .page-poignet-toron .publications-head h1.square-ttl::before {
    border-color: #fff !important; }
  .page-poignet-toron .publications-head h1.square-ttl .txt {
    color: white;
    background: #FF5E00 !important; }
.page-poignet-toron .cdd-container {
  position: relative; }
  .page-poignet-toron .cdd-container .breadcrumb-wrap {
    position: absolute;
    z-index: 9;
    right: 15px;
    height: 100%;
    top: 0; }
    .page-poignet-toron .cdd-container .breadcrumb-wrap span {
      color: white; }
.page-poignet-toron .breadcrumb-wrap {
  height: initial !important; }
.page-poignet-toron form {
  position: absolute;
  right: 0;
  top: 16px;
  z-index: 9;
  width: 100%;
  max-width: 600px; }
  .page-poignet-toron form button {
    position: absolute;
    right: 0;
    top: 1px;
    background: white !important;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    border-radius: 0 4px 4px 0;
    width: 39px;
    padding: 8px !important; }
    .page-poignet-toron form button img {
      margin-right: 0 !important; }
  .page-poignet-toron form input {
    border: 0; }
.page-poignet-toron .headpage-breadcrumb-right {
  padding: 33px 0; }
.page-poignet-toron .breadcrumb-wrap {
  top: -20px !important; }
.page-poignet-toron .headpage-breadcrumb-right, .page-poignet-toron .publications-head {
  padding-bottom: 0; }
.page-poignet-toron .headpage-breadcrumb-right {
  position: relative; }
  .page-poignet-toron .headpage-breadcrumb-right::before {
    height: 140px;
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FDF0EA; }

.search-filed-button-save {
  position: relative;
  padding-right: 243px;
  display: inline-block;
  width: 100%; }
  .search-filed-button-save form {
    padding-right: 29px;
    width: 100%;
    display: inline-block;
    position: relative; }
    .search-filed-button-save form button {
      background: none;
      position: absolute;
      right: 26px;
      top: 0;
      background: none !important; }
    .search-filed-button-save form input {
      border-radius: 4px !important; }
  .search-filed-button-save .button-bottom-filedSearch {
    position: absolute;
    right: 0;
    top: 0;
    width: 243px; }
    .search-filed-button-save .button-bottom-filedSearch a {
      display: flex;
      height: 40px;
      background: #FF5E00;
      align-items: center;
      justify-content: center;
      padding: 0 12px;
      text-decoration: none; }
      .search-filed-button-save .button-bottom-filedSearch a img {
        margin-right: 6px;
        width: 18px; }
      .search-filed-button-save .button-bottom-filedSearch a span {
        font-family: 'gotham_nvvbold', sans-serif;
        color: white; }

.link-top-search {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex; }
  .link-top-search .btn-pen {
    display: flex;
    align-items: center;
    margin-left: 20px; }
    .link-top-search .btn-pen img {
      width: 24px;
      margin-right: 3px; }
    .link-top-search .btn-pen a {
      color: #FF5E00; }

.checkbox-bold-text li.active span.txt {
  font-family: 'gotham_nvvbold', sans-serif; }

.mb-block {
  margin: 0 0 30px 0;
  display: none; }

.list-resultast-row {
  background: #FFFAF8;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  padding: 0 !important; }
  .list-resultast-row .col-md-3 {
    padding-right: 26px; }
  .list-resultast-row .section-title {
    font-size: 32px;
    font-family: 'gotham_nvvbold', sans-serif;
    font-weight: 700;
    line-height: 1.15em;
    display: inline-block;
    width: 100%;
    margin: 44px 0 47px 0;
    position: relative; }
  .list-resultast-row .list-body-resultast {
    background: white;
    padding-left: 46px;
    position: relative;
    min-height: 700px; }
    .list-resultast-row .list-body-resultast::before {
      height: 100%;
      position: absolute;
      width: 10000px;
      background: white;
      content: '';
      display: inline-block;
      left: 0;
      top: 0; }

.sub-filter {
  margin: 0 !important; }
  .sub-filter button {
    display: inline-block;
    width: 100%;
    border: 1px solid #AEB5BC !important;
    display: flex;
    justify-content: space-between; }
    .sub-filter button img {
      width: 16px; }
  .sub-filter .cdd-dropdown-list {
    width: 100% !important; }

.subdropdown .title-filter {
  border-bottom: 1px solid #C3C7CA;
  padding-bottom: 10px; }
  .subdropdown .title-filter.active img {
    transform: rotate(180deg); }
.subdropdown.active .title-filter {
  border-bottom: 1px solid #C3C7CA;
  padding-bottom: 10px;
  position: relative; }
  .subdropdown.active .title-filter img {
    transform: rotate(180deg); }

.sub-filter input:checked + label {
  font-weight: 700; }
.sub-filter.active .cdd-dropdown-list {
  box-shadow: none;
  background: none;
  padding: 0;
  z-index: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  max-height: max-content; }
  .sub-filter.active .cdd-dropdown-list li {
    padding-left: 0 !important; }

.item-filter {
  display: inline-block;
  width: 100%;
  margin-top: 30px; }
  .item-filter.mt30 {
    margin-top: 44px; }
  .item-filter .title-filter {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer; }
    .item-filter .title-filter img {
      position: absolute;
      width: 16px;
      right: 15px;
      cursor: pointer;
      top: 0;
      display: inline-block; }
    .item-filter .title-filter b {
      color: #222;
      font-size: 20px;
      display: inline-block;
      width: 100%;
      font-weight: 700; }

.button-submit-filter, .head-filter-mb {
  display: none; }

.head-filter-mb {
  display: none !important; }

.modal-research .modal-body {
  padding: 40px 35px 30px !important; }
.modal-research .modal-dialog {
  max-width: 628px !important; }
.modal-research h3.blk-title {
  font-size: 24px; }
.modal-research .group-buttons button {
  font-style: italic; }

.content-filter-col .item-filter:nth-last-child(1) {
  margin-bottom: 30px; }

.page-poignet-toron {
  background: #FDF0EA; }

.content-body-Blogs {
  background: white;
  padding-right: 15px; }

.not-found-result {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 0; }
  .not-found-result b {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    display: inline-block;
    width: 100%;
    margin-bottom: 27px; }
  .not-found-result a {
    font-style: normal;
    font-weight: 500; }
    .not-found-result a span {
      font-weight: 500; }

.infor-head-blogs {
  background: #FF8B47;
  display: inline-block;
  width: 100%;
  padding: 24px;
  margin-top: 34px; }
  .infor-head-blogs .title-cate-infor-headBlogs {
    position: relative;
    padding: 0 160px 0 53px; }
    .infor-head-blogs .title-cate-infor-headBlogs img {
      position: absolute;
      left: 0;
      top: 4px;
      width: 38px; }
    .infor-head-blogs .title-cate-infor-headBlogs .name-cate-blogs {
      display: inline-block;
      width: 100%;
      height: 44px;
      align-items: center;
      display: flex;
      justify-content: center;
      border-radius: 2px;
      background: rgba(255, 255, 255, 0.14);
      color: white;
      font-size: 14px;
      width: fit-content;
      padding: 0 15px; }
      .infor-head-blogs .title-cate-infor-headBlogs .name-cate-blogs .body-cate-name-box {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .infor-head-blogs .title-cate-infor-headBlogs .name-cate-blogs a {
        color: white; }
    .infor-head-blogs .title-cate-infor-headBlogs .sous-catagories {
      position: absolute;
      right: 0;
      width: 138px;
      height: 44px;
      align-items: center;
      display: flex;
      justify-content: center;
      border-radius: 2px;
      background: rgba(255, 255, 255, 0.14);
      color: white;
      font-size: 14px;
      top: 0; }
      .infor-head-blogs .title-cate-infor-headBlogs .sous-catagories a {
        color: white; }

.date-BlogsDetail {
  display: inline-block;
  width: 100%;
  color: white;
  margin-bottom: 25px; }

.title-head-blogsDetail {
  display: inline-block;
  width: 100%;
  padding: 33px 0; }
  .title-head-blogsDetail h1 {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 72px;
    display: flex;
    align-items: center; }

.action-head-BlogsDetail {
  display: inline-block;
  width: 100%; }
  .action-head-BlogsDetail .link-top-search {
    position: relative !important;
    top: initial;
    right: initial;
    width: 100%;
    display: flex; }
    .action-head-BlogsDetail .link-top-search span {
      color: white;
      font-weight: 700; }
    .action-head-BlogsDetail .link-top-search img {
      width: auto !important; }
    .action-head-BlogsDetail .link-top-search .bookmark-icon {
      margin-left: 20px; }
      .action-head-BlogsDetail .link-top-search .bookmark-icon span {
        font-family: 'gotham_nvvbold', sans-serif; }
  .action-head-BlogsDetail .btn-pen {
    margin-left: 0; }
    .action-head-BlogsDetail .btn-pen span {
      text-decoration: underline;
      font-family: 'gotham_nvvbold', sans-serif; }

.thumbials-avatarBlogs {
  display: inline-block;
  width: 100%; }
  .thumbials-avatarBlogs img {
    width: 100%; }
  .thumbials-avatarBlogs span {
    display: inline-block;
    width: 100%;
    color: #838C95;
    background: #D9D9D9;
    height: 42px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px; }

.head-blogs-page .col-md-6:nth-child(1) {
  padding-right: 0; }
.head-blogs-page .col-md-6:nth-child(2) {
  padding-left: 0; }
.head-blogs-page .thumbials-avatarBlogs {
  margin-top: 34px; }

.thumbnails-blogs-Avatar {
  position: relative;
  padding-top: 45%;
  display: block; }
  .thumbnails-blogs-Avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.content-Blogs-main {
  margin-top: 40px; }

.main-Blogs-content {
  display: inline-block;
  width: 100%;
  min-height: 1000px; }
  .main-Blogs-content .content-body-Blogs {
    display: inline-block;
    width: 100%;
    padding-left: 350px;
    position: relative; }
    .main-Blogs-content .content-body-Blogs .col-left-Blogs {
      position: absolute;
      left: 0;
      top: 0;
      width: 280px; }
      .main-Blogs-content .content-body-Blogs .col-left-Blogs .item-sub-sumary b img {
        transform: rotate(0deg); }
      .main-Blogs-content .content-body-Blogs .col-left-Blogs .item-sub-sumary b.rotation img {
        transform: rotate(180deg); }
    .main-Blogs-content .content-body-Blogs .col-right-Blogs {
      background: white;
      display: inline-block;
      width: 100%; }

.sticky-col-Sumary {
  background: #FFF;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 51px 27px 10px 27px; }

.box-des-thumbnails {
  display: inline-block;
  width: 100%;
  margin-bottom: 74px; }
  .box-des-thumbnails img {
    width: 100%; }
  .box-des-thumbnails .infor-description-Blogs {
    position: relative;
    padding: 21px 18px;
    padding-right: 167px;
    background: #FCFDFE;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.05); }
    .box-des-thumbnails .infor-description-Blogs p {
      font-size: 14px;
      color: #616161;
      display: inline-block;
      width: 100%; }
      .box-des-thumbnails .infor-description-Blogs p b {
        font-weight: 700;
        color: #616161; }
    .box-des-thumbnails .infor-description-Blogs span {
      position: absolute;
      height: 100%;
      display: flex;
      color: #838C95;
      width: 130px;
      right: 0;
      top: 21px;
      justify-content: right;
      padding-right: 18px; }

.suggerer-content {
  position: relative; }

.close-close-popup {
  position: absolute;
  width: 24px;
  right: 24px;
  cursor: pointer;
  top: 24px;
  z-index: 9; }

.etape-title {
  display: inline-block;
  width: 100%;
  padding: 33px 0;
  font-size: 20px;
  text-transform: uppercase;
  color: #45709A;
  font-weight: 700; }

.des-img-50-50 {
  display: inline-block;
  width: 100%;
  margin-top: 24px;
  position: relative;
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.05); }
  .des-img-50-50 img {
    float: left;
    width: 50%; }
  .des-img-50-50 .infor-description-Blogs {
    position: relative;
    height: 100%;
    padding: 28px;
    width: 50%;
    float: left;
    right: 0;
    box-shadow: none;
    padding-right: 56px; }
    .des-img-50-50 .infor-description-Blogs span {
      position: absolute;
      bottom: 20px;
      right: 0;
      width: 100%;
      text-align: right;
      display: inline-block; }

.name-img-credits {
  position: absolute;
  bottom: 30px;
  color: #838C95;
  font-size: 14px;
  right: 34px; }

.des-Blogs {
  display: inline-block;
  width: 100%;
  padding: 24px 0; }
  .des-Blogs p {
    line-height: 20px;
    font-size: 14px;
    display: inline-block;
    width: 100%; }
    .des-Blogs p b, .des-Blogs p a {
      font-weight: bold;
      color: #FF5E00;
      text-decoration: underline; }

.pt10 {
  padding-top: 10px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.subtitle-content-Blogs {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 5px solid #EEF5FC; }
  .subtitle-content-Blogs b {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    font-weight: 700;
    color: #465360; }

.content-Blogs-main {
  display: inline-block;
  width: 100%;
  padding-right: 60px; }
  .content-Blogs-main ul {
    padding: 0;
    padding-left: 15px;
    margin: 0; }
    .content-Blogs-main ul li {
      list-style: disc; }
      .content-Blogs-main ul li b {
        color: #5E89B4;
        font-size: 18px;
        font-weight: 500; }
      .content-Blogs-main ul li::marker {
        color: #5E89B4; }

.title-submary {
  display: inline-block;
  width: 100%; }
  .title-submary h6 {
    font-size: 28px;
    text-transform: uppercase;
    color: #465360;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px; }

.content-Blogs-main {
  display: inline-block;
  width: 100%; }
  .content-Blogs-main h2 {
    font-size: 25px;
    display: inline-block;
    width: 100%;
    line-height: 32px;
    margin-bottom: 32px;
    margin-top: 30px; }

.news-related {
  display: inline-block;
  width: 100%;
  margin-top: 84px;
  margin-bottom: 40px; }
  .news-related h2 {
    font-size: 25px;
    display: inline-block;
    width: 100%;
    line-height: 32px;
    margin-bottom: 32px; }
  .news-related ul {
    display: inline-block;
    width: 100%;
    padding-left: 15px; }
    .news-related ul li {
      width: 100%;
      margin-bottom: 20px;
      list-style: disc; }
      .news-related ul li::marker {
        color: #FF5E00; }
      .news-related ul li a {
        color: #FF5E00;
        text-decoration: underline;
        font-size: 18px; }

.title-editor-blogs {
  color: #465360;
  font-family: 'gotham_nvvbold', sans-serif;
  text-decoration: underline; }

.sub-sumary-list {
  display: inline-block;
  width: 100%; }
  .sub-sumary-list .item-sub-sumary {
    display: inline-block;
    width: 100%; }
    .sub-sumary-list .item-sub-sumary b {
      display: inline-block;
      width: 100%;
      font-size: 20px;
      color: #33404F;
      text-transform: uppercase; }
      .sub-sumary-list .item-sub-sumary b img.rotation {
        cursor: pointer;
        transform: rotate(180deg); }
    .sub-sumary-list .item-sub-sumary ul {
      background: #EEF5FC;
      padding: 8px 16px;
      display: inline-block;
      width: 100%;
      margin-top: 10px;
      display: none; }
      .sub-sumary-list .item-sub-sumary ul li {
        display: inline-block;
        width: 100%; }
        .sub-sumary-list .item-sub-sumary ul li a {
          font-size: 16px;
          font-weight: 700;
          line-height: 30px;
          color: #465360; }
          .sub-sumary-list .item-sub-sumary ul li a:hover, .sub-sumary-list .item-sub-sumary ul li a.active {
            color: #FF5E00; }
        .sub-sumary-list .item-sub-sumary ul li ul {
          display: inline-block;
          width: 100%; }
          .sub-sumary-list .item-sub-sumary ul li ul li a {
            font-size: 12px; }
      .sub-sumary-list .item-sub-sumary ul.active {
        display: inline-block !important; }

.sticky-col-Sumary {
  position: sticky !important;
  top: 90px;
  width: 100%;
  display: block; }

.sub-sumary-list .item-sub-sumary {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%; }
  .sub-sumary-list .item-sub-sumary::nth-last-child(2) {
    margin-bottom: 0; }

#sumary-Sub-open-ul.active img {
  transform: rotate(180deg); }
#sumary-Sub-open-ul.active ul {
  display: inline-block !important; }

.item-sub-sumary {
  display: inline-block;
  width: 100%; }
  .item-sub-sumary label, .item-sub-sumary span {
    font-size: 12px;
    font-weight: 400;
    margin: 0; }
  .item-sub-sumary a {
    width: fit-content; }
  .item-sub-sumary b {
    display: inline-block;
    width: 100%;
    position: relative; }
    .item-sub-sumary b img {
      position: absolute;
      right: 0;
      width: 20px;
      top: 0;
      cursor: pointer; }
  .item-sub-sumary .sumary-Sub {
    position: relative; }
    .item-sub-sumary .sumary-Sub img {
      position: absolute;
      right: 0;
      width: 20px;
      top: 0;
      cursor: pointer; }
    .item-sub-sumary .sumary-Sub a {
      display: inline-block;
      width: 100%;
      position: relative; }
    .item-sub-sumary .sumary-Sub ul {
      display: none !important;
      margin-top: 0; }
      .item-sub-sumary .sumary-Sub ul li a {
        font-weight: 400; }

.votre-suggestion .suggerer-content {
  padding: 200px 46px !important; }

.filter-sumary-blogs {
  display: none; }

.suggerer-page {
  padding: 70px 0;
  padding-top: 144px !important;
  background: #F8F8F8; }
  .suggerer-page .suggerer-body {
    max-width: 890px;
    margin: auto; }
    .suggerer-page .suggerer-body .suggerer-content {
      display: inline-block;
      width: 100%;
      padding: 46px;
      background: white; }
      .suggerer-page .suggerer-body .suggerer-content .publications-info .txt {
        background: white !important; }
      .suggerer-page .suggerer-body .suggerer-content .publications-info .desc {
        margin-top: 43px;
        color: #222;
        font-size: 20px;
        padding: 0 160px;
        font-weight: 700;
        line-height: 27.5px; }
      .suggerer-page .suggerer-body .suggerer-content .block-presentation {
        display: inline-block;
        width: 100%; }
        .suggerer-page .suggerer-body .suggerer-content .block-presentation .blk-title {
          color: #465360;
          font-size: 14px;
          font-weight: 700;
          margin-top: 20px;
          margin-bottom: 10px;
          font-family: 'Karla', sans-serif; }

.filed-suggest-infor {
  position: relative;
  display: inline-block;
  width: 100%;
  outline: none;
  font-size: 14px;
  color: #222;
  display: flex;
  align-items: center; }
  .filed-suggest-infor .cdd-dropdown.shw .arr {
    transform: rotate(0deg) !important; }
  .filed-suggest-infor b {
    height: 26px;
    display: flex;
    align-items: center;
    width: fit-content;
    background: #898989;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
    border-radius: 4px;
    margin-left: 0; }
  .filed-suggest-infor button {
    height: 40px !important;
    padding-left: 10px !important; }
    .filed-suggest-infor button.btn-filter {
      border: 1px solid #EAECED; }
  .filed-suggest-infor .creer-blk {
    position: absolute;
    right: 1px;
    top: 1px;
    padding-right: 0;
    padding-left: 0;
    outline: none;
    cursor: pointer;
    color: #98A0A7;
    height: 38px;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    border: 0;
    background: white;
    border-left: 1px solid #EAECED; }
    .filed-suggest-infor .creer-blk label {
      font-weight: normal;
      font-family: 'Karla', sans-serif; }
    .filed-suggest-infor .creer-blk input {
      display: none; }
  .filed-suggest-infor img {
    width: 19px; }
  .filed-suggest-infor img.pen-orange {
    position: absolute;
    right: 11px;
    top: 7px;
    width: 22px; }

.button-action-form {
  position: relative; }
  .button-action-form button {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0 15px;
    background: #FF5E00;
    color: white;
    border: 0;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer; }

.votre-suggestion .publications-info {
  text-align: center; }
.votre-suggestion .publications-info .square-ttl {
  position: relative;
  width: fit-content;
  margin: auto; }

.account-prodetheque .cdd-dropdown {
  margin-bottom: 0; }
.account-prodetheque .des-large {
  font-size: 20px;
  font-weight: 700;
  color: #5A6671;
  display: inline-block;
  width: 100%;
  margin-top: 30px; }
.account-prodetheque .des {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  margin-top: 20px; }
.account-prodetheque h3.blk-title {
  margin-top: 30px;
  margin-bottom: 10px; }
.account-prodetheque .form-group {
  margin-bottom: 0; }
.account-prodetheque .btn-action-form {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 0;
  margin-top: 30px; }
  .account-prodetheque .btn-action-form button {
    height: 36px;
    display: inline-block;
    width: 100%;
    width: fit-content !important;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0 15px;
    background: #FF5E00;
    color: white;
    border: 0;
    font-weight: 500;
    cursor: pointer; }

.account-prodetheque-page {
  padding-top: 144px;
  background: #F8F8F8; }
  .account-prodetheque-page .head {
    margin-bottom: 20px; }
  .account-prodetheque-page::before {
    content: '';
    display: inline-block;
    width: 50%;
    right: 0;
    top: 0;
    height: 100%;
    background: white;
    position: absolute;
    z-index: 0; }
  .account-prodetheque-page .mon-compte-wrap {
    margin-bottom: 0; }
  .account-prodetheque-page .compte-right {
    background: white; }
  .account-prodetheque-page .form-info-suggerer {
    max-width: 378px; }

.modification-page .filed-suggest-infor .cdd-dropdown.shw .arr {
  transform: rotate(180deg) !important; }
.modification-page .publications-info .desc {
  font-family: 'gotham_nvvbold', sans-serif;
  font-size: 25px !important; }
.modification-page .filed-suggest-infor .cdd-dropdown-list {
  width: 100%;
  padding-top: 10px !important; }
  .modification-page .filed-suggest-infor .cdd-dropdown-list span.title-choose {
    padding: 0 15px !important;
    margin-top: 0px !important;
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    color: #98A0A7; }
.modification-page .filed-suggest-infor .cdd-dropdown {
  width: 100%; }
.modification-page .filed-suggest-infor .btn.btn-filter {
  width: 100%;
  justify-content: space-between;
  font-size: 14px; }

.popup-redacteur {
  max-width: 100% !important;
  width: 100%; }
  .popup-redacteur .square-ttl .txt {
    background: white !important; }
  .popup-redacteur .lager-infor-head {
    text-align: left;
    color: #222 !important; }
  .popup-redacteur .des {
    color: #465360;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px; }

.popup-votre-interet {
  padding: 120px 70px; }
  .popup-votre-interet span {
    color: #838C95;
    font-size: 16px;
    display: inline-block;
    width: 100%; }
  .popup-votre-interet .desc {
    color: #222 !important;
    display: inline-block;
    width: 100%;
    font-size: 20px !important;
    font-weight: 700;
    margin-top: 30px; }
  .popup-votre-interet .publications-info .square-ttl.lrg {
    width: fit-content;
    margin: auto; }
  .popup-votre-interet .publications-info .square-ttl.lrg::before {
    left: -24px !important;
    bottom: 17px !important; }
  .popup-votre-interet .publications-info {
    text-align: center; }
  .popup-votre-interet .publications-info .square-ttl .txt {
    background: white !important;
    width: fit-content;
    margin: auto; }
    .popup-votre-interet .publications-info .square-ttl .txt::before {
      left: initial !important; }

.sticky-col-Sumary .title-submary img {
  display: none; }

#modalVisit .square-ttl.lrg .txt {
  font-size: 37px; }

.font-22 {
  font-size: 22px; }

.nous-contacter-frm .blk-title {
  font-family: 'gotham_nvvbold', sans-serif; }

.color-placeholder {
  color: #98A0A7; }

.no-betwen {
  justify-content: initial !important; }

.propos-page .publications-head .cdd-container {
  max-width: 1280px; }

.propos-page .block-content-upper .block-img {
  width: 406px; }
.propos-page .block-content-upper .block-text .desc.mb-4 {
  margin-bottom: 35px !important; }
.propos-page .block-content-upper .block-text h4.section-title {
  line-height: 23px; }

.une-communaute-section .member-slider .slick-arrow::before {
  display: none !important; }

.block-business-community .community-right {
  max-width: 55%; }

.square-ttl .txt {
  text-transform: none !important; }

.block-team .block-content .item-dl .name {
  font-size: 20px;
  font-family: 'gotham_nvvbold', sans-serif; }

.cdd-tabs .nav-item .nav-link {
  font-weight: 700; }

.mb-research {
  display: none !important; }

.sauvegarder-btn .link-top-search a {
  font-family: 'gotham_medium';
  text-decoration: underline; }

@media only screen and (max-width: 1470px) {
  .pt-title-head {
    padding-top: 10%; } }
@media only screen and (max-width: 1441px) {
  .head-procedetheque {
    padding: 0 15px; } }
body.open-modal {
  overflow: hidden; }

@media only screen and (max-width: 1270px) {
  .head-procedetheque .menu-search ul li {
    margin: 0 6px; }

  .des-large {
    font-size: 18px;
    line-height: 21.5px; }

  .head-procedetheque .menu-search ul li {
    margin: 0 2px; }
    .head-procedetheque .menu-search ul li a {
      font-size: 11px; }

  .header-profile a {
    font-size: 10px; } }
@media only screen and (max-width: 1200px) {
  .head-blogs-page {
    position: relative; }
    .head-blogs-page::before {
      background: #ff8b47;
      content: '';
      display: inline-block;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 130px; }

  .author-post-content {
    max-width: 56.333333%;
    padding-right: 170px; }

  .innovation-tab .cdd-tabs .nav-item {
    margin-right: 20px; }

  .infor-head-blogs .title-cate-infor-headBlogs .name-cate-blogs,
  .infor-head-blogs .title-cate-infor-headBlogs .sous-catagories {
    height: 35px; }

  .title-head-blogsDetail h1 {
    font-size: 22px; }

  .title-head-blogsDetail {
    padding: 19px 0; } }
@media only screen and (max-width: 1100px) {
  .col-infor-head {
    width: 100%; }
    .col-infor-head .pt-title-head {
      padding-top: 58px; }
    .col-infor-head h1 {
      margin-bottom: 10px; }

  .author-post-content {
    max-width: 55.333333%;
    padding-right: 170px; }

  .innovation-tab .cdd-tabs .nav-item {
    margin-right: 5px; } }
@media only screen and (max-width: 1024px) {
  .account-prodetheque-page::before {
    display: none; }

  .account-prodetheque-page .compte-right {
    padding-top: 30px; }

  .fiche-producite .content-fiche-producite {
    padding-left: 0px;
    display: inline-block;
    width: 100%;
    align-items: center;
    display: flex;
    padding-right: 115px; }

  .box-des-thumbnails {
    margin-bottom: 14px; }

  .page-poignet-toron .headpage-breadcrumb-right::before {
    height: 69%;
    bottom: 0;
    left: 0;
    width: 100%; }

  .page-poignet-toron form {
    max-width: 340px; }

  .head-blogs-page .col-md-6 {
    padding-right: 15px !important;
    padding-left: 15px !important;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .account-prodetheque-page {
    padding-top: 72px;
    background: #fff; }

  .head-blogs-page .thumbials-avatarBlogs {
    margin-top: 0; }

  .main.head-top-new-logined.page-poignet-toron .publications-head {
    padding-top: 10px; }

  .resultats-procedetheque .cdd-container .breadcrumb-wrap {
    position: absolute;
    z-index: 9;
    right: inherit;
    height: 100%;
    top: initial;
    bottom: -56px;
    left: 15px; }

  .headpage-breadcrumb-right {
    padding-bottom: 80px; }

  .resultats-procedetheque .publications-head {
    padding: 0 !important; }

  .copyright-span {
    top: -25px; }

  .head-top-new-logined {
    padding-top: 66px !important; }
    .head-top-new-logined .profile-avt img {
      width: 32px; }

  .popup-procedetheque {
    margin-bottom: 0; }
    .popup-procedetheque h1.square-ttl::before {
      bottom: 8px !important; }

  .item-nouveautes .bookmark-icon {
    bottom: -5px; }

  .nouveautes-section {
    padding-bottom: 30px;
    margin-bottom: 30px; }

  .item-nouveautes::after {
    display: none; }

  .thumbnails-nouveautes {
    position: relative; }
    .thumbnails-nouveautes::after {
      height: 20px;
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -20px;
      right: 0;
      width: 50%;
      background: #FF833B; }

  .item-nouveautes {
    padding-right: 0;
    display: flex;
    flex-direction: column-reverse; }

  .link-item-nouveautes-absoute {
    position: absolute;
    top: inherit;
    right: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center; }

  .link-item-nouveautes-absoute a {
    margin-bottom: 0;
    text-align: left; }

  .item-nouveautes .infor-content-nouveautes {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px; }

  .content-absoulte {
    margin-top: 15px;
    padding: 0; }

  .content-absoulte h6 {
    margin-bottom: 23px;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    padding-right: 0; }

  .content-absoulte .des {
    margin-bottom: 30px; }

  .item-nouveautes {
    padding-right: 0; }

  .page-nouveautes .publications-head {
    width: 100%;
    position: relative; }

  .research-box-nouveautes {
    padding: 30px 0; }

  .col-infor-head {
    max-width: 100%; }

  .nouveautes-section .section-title, .nouveautes-main-content .section-title, .research-box-nouveautes .section-title {
    font-size: 22px; }

  .page-nouveautes .page-nouveautes-img img {
    width: 100%;
    float: right; }

  .page-nouveautes .head-page-linvavation {
    margin-bottom: 0; }

  .section-head-page {
    display: flex;
    flex-direction: column-reverse; }

  body .pc {
    display: none !important; }

  .innovation-wrap {
    padding-top: 0; }

  .social-rating-tab.mb {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%; }

  body .mb {
    display: block; }

  .social-rating-tab {
    display: none; }

  .innovation-tab .cdd-tabs .nav-item {
    margin-right: 25px; }

  .innovation-tab {
    width: 100%;
    position: relative;
    margin-top: 18px; }

  .social-rating-tab .socials {
    display: none; }

  .author-post-content {
    bottom: -45px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    background: white; }

  .blk-content-left h1, .blk-content-left h1 b {
    font-size: 48px; }

  .blk-content-left h1 b::after {
    top: 14px;
    width: 67px; }

  .blk-content-left h1 b {
    padding-right: 22px; }

  .blk-content-right .form-commencer h2 {
    font-size: 32px; }

  .blk-content-right .form-commencer {
    padding: 36px 20px 46px 20px; }

  .content-process-library {
    padding-right: 0; }

  .right-col-process-library {
    position: relative;
    right: 0;
    padding-right: 0;
    top: 0;
    margin-top: 30px;
    max-width: 430px; }

  .left-col-process-library {
    padding-right: 0; } }
@media only screen and (max-width: 970px) {
  .content-filter-col {
    display: inline-block !important; }

  .list-resultast-row .list-body-resultast {
    padding-left: 15px; }

  .list-resultast-row .section-title {
    margin: 30px 0 20px 0;
    position: relative; }

  .list-resultast-row .col-md-3 {
    padding-right: 15px; }

  .blk-content-left h1, .blk-content-left h1 b {
    font-size: 40px; }

  .blk-content-left h1 {
    margin-bottom: 51px; }

  .blk-content-left h1 b::after {
    top: 14px;
    width: 67px; } }
@media only screen and (max-width: 767px) {
  .link-top-search a span {
    font-size: 12px; }
  .link-top-search a img {
    width: 16px !important; }

  .filed-suggest-infor .combobox-procedetheque .cdd-dropdown button {
    position: relative;
    padding-right: 30px; }
    .filed-suggest-infor .combobox-procedetheque .cdd-dropdown button img {
      position: absolute;
      right: 10px; }

  .back-page {
    margin-bottom: 0; }

  .account-prodetheque .des-large {
    margin-top: 0; }

  .blk-content-right .form-commencer h2 {
    font-size: 25px;
    padding: 0 30px; }
    .blk-content-right .form-commencer h2 br {
      display: none; }

  .sticky-col-Sumary .title-submary img {
    display: block; }

  .btn.btn-filter {
    font-size: 14px; }

  .popup-votre-interet .publications-info .square-ttl.lrg::before {
    left: -11px !important;
    bottom: 17px !important;
    width: 40px;
    height: 40px; }

  .popup-votre-interet .desc {
    color: #222 !important;
    display: inline-block;
    width: 100%;
    font-size: 16px !important;
    font-weight: 700;
    margin-top: 0; }

  .popup-votre-interet .publications-info .square-ttl.lrg .txt {
    font-size: 20px !important; }

  .popup-votre-interet {
    padding: 40px 15px; }

  .popup-redacteur .square-ttl.lrg::before {
    bottom: 5px !important; }

  .mon-compte-content .head .blk-title {
    letter-spacing: 0.02em;
    font-size: 25px;
    line-height: 36px; }

  .mon-compte-content .head .blk-title img {
    width: 32px !important; }

  .sticky-col-Sumary .title-submary {
    position: relative; }
    .sticky-col-Sumary .title-submary img {
      width: 24px;
      position: absolute;
      right: 0px;
      top: 0; }

  .filter-sumary-blogs {
    height: 33px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: 1px solid #FF5E00;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 15px;
    position: absolute;
    right: 15px;
    top: 20px; }
    .filter-sumary-blogs img {
      margin-right: 4px;
      height: 14px; }
    .filter-sumary-blogs span {
      color: #FF5E00; }

  .main-Blogs-content .content-body-Blogs {
    padding-left: 15px !important; }

  .box-des-thumbnails .infor-description-Blogs p {
    font-size: 11px; }

  .des-Blogs p {
    font-size: 13px; }

  .page-poignet-toron form {
    position: absolute;
    top: inherit;
    z-index: 9;
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    left: 0;
    margin-top: 36px; }

  .fixed-btn-sumary {
    position: fixed;
    top: 80px;
    right: 30px;
    z-index: 9;
    background: white; }
    .fixed-btn-sumary img {
      margin-right: 0; }
    .fixed-btn-sumary span {
      display: none; }

  .news-related ul li a {
    font-size: 11px;
    line-height: 18px; }

  .main-Blogs-content .content-body-Blogs .col-left-Blogs {
    position: relative;
    display: none; }
    .main-Blogs-content .content-body-Blogs .col-left-Blogs.active {
      display: block;
      position: fixed;
      left: 0;
      top: 65px;
      width: 100%;
      background: none;
      padding: 0 15px;
      box-shadow: none;
      z-index: 99; }
      .main-Blogs-content .content-body-Blogs .col-left-Blogs.active .sticky-col-Sumary {
        display: inline-block;
        padding: 15px;
        width: 100%;
        background: white;
        box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1); }

  .page-poignet-toron .headpage-breadcrumb-right::before {
    height: 46%; }

  .des-img-50-50 .infor-description-Blogs {
    padding: 9px !important;
    line-height: 15px; }

  .sugger-col .content-fiche-producite {
    padding-right: 0px !important;
    display: inline-block !important;
    width: 100% !important; }

  .fiche-producite .content-fiche-producite p {
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 17px; }

  .sugger-col .content-fiche-producite a {
    justify-content: center; }

  .fiche-producite .content-fiche-producite h5 {
    font-size: 16px;
    line-height: 21px; }

  .action-head-BlogsDetail .btn-pen span {
    font-size: 11px;
    line-height: 15px; }

  .fiche-producite .content-fiche-producite img {
    width: 80px; }

  .fiche-producite .content-fiche-producite {
    padding-right: 0; }

  .box-des-thumbnails .infor-description-Blogs {
    position: relative;
    padding: 9px;
    padding-right: 9px;
    padding-bottom: 30px; }
    .box-des-thumbnails .infor-description-Blogs p {
      line-height: 15px; }
    .box-des-thumbnails .infor-description-Blogs span {
      position: absolute;
      bottom: 9px;
      height: initial;
      right: 0;
      font-size: 11px;
      line-height: 15px;
      top: inherit; }

  .subtitle-content-Blogs {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 6px solid #EEF5FC;
    margin-top: 15px; }

  .infor-head-blogs .title-cate-infor-headBlogs .sous-catagories a, .infor-head-blogs .title-cate-infor-headBlogs .name-cate-blogs a {
    color: white;
    font-size: 11px; }

  .name-img-credits {
    font-size: 11px;
    line-height: 15px;
    bottom: 9px;
    right: 9px; }

  .action-head-BlogsDetail .link-top-search {
    justify-content: space-between; }

  .infor-head-blogs {
    margin-top: 125px; }

  .date-BlogsDetail {
    font-size: 11px; }

  .infor-head-blogs .title-cate-infor-headBlogs img {
    top: 0px; }

  .action-head-BlogsDetail .bookmark-icon span {
    display: none; }

  .title-head-blogsDetail h1 {
    -webkit-line-clamp: 100;
    height: initial; }

  .page-poignet-toron .search-breadcrumb {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%; }
  .page-poignet-toron .publications-head {
    padding-top: 0 !important; }
    .page-poignet-toron .publications-head h1.square-ttl::before {
      border-color: #fff !important; }
    .page-poignet-toron .publications-head h1.square-ttl .txt {
      color: white;
      background: #FF5E00 !important; }
  .page-poignet-toron .cdd-container {
    position: relative; }
    .page-poignet-toron .cdd-container .breadcrumb-wrap {
      position: absolute;
      z-index: 9;
      right: 15px;
      height: 100%;
      top: 0; }
      .page-poignet-toron .cdd-container .breadcrumb-wrap span {
        color: white; }
  .page-poignet-toron .breadcrumb-wrap {
    height: initial !important;
    bottom: -120px;
    left: 15px;
    z-index: 999; }
  .page-poignet-toron form {
    position: absolute;
    right: 0;
    top: inherit;
    z-index: 9;
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    bottom: -90px; }
    .page-poignet-toron form button {
      position: absolute;
      right: 15px;
      top: 1px;
      background: white !important;
      margin: 0;
      padding: 0;
      padding-right: 5px; }
    .page-poignet-toron form input {
      border: 0; }
  .page-poignet-toron .headpage-breadcrumb-right {
    padding: 33px 0;
    padding-bottom: 0; }
  .page-poignet-toron .breadcrumb-wrap {
    top: -20px !important; }

  .headpage-breadcrumb-right .back-page-white {
    display: inline-block !important; }

  .list-resultast-row .list-body-resultast {
    min-height: initial;
    padding-bottom: 30px; }

  .item-filter.mt30 {
    margin-top: 20px; }

  body .list-resultast-row .col-md-3 {
    display: none; }
    body .list-resultast-row .col-md-3.active {
      display: inline-block !important; }

  .head-filter-mb {
    display: flex !important; }

  body .head-filter-mb {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    background: white;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    left: 0; }
    body .head-filter-mb b {
      font-weight: 300;
      font-size: 30px; }
    body .head-filter-mb img {
      width: 24px;
      margin-right: 0; }

  .button-submit-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    background: #FF5E00;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9; }
    .button-submit-filter a {
      color: white;
      height: 49px;
      display: inline-block;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }

  .content-filter-col {
    position: fixed;
    top: 66px;
    left: 0;
    width: 100%;
    background: #FFFAF8;
    z-index: 999999;
    padding: 0 15px;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 140px; }

  .link-top-search {
    position: absolute;
    right: initial;
    top: -40px;
    display: flex;
    left: 0; }

  .btn-filter-addition {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 110px; }
    .btn-filter-addition .filter-mb-results {
      position: absolute;
      left: 0;
      width: 105px;
      display: inline-block !important; }
    .btn-filter-addition .button-bottom-filedSearch {
      width: 100%; }

  .filter-mb-results {
    margin-right: 20px;
    height: 40px;
    float: right;
    width: fit-content;
    margin-top: 20px; }
    .filter-mb-results button {
      background: none;
      outline: none;
      display: flex;
      align-items: center;
      border: 0;
      height: 100%;
      border: 1px solid #FF5E00;
      padding: 0 16px;
      border-radius: 4px !important;
      background: white; }
    .filter-mb-results img {
      width: 17px;
      margin-left: 3px; }
    .filter-mb-results span {
      color: #FF5E00; }

  .search-filed-button-save .button-bottom-filedSearch {
    position: relative;
    right: 0;
    top: 21px;
    width: 100%; }

  .search-filed-button-save {
    padding-right: 0; }

  .research-box-nouveautes {
    padding-top: 70px;
    padding-bottom: 30px; }

  .search-filed-button-save form {
    padding-right: 0; }

  .search-filed-button-save form button {
    right: 0;
    background: white !important;
    border: 1px solid #FF5E00;
    border-left: 0; }

  .button-bottom-filedSearch {
    float: right; }

  .popup-procedetheque {
    text-align: left; }
    .popup-procedetheque .lager-infor-head {
      text-align: left;
      text-align: left;
      font-size: 14px;
      line-height: 18px; }
    .popup-procedetheque .des {
      text-align: left; }

  .head-page-linvavation {
    margin-bottom: 140px; }

  .author-post-content button {
    position: relative;
    right: inherit;
    top: 3px;
    left: 0;
    float: left;
    margin-top: 24px; }

  .author-post-content {
    bottom: -96px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    background: white; }

  .right-col-process-library .img-icon-linelogo {
    right: -15px; }

  .img-pc {
    display: none; }

  .img-mb {
    display: block; }

  .blk-content-left h1 {
    font-size: 35px;
    margin-bottom: 35px; }
    .blk-content-left h1 b {
      font-size: 35px;
      padding-right: 20px; }

  .blk-content-left h1 b::after {
    width: 59px;
    height: 73px;
    top: 5px; }

  .blk-content-left {
    padding: 42px 0; }

  .blk-content-left .des p b {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 21px; }

  .blk-content-left .des p {
    font-size: 16px;
    line-height: 20px; }

  .blk-content-right {
    padding-top: 0;
    padding-bottom: 36px; }

  .blk-content-right .form-commencer {
    padding: 44px 15px;
    padding-bottom: 20px; }

  .blk-content-right .form-commencer h2 {
    margin-bottom: 28px; }

  .page-procedetheque .col-md-5 {
    padding: 0 !important; }
  .page-procedetheque .col-md-7 {
    padding-left: 15px;
    padding-right: 15px; }

  .actualites-web-list .col-md-6:nth-last-child(1) .box-bookmark, .actualites-web-list .col-md-6:nth-last-child(2) .box-bookmark {
    margin-bottom: 56px; }

  .suggerer-page {
    padding-bottom: 0; }

  .button-action-form button {
    padding: 0 15px;
    background: #FF5E00;
    color: white;
    border: 0;
    font-weight: 500;
    position: relative;
    bottom: 0;
    right: 0;
    cursor: pointer;
    margin: auto; }

  .suggerer-page .suggerer-body .suggerer-content {
    display: inline-block;
    width: 100%;
    padding: 15px;
    background: white;
    padding-bottom: 30px;
    padding-top: 30px; }

  .suggerer-page .suggerer-body .suggerer-content .publications-info .txt {
    font-size: 20px; }
  .suggerer-page .square-ttl.lrg::before {
    width: 56px;
    height: 56px; }
  .suggerer-page .publications-info {
    margin-bottom: 10px;
    position: relative; }

  .suggerer-page .suggerer-body .suggerer-content .publications-info .desc {
    margin-top: 13px;
    color: #222;
    font-size: 15px; }

  .votre-suggestion .publications-info {
    text-align: left; }
  .votre-suggestion .suggerer-content {
    padding: 60px 16px !important; }
  .votre-suggestion .desc {
    font-weight: 700; }

  #modalVisit .square-ttl.lrg .txt {
    font-size: 25px; }

  .login-form-wrap .btn {
    width: fit-content;
    font-style: initial !important; }

  .btn-left {
    text-align: left !important; }

  .nous-contacter-form .select-custom {
    max-width: 280px; }

  .center-fit-content {
    text-align: center !important; }
    .center-fit-content button {
      width: fit-content !important;
      margin: auto; }

  .left-col-process-library br {
    display: none; }

  .propos-page .publications-info .square-ttl::before {
    bottom: 38px; }

  .propos-page .publications-info .square-ttl .txt {
    font-size: 32px; }

  .propos-page .section-title {
    font-size: 24px; }

  h4.section-title.font-32 {
    font-size: 32px;
    padding-right: 1px; }

  .copyright-span {
    top: -63px; }

  .pc-research {
    display: none !important; }

  .mb-research {
    display: flex !important; }
    .mb-research img {
      margin-right: 8px;
      height: 16px; }

  .mb-block {
    position: relative;
    display: flex !important;
    width: fit-content;
    justify-content: center;
    margin: auto; }

  .suggerer-page .square-ttl.lrg .txt {
    font-size: 17px !important; }

  .close-close-popup {
    top: 15px;
    right: 15px; }

  .content-Blogs-main {
    padding-right: 0; }

  .link-item-nouveautes-absoute {
    font-size: 12px; }

  .fiche-producite .content-fiche-producite {
    padding-left: 15px;
    padding-right: 15px; }

  body .fiche-producite .content-fiche-producite {
    padding-right: 15px !important; }

  .suggerer-page .suggerer-body .suggerer-content .publications-info .desc {
    padding: 0 16px;
    font-weight: 700;
    line-height: inherit; }

  .suggerer-page.modification-page .square-ttl.lrg {
    margin-bottom: 0; }
  .suggerer-page.modification-page .square-ttl.lrg .txt {
    font-size: 20px !important; }
  .suggerer-page.modification-page .publications-info .desc {
    font-size: 14px !important;
    margin-top: 0 !important;
    padding-left: 24px !important; }

  body .popup-votre-interet .desc {
    text-align: left; }
  body .popup-votre-interet span {
    text-align: left; } }
@media only screen and (max-width: 340px) {
  .research-box-nouveautes form input {
    border-radius: 4px 0 0 4px;
    height: 40px;
    font-size: 12px;
    border: 1px solid #FF5E00; }

  #modalVisit .modal-body, #browse-image-modal .modal-body, #modal-ask-to-join .modal-body, #modal-votre-demande .modal-body, #modal-confirm-signaler .modal-body, #modal-confirm-delete .modal-body {
    padding: 70px 15px 45px 15px !important; }

  .blk-content-left h1, .blk-content-left h1 b {
    font-size: 32px; }

  .blk-form-mail .search-form input {
    font-size: 12px; }

  #modalVisit .square-ttl.lrg .txt {
    font-size: 32px; }

  .suggerer-page .square-ttl.lrg .txt {
    font-size: 15px !important; }

  .suggerer-page.modification-page .square-ttl.lrg {
    margin-bottom: 0; }
  .suggerer-page.modification-page .square-ttl.lrg .txt {
    font-size: 17px !important; }

  .suggerer-page .suggerer-body .suggerer-content .block-presentation .blk-title {
    color: #465360;
    font-size: 13px; }

  body .popup-votre-interet .publications-info h1.square-ttl.lrg .txt {
    font-size: 16px !important; }
  body .popup-votre-interet .desc {
    text-align: left; }
  body .popup-votre-interet span {
    text-align: left; }

  body .popup-votre-interet .publications-info .square-ttl.lrg::before {
    bottom: 13px !important; } }

/*# sourceMappingURL=style.css.map */
