/*.popup-thanks {
  background: #0478b5 url(../images/bg-menu.png) no-repeat center bottom;
  background-size: cover !important;
  display: none;
}
.popup-thanks.active {
    display: block;
}
*/
/*.mb-section-6 {
    padding: 2px 0 54px 0 !important;
}
*/

.item-left .thumb {
    width: 50%;
}

.mb-infor-news2 {
    width: 45%;
    float: right;
    font-size: 12px!important;
}

.mb-infor-news2 .date {
    color: white;
    display: block;
    margin-bottom: 10px;
}

.mb-infor-news2 h3 a {
    font-size: 12px !important;
    line-height: 17px;
}

.mb-infor-news2 .detail-news img {
    height: 25px;
}

.footer .icon-social {
    text-align: center;
    z-index: 1000;
}

.footer .icon-social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.footer .icon-social ul li {
    float: left;
}

.footer .icon-social ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0 15px;
  text-decoration: none;
}

.footer .icon-social ul li img {
    width: 15px;
}

