@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

* {
  padding: 0;
  outline: none;
  margin: 0;
  font-size: 14px;
  color: #283646;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; }

.pos-body {
  padding-left: 65px;
  position: relative;
  padding-top: 50px; }

.pos-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: white;
  width: 65px;
  text-align: center; }
  .pos-sidebar .pos-logo {
    padding: 20px 0; }
  .pos-sidebar nav ul li {
    margin: 20px 0; }
    .pos-sidebar nav ul li a {
      text-decoration: none; }
      .pos-sidebar nav ul li a i {
        font-size: 26px;
        color: #8692A6; }
      .pos-sidebar nav ul li a:hover i, .pos-sidebar nav ul li a.active i {
        color: #438EB8; }

.pos-head-top {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 99;
  width: 100%;
  padding-left: 65px; }

.pos-search {
  position: relative;
  float: left;
  width: 150px;
  border: 1px solid #E4E7EB;
  margin-top: 10px;
  border-radius: 6px;
  height: 30px;
  margin-left: 20px;
  padding: 0 15px; }
  .pos-search i {
    position: absolute;
    left: 10px;
    top: 7px;
    color: #8692A6; }
  .pos-search input {
    width: 100%;
    border: 0;
    height: 28px;
    padding-left: 15px; }

.pos-cate-menu {
  margin-left: 20px !important; }

.pos-floor {
  margin-left: 20px;
  float: left;
  margin-top: 12px; }
  .pos-floor a {
    position: relative;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
    color: #283646; }
    .pos-floor a:hover {
      color: #438EB8; }
    .pos-floor a.active {
      color: #438EB8; }
      .pos-floor a.active::after {
        content: '';
        display: block;
        width: 100%;
        background: #438EB8;
        height: 1px;
        border-radius: 2px;
        position: absolute;
        bottom: -5px;
        left: 0; }

.pos-content {
  min-height: 93.5vh;
  width: 100%;
  display: inline-block;
  border-radius: 6px;
  background: #F3F6F9; }

/*--checkbox--*/
.pos-checkstt-search {
  position: fixed;
  top: 0;
  z-index: 99;
  left: 45px; }

.pos-checkbox-status {
  margin: 10px 0 0 0;
  float: left; }
  .pos-checkbox-status label::before {
    border: 1px solid #E4E7EB; }
  .pos-checkbox-status label span {
    margin-top: 3px;
    float: right;
    color: #76BA69;
    position: relative; }
    .pos-checkbox-status label span::before {
      position: absolute;
      left: -12px;
      top: 6px;
      width: 8px;
      height: 8px;
      content: '';
      display: block;
      border-radius: 50%;
      background: #76BA69; }
    .pos-checkbox-status label span .styled-checkbox:checked + label:before {
      background: #fff;
      border: 1px solid #76BA69 !important; }
    .pos-checkbox-status label span.occupied {
      color: #EA5C7F; }
      .pos-checkbox-status label span.occupied::before {
        background: #EA5C7F; }
      .pos-checkbox-status label span.occupied .styled-checkbox:checked + label:before {
        background: #fff;
        border: 1px solid #EA5C7F !important; }
    .pos-checkbox-status label span.reserved {
      color: #EA993E; }
      .pos-checkbox-status label span.reserved::before {
        background: #EA993E; }
      .pos-checkbox-status label span.reserved .styled-checkbox:checked + label:before {
        background: #fff;
        border: 1px solid #EA993E !important; }
  .pos-checkbox-status .styled-checkbox {
    position: absolute;
    opacity: 0; }
    .pos-checkbox-status .styled-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0; }
    .pos-checkbox-status .styled-checkbox + label:before {
      content: '';
      margin-right: 20px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      border-radius: 2px;
      height: 20px;
      background: white; }
    .pos-checkbox-status .styled-checkbox:checked + label:before {
      background: #fff;
      border: 1px solid #438EB8; }
    .pos-checkbox-status .styled-checkbox:disabled + label {
      color: #b8b8b8;
      cursor: auto; }
    .pos-checkbox-status .styled-checkbox:disabled + label:before {
      box-shadow: none;
      background: #fff; }
    .pos-checkbox-status .styled-checkbox:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: 7px;
      width: 6px;
      color: #438EB8;
      background: white;
      height: 13px;
      box-shadow: none !important;
      border: solid;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }
  .pos-checkbox-status .available span {
    color: #76BA69; }
    .pos-checkbox-status .available span::before {
      background: #76BA69; }
  .pos-checkbox-status .available .styled-checkbox:hover + label:before {
    background: #fff;
    border: 1px solid #76BA69; }
  .pos-checkbox-status .available .styled-checkbox:checked + label:before {
    background: #fff;
    border: 1px solid #76BA69; }
  .pos-checkbox-status .available .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto; }
  .pos-checkbox-status .available .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #fff; }
  .pos-checkbox-status .available .styled-checkbox:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    background: white;
    color: #76BA69;
    height: 14px;
    box-shadow: none !important;
    border: solid #76BA69;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }
  .pos-checkbox-status .occupied span {
    color: #EA5C7F; }
    .pos-checkbox-status .occupied span::before {
      background: #EA5C7F; }
  .pos-checkbox-status .occupied .styled-checkbox:hover + label:before {
    background: #fff;
    border: 1px solid #EA5C7F; }
  .pos-checkbox-status .occupied .styled-checkbox:checked + label:before {
    background: #fff;
    border: 1px solid #EA5C7F !important; }
  .pos-checkbox-status .occupied .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto; }
  .pos-checkbox-status .occupied .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #fff; }
  .pos-checkbox-status .occupied .styled-checkbox:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    background: white;
    color: #EA5C7F;
    height: 14px;
    box-shadow: none !important;
    border: solid #EA5C7F;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }
  .pos-checkbox-status .reserved span {
    color: #EA993E; }
    .pos-checkbox-status .reserved span::before {
      background: #EA993E !important; }
  .pos-checkbox-status .reserved .styled-checkbox:hover + label:before {
    background: #fff;
    border: 1px solid #EA993E !important; }
  .pos-checkbox-status .reserved .styled-checkbox:checked + label:before {
    background: #fff;
    border: 1px solid #EA993E; }
  .pos-checkbox-status .reserved .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto; }
  .pos-checkbox-status .reserved .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #fff; }
  .pos-checkbox-status .reserved .styled-checkbox:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    background: white;
    color: #EA993E;
    height: 14px;
    box-shadow: none !important;
    border: solid #EA993E;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }

.pos-content-head {
  width: 100%;
  display: inline-block;
  background: white;
  height: 50px; }

.pos-check-content {
  display: inline-block;
  margin-left: 20px; }

/*--checkbox--*/
/*--notification--*/
.pos-noti-all a {
  text-align: center;
  color: #438EB8 !important;
  border-top: 1px solid #E4E7EB; }

.pos-notification-box-head {
  position: relative; }
  .pos-notification-box-head button label {
    position: absolute;
    top: 42px;
    right: 0;
    background: #283646;
    padding: 7px 18px;
    display: none;
    max-width: 140px;
    color: white;
    border-radius: 6px; }
  .pos-notification-box-head button:hover label {
    display: block; }
  .pos-notification-box-head .dropdown-menu {
    left: initial;
    width: 270px;
    border: 0 !important;
    padding: 0;
    right: 0 !important; }
    .pos-notification-box-head .dropdown-menu li {
      float: left;
      width: 100%; }
      .pos-notification-box-head .dropdown-menu li a {
        padding: 5px 15px;
        float: left;
        width: 100%; }
        .pos-notification-box-head .dropdown-menu li a:hover span {
          color: #438EB8 !important; }
        .pos-notification-box-head .dropdown-menu li a:hover i {
          color: #438EB8; }
        .pos-notification-box-head .dropdown-menu li a i {
          width: 20px;
          height: 20px;
          display: block;
          font-size: 11px;
          float: left;
          text-align: center;
          padding-top: 10px;
          border-radius: 50%; }
        .pos-notification-box-head .dropdown-menu li a span {
          float: left;
          margin: 5px 0 0 5px; }
  .pos-notification-box-head button {
    box-shadow: none !important;
    outline: none !important;
    background: none !important;
    border: 0 !important;
    padding-top: 12px; }
    .pos-notification-box-head button i {
      font-size: 16px;
      color: #9a9a9a; }
    .pos-notification-box-head button span {
      right: -10px !important;
      top: 5px !important;
      width: 22px;
      height: 22px;
      padding: 5px 0px;
      font-size: 11px !important;
      font-weight: normal !important;
      position: absolute;
      border-radius: 50%;
      border: 0 !important;
      padding: 4px 3px;
      background: #EA5C7F !important;
      color: white !important; }

.pos-notification-account {
  float: right;
  margin-right: 15px;
  margin-top: 6px; }

.pos-content {
  padding: 15px; }
  .pos-content .pos-table-body .item-table {
    text-align: center;
    position: relative;
    display: inline-block;
    min-height: 100px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    border: 1px solid #E4E7EB;
    padding: 15px;
    background: white; }
    .pos-content .pos-table-body .item-table a {
      display: inline-block;
      width: 100%;
      text-decoration: none; }
    .pos-content .pos-table-body .item-table .icon-pos-menu-table {
      font-size: 3px;
      color: #8692A6; }
      .pos-content .pos-table-body .item-table .icon-pos-menu-table:hover {
        color: #438EB8; }
    .pos-content .pos-table-body .item-table .pos-item-status {
      height: 40px; }
      .pos-content .pos-table-body .item-table .pos-item-status img {
        max-height: 34px; }
    .pos-content .pos-table-body .item-table .pos-numbers-members {
      margin: 15px 0 5px 0; }
      .pos-content .pos-table-body .item-table .pos-numbers-members span {
        display: inline-block;
        color: #8692A6;
        margin-right: 15px; }
      .pos-content .pos-table-body .item-table .pos-numbers-members label {
        color: #8692A6; }
      .pos-content .pos-table-body .item-table .pos-numbers-members .pos-members {
        display: inline-block; }
    .pos-content .pos-table-body .item-table .pos-table-price {
      font-size: 16px;
      color: #8692A6; }
      .pos-content .pos-table-body .item-table .pos-table-price.pos-paymented {
        color: #CE5B58; }
        .pos-content .pos-table-body .item-table .pos-table-price.pos-paymented span {
          color: #CE5B58;
          font-size: 12px; }
      .pos-content .pos-table-body .item-table .pos-table-price span {
        color: #8692A6;
        font-size: 12px; }
    .pos-content .pos-table-body .item-table .pos-phone-hours a {
      color: #8692A6;
      display: initial !important;
      width: initial !important; }
    .pos-content .pos-table-body .item-table .pos-phone-hours label {
      color: #8692A6;
      padding-left: 10px;
      margin-left: 10px;
      border-left: 1px solid #E4E7EB; }
    .pos-content .pos-table-body .item-table.pos-table-paymented {
      border: 1px solid #CE5B58; }
      .pos-content .pos-table-body .item-table.pos-table-paymented .pos-paymented {
        color: #76BA69; }
        .pos-content .pos-table-body .item-table.pos-table-paymented .pos-paymented span {
          color: #76BA69; }
    .pos-content .pos-table-body .item-table.pos-table-finish {
      border: 1px solid #CE5B58; }

/*--ping animation --*/
@keyframes fab {
  0% {
    opacity: 0.6;
    height: 30px;
    width: 30px; }
  30% {
    opacity: 0.3; }
  40% {
    opacity: 0.1; }
  100% {
    height: 70px;
    width: 70px;
    opacity: 0; } }
.ripple {
  animation-name: fab;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #CE5B58;
  animation-timing-function: ease-out;
  position: absolute; }

.fab {
  background: #CE5B58;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  cursor: pointer; }

.fab i {
  margin: auto;
  color: white;
  font-size: 12px; }

.fab-button {
  position: absolute;
  left: 3px;
  top: 3px;
  z-index: 99; }

.ping-paymented img {
  width: 12px;
  margin-left: 7px; }
.ping-paymented .ripple {
  background: #76BA69; }
.ping-paymented .fab {
  background: #76BA69; }

/*--end ping --*/
.pos-menu-table {
  position: absolute;
  right: 12px;
  top: -3px;
  z-index: 1; }
  .pos-menu-table button {
    width: 30px;
    position: relative;
    border: 0 !important;
    background: none !important;
    box-shadow: none;
    outline: none !important;
    height: 30px; }
    .pos-menu-table button:hover .pos-tooltip {
      display: block; }
  .pos-menu-table .pos-tooltip {
    position: absolute;
    display: none;
    right: -2px;
    background: #283646;
    padding: 5px 10px;
    text-align: center;
    top: 34px;
    border-radius: 4px; }
    .pos-menu-table .pos-tooltip span {
      color: white; }
  .pos-menu-table ul {
    background: #438EB8;
    border: 0;
    width: 110px;
    box-shadow: none;
    padding: 0 !important;
    min-width: 110px;
    left: initial !important;
    right: -3px !important; }
    .pos-menu-table ul li {
      margin: 10px 0; }
      .pos-menu-table ul li a {
        opacity: .8;
        display: flex;
        padding: 5px 15px !important;
        width: 100%;
        background: none !important; }
        .pos-menu-table ul li a img {
          display: inline-block;
          margin-right: 5px; }
        .pos-menu-table ul li a span {
          color: white;
          font-size: 13px; }
        .pos-menu-table ul li a:hover {
          opacity: 1; }
      .pos-menu-table ul li:nth-last-child(1) a {
        border-top: 1px solid #4D97C0; }

/*--food menu--*/
.pos-item-menu {
  background: white;
  padding: 10px;
  border: 1px solid #E4E7EB;
  border-radius: 6px;
  position: relative;
  margin-bottom: 20px; }

.pos-avatar-food a {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  padding-top: 67%;
  display: block; }
  .pos-avatar-food a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
  .pos-avatar-food a label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    color: white;
    height: 30px;
    padding: 3px 0; }
    .pos-avatar-food a label.pos-red::before {
      background: #CE5B58;
      opacity: .7; }
    .pos-avatar-food a label.pos-yellow::before {
      background: #EA993E;
      opacity: .7; }
    .pos-avatar-food a label span {
      position: relative;
      color: white; }
    .pos-avatar-food a label::before {
      content: '';
      display: inline-block;
      background: #000;
      opacity: .2;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 100%; }

.infor-food {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  padding-bottom: 0; }
  .infor-food a {
    text-decoration: none;
    color: #8692A6;
    font-size: 13px; }
    .infor-food a:hover {
      color: #438EB8; }

.pos-menu-body {
  position: relative;
  padding-right: 584px;
  display: inline-block;
  width: 100%; }

.pos-list-menu .row {
  position: relative; }
.pos-list-menu .scrollbar {
  height: 90vh;
  padding-right: 15px; }

.pos-list-cart {
  height: 100vh;
  border-left: 1px solid #E0E5EA;
  background: #F3F6F9;
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.05);
  display: inline-block;
  width: 100%; }

.pos-show-cart {
  position: fixed;
  right: 0;
  top: 51px;
  height: 100vh;
  width: 599px;
  display: inline-block; }

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white; }

.pos-return-table {
  right: 60px !important;
  background: #FCEEF2 !important;
  color: #EA5C7F !important; }
  .pos-return-table i {
    display: block;
    transform: rotate(180deg);
    position: relative;
    color: #EA5C7F !important; }
  .pos-return-table p {
    width: 100px !important; }
  .pos-return-table:hover {
    background: #EA5C7F !important; }
    .pos-return-table:hover i {
      color: white !important; }
    .pos-return-table:hover p {
      display: block !important; }

.pos-cart-head {
  padding: 10px 15px;
  position: relative;
  display: inline-block;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.04); }
  .pos-cart-head label {
    color: #EA5C7F;
    display: inline-block;
    margin-bottom: 0; }
  .pos-cart-head .pos-id-menu {
    display: inline-block;
    font-size: 14px;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #E4E7EB; }
    .pos-cart-head .pos-id-menu button p {
      position: absolute;
      display: none;
      font-size: 13px;
      right: -2px;
      width: 90px;
      background: #283646;
      padding: 5px 10px;
      text-align: center;
      top: 34px;
      z-index: 99;
      border-radius: 4px;
      color: white; }
    .pos-cart-head .pos-id-menu button.pos-remove-all:hover p {
      display: block; }
    .pos-cart-head .pos-id-menu b {
      color: #438EB8;
      font-weight: bold; }
    .pos-cart-head .pos-id-menu span {
      color: #8692A6;
      font-weight: normal;
      font-size: 13px; }
    .pos-cart-head .pos-id-menu button {
      position: absolute;
      right: 15px;
      border-radius: 6px;
      border: 0;
      width: 25px;
      height: 25px;
      background: #EEF7FE;
      top: 7px; }
      .pos-cart-head .pos-id-menu button i {
        color: #438EB8;
        font-size: 17px; }
      .pos-cart-head .pos-id-menu button:hover {
        background: #438EB8; }
        .pos-cart-head .pos-id-menu button:hover i {
          color: white; }

.pos-list-item-menu .pos-check-content {
  margin-left: 0;
  float: left;
  width: 30px;
  margin-top: 7px; }
.pos-list-item-menu ul {
  margin: 0;
  padding: 0 15px;
  margin-top: 5px; }
  .pos-list-item-menu ul li {
    list-style: none;
    display: inline-block;
    width: 100%; }
    .pos-list-item-menu ul li .pos-checkbox-status {
      background: white;
      border-radius: 6px;
      display: inline-block;
      width: 100%;
      padding: 15px; }

.pos-avatar-food a {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  padding-top: 67%;
  display: block; }
  .pos-avatar-food a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
  .pos-avatar-food a label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    color: white;
    height: 30px;
    padding: 3px 0; }
    .pos-avatar-food a label.pos-red::before {
      background: #CE5B58;
      opacity: .7; }
    .pos-avatar-food a label.pos-yellow::before {
      background: #EA993E;
      opacity: .7; }
    .pos-avatar-food a label span {
      position: relative;
      color: white; }
    .pos-avatar-food a label::before {
      content: '';
      display: inline-block;
      background: #000;
      opacity: .2;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 100%; }

.infor-item-menu {
  width: 210px;
  position: relative;
  padding-left: 0;
  float: left; }
  .infor-item-menu .pos-avatar-food {
    left: 0;
    top: 0;
    width: 60px;
    float: left; }

.pos-description {
  float: left;
  width: 130px;
  margin-left: 8px; }
  .pos-description h6 {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #283646;
    margin: 0 !important; }
  .pos-description span {
    padding: 0 !important;
    margin: 0 !important;
    color: #8692A6;
    font-size: 12px; }

.touchspin button {
  background: none !important;
  border: 1px solid #E4E7EB;
  color: #8692A6;
  width: 30px;
  height: 30px;
  line-height: 9px;
  padding: 3px !important;
  text-align: center;
  border-radius: 3px !important; }
  .touchspin button:hover {
    background: #438EB8 !important; }
.touchspin input {
  background: none;
  border: 0;
  box-shadow: none;
  font-size: 18px;
  text-align: center;
  width: 55px !important;
  padding: 0 !important; }
.touchspin span {
  width: initial !important; }

.pos-price-menu {
  float: left;
  width: 85px;
  text-align: center;
  margin: 7px 0 0 21px; }
  .pos-price-menu span {
    font-size: 12px; }
  .pos-price-menu b {
    font-size: 14px;
    font-weight: bold; }

.touchspin {
  float: left; }

.pos-edit-item {
  float: left;
  margin: 6px 0 0 15px; }
  .pos-edit-item button {
    background: none;
    border: 0;
    position: relative;
    box-shadow: none; }
    .pos-edit-item button i {
      font-size: 16px;
      color: #8692A6; }
    .pos-edit-item button p {
      position: absolute;
      display: none;
      font-size: 13px;
      right: -2px;
      width: 45px;
      background: #283646;
      padding: 5px 10px;
      text-align: center;
      top: 34px;
      z-index: 99;
      border-radius: 4px;
      color: white; }
    .pos-edit-item button:hover p {
      display: block; }
    .pos-edit-item button:hover i {
      color: #438EB8; }

.pos-remove-item-menu {
  float: right;
  margin: 6px 0 0 15px; }
  .pos-remove-item-menu button {
    background: #FCEEF2;
    border: 0;
    position: relative;
    box-shadow: none;
    width: 25px;
    text-align: center;
    padding-top: 1px;
    height: 25px;
    border-radius: 4px; }
    .pos-remove-item-menu button i {
      font-size: 16px;
      height: 25px;
      width: 25px;
      color: #EA5C7F;
      border-radius: 4px; }
    .pos-remove-item-menu button p {
      position: absolute;
      display: none;
      font-size: 13px;
      right: -2px;
      min-width: 45px;
      background: #283646;
      padding: 5px 10px;
      text-align: center;
      top: 34px;
      z-index: 99;
      border-radius: 4px;
      color: white; }
    .pos-remove-item-menu button:hover {
      background: #EA5C7F !important; }
      .pos-remove-item-menu button:hover p {
        display: block; }
      .pos-remove-item-menu button:hover i {
        color: white; }

.scrollbar {
  float: left;
  height: 75vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0; }

#wrapper {
  text-align: center;
  width: 100%;
  margin: auto; }

/*
 *  STYLE 1
 */
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
  border-radius: 2px;
  background-color: #F5F5F5; }

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #E4E7EB; }

.pos-list-item-menu {
  display: inline-block;
  width: 100%;
  margin-top: 4px; }

.pos-checked {
  position: absolute;
  top: 15px;
  left: 15px; }
  .pos-checked.pos-choose span {
    background: #438EB8; }
    .pos-checked.pos-choose span i {
      display: block; }
  .pos-checked span {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    display: block;
    text-align: center; }
    .pos-checked span i {
      font-size: 18px;
      color: white;
      display: none; }

.pos-menu-view-all {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px; }
  .pos-menu-view-all span {
    color: #438EB8; }
    .pos-menu-view-all span:hover {
      text-decoration: underline; }
  .pos-menu-view-all i {
    font-size: 10px;
    color: #438EB8; }
  .pos-menu-view-all .pos-expand-menu {
    position: absolute;
    top: 38px;
    display: none;
    border: 1px solid #E4E7EB;
    border-radius: 0 0 6px 6px;
    right: 0;
    width: 794px;
    border-top: 1px solid #f7f7f7;
    background: white;
    padding: 15px;
    padding-bottom: 0;
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.05); }
    .pos-menu-view-all .pos-expand-menu a {
      margin-bottom: 20px;
      display: inline-block; }
      .pos-menu-view-all .pos-expand-menu a:hover {
        color: #438EB8; }
    .pos-menu-view-all .pos-expand-menu.show-expand {
      display: block !important; }

.pos-retract {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #E4E7EB; }
  .pos-retract span {
    color: #438EB8; }
  .pos-retract i {
    font-size: 10px;
    color: #438EB8; }

.pos-total-payment {
  position: fixed;
  bottom: 50px;
  width: 599px;
  z-index: 9;
  padding: 15px; }
  .pos-total-payment b {
    font-weight: bold; }
  .pos-total-payment label {
    float: right;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    color: #76BA69; }

.pos-list-content {
  background: white;
  display: inline-block;
  padding: 15px;
  border-radius: 6px;
  width: 100%;
  padding-right: 40px;
  border: 1px solid #e3e7ea;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.04); }
  .pos-list-content .icon-dropdown {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    right: 10px; }
    .pos-list-content .icon-dropdown i {
      color: #8692A6; }

.pos-expand-item-menu {
  display: none;
  margin-bottom: 15px;
  border-bottom: dashed 1px #E4E7EB;
  padding-bottom: 10px;
  width: 100%; }
  .pos-expand-item-menu p {
    display: flex;
    width: 100%;
    margin-bottom: 0;
    padding: 5px 0; }
    .pos-expand-item-menu p span {
      text-align: left;
      display: inline-block;
      font-size: 13px;
      width: 50%; }
    .pos-expand-item-menu p b {
      display: inline-block;
      width: 50% !important;
      text-align: right;
      font-size: 13px;
      font-weight: bold; }

.pos-total-pos {
  position: fixed;
  bottom: 0;
  padding: 0;
  background: white;
  width: 599px;
  z-index: 9; }
  .pos-total-pos .pos-print {
    float: left;
    width: 15%;
    text-align: center;
    border-right: 1px solid #E4E7EB; }
    .pos-total-pos .pos-print button {
      width: 100%;
      display: inline-block;
      padding: 15px;
      background: none;
      border: 0; }
      .pos-total-pos .pos-print button i {
        font-size: 20px;
        color: #8692A6 !important; }
    .pos-total-pos .pos-print:hover {
      background: #F3F6F9; }
      .pos-total-pos .pos-print:hover button i {
        color: #438EB8 !important; }

.pos-order-total-final {
  float: left;
  width: 31%; }
  .pos-order-total-final button {
    padding: 16px;
    background: none;
    background: #76BA69;
    display: inline-block;
    width: 100%;
    border: 0;
    text-transform: uppercase; }
    .pos-order-total-final button span {
      color: white; }
    .pos-order-total-final button span {
      font-size: 16px;
      font-weight: bold; }
    .pos-order-total-final button:hover {
      background: #283646; }

.pos-pay-total-final {
  float: left;
  background: #438EB8;
  text-align: center;
  width: 24%; }
  .pos-pay-total-final button {
    padding: 16px;
    background: none;
    display: inline-block;
    width: 100%;
    border: 0; }
    .pos-pay-total-final button i, .pos-pay-total-final button span {
      color: white; }
    .pos-pay-total-final button span {
      font-size: 16px;
      font-weight: bold; }
    .pos-pay-total-final button i {
      margin-right: 5px; }
  .pos-pay-total-final:hover {
    background: #283646; }

.pos-minus-tottal-payment .pos-expand-item-menu {
  display: inline-block !important; }
.pos-minus-tottal-payment .icon-dropdown {
  bottom: initial;
  transform: rotate(180deg);
  top: 13px !important; }

.pos-add-item-menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 49px;
  background: white;
  width: 599px;
  height: 100%;
  right: 0;
  z-index: 9; }
  .pos-add-item-menu .pos-cover-avatar {
    display: inline-block;
    height: 155px;
    width: 100%;
    object-fit: cover; }
  .pos-add-item-menu .scrollbar {
    height: 61vh;
    margin-top: 20px; }

.pos-detail-food {
  position: relative;
  padding: 15px 130px; }
  .pos-detail-food .pos-avatar-food {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 100px; }

.pos-infor-food-add-item {
  display: inline-block;
  width: 100%; }
  .pos-infor-food-add-item h6 {
    color: #283646;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0; }
  .pos-infor-food-add-item p {
    color: #8692A6;
    font-size: 13px; }

.pos-custom-quality {
  position: absolute;
  right: 15px;
  top: 20px; }
  .pos-custom-quality input {
    height: 30px; }

.pos-check-option {
  display: inline-block;
  width: 100%; }

.pos-list-detail-food {
  display: inline-block;
  margin-bottom: 15px;
  padding: 0 15px;
  width: 100%; }
  .pos-list-detail-food .pos-check-content {
    margin-left: 0; }
  .pos-list-detail-food h4 {
    font-size: 18px;
    color: #283646;
    font-weight: bold; }
  .pos-list-detail-food .pos-size-checked button {
    display: inline-block;
    width: 45px;
    background: none;
    height: 45px;
    margin-right: 10px;
    padding-top: 3px;
    text-align: center;
    border: 1px solid #E4E7EB;
    border-radius: 4px; }
    .pos-list-detail-food .pos-size-checked button.active, .pos-list-detail-food .pos-size-checked button:hover {
      background: #EEF7FE;
      color: #438EB8;
      border: 1px solid #438EB8; }

.pos-textarea textarea {
  height: 50px;
  border: 1px solid #E4E7EB;
  border-radius: 6px;
  padding: 15px;
  width: 100%; }

/*--check radio button --*/
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee; }

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #f7f7f7 !important; }

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196F3; }

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  line-height: 32px;
  user-select: none; }

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom radio button */
.container-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #dfdfdf; }

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #fff;
  border: 1px solid #438EB8; }

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #ffffff;
  border: 1px solid #438EB8; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 5px;
  left: 5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #438EB8; }

.container-radio span::before {
  display: none !important; }

.pos-add-item-btn {
  position: fixed;
  bottom: 0;
  width: 599px; }
  .pos-add-item-btn button {
    padding: 16px;
    background: #438EB8;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    border: 0;
    font-size: 16px;
    color: white;
    text-transform: uppercase; }
    .pos-add-item-btn button:hover {
      background: #283646; }

.pos-close-popup-additem {
  position: fixed;
  right: 558px;
  top: 60px; }
  .pos-close-popup-additem button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    text-align: center;
    padding-top: 1px;
    background: rgba(255, 255, 255, 0.7); }
    .pos-close-popup-additem button:hover {
      background: white; }
    .pos-close-popup-additem button i {
      font-size: 14px;
      color: #8692A6; }

.pos-body-table {
  position: relative;
  width: 700px; }

.pos-show-additem {
  visibility: initial;
  opacity: 1; }

.dropdown-ul-print {
  padding: 0 !important;
  border: 0;
  box-shadow: none;
  background: #438EB8; }
  .dropdown-ul-print li a {
    color: white;
    padding: 15px;
    background: none !important;
    border-bottom: 1px solid #59a0c9; }
    .dropdown-ul-print li a:hover {
      color: #b8deff; }

.pos-popup-add-members {
  display: block !important;
  background: none; }
  .pos-popup-add-members::before {
    position: fixed;
    content: '';
    display: block;
    top: 49px;
    right: 0;
    width: 599px;
    background: rgba(0, 0, 0, 0.3);
    height: 100vh; }

.pos-head-addmemer {
  display: inline-block;
  width: 100%;
  padding: 5px 15px;
  border-bottom: 1px solid #E4E7EB; }
  .pos-head-addmemer h6 {
    font-weight: bold;
    float: left;
    font-size: 17px; }
  .pos-head-addmemer .pos-loyalty-ruler {
    float: left;
    display: flex;
    margin-left: 10px;
    margin-top: 9px; }
    .pos-head-addmemer .pos-loyalty-ruler b, .pos-head-addmemer .pos-loyalty-ruler span {
      margin: 0 5px; }

.pos-popup-table {
  position: fixed;
  bottom: 0;
  height: 44vh;
  background: white;
  width: 599px;
  right: 0;
  border-radius: 10px 10px 0 0; }

.pos-item-table {
  position: absolute; }

.pos-close-list-table {
  position: absolute;
  right: 15px;
  top: 10px; }
  .pos-close-list-table button {
    background: #F3F6F9;
    width: 30px;
    border: 0;
    border: 1px solid #F3F6F9;
    height: 30px;
    border-radius: 50%; }
    .pos-close-list-table button i {
      font-size: 11px; }
    .pos-close-list-table button:hover {
      background: white;
      border: 1px solid #F3F6F9; }

.pos-loyalty-ruler {
  margin-left: 20px; }
  .pos-loyalty-ruler span {
    color: #438EB8;
    font-size: 16px;
    font-weight: bold; }
  .pos-loyalty-ruler b {
    font-weight: bold;
    font-size: 16px;
    color: #EA5C7F; }

.pos-search-member {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  padding: 0 15px;
  position: relative; }
  .pos-search-member input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #E4E7EB;
    width: 100%;
    padding: 0 15px 0 40px;
    border-radius: 6px; }
    .pos-search-member input:focus {
      border: 1px solid #438EB8 !important; }
  .pos-search-member i {
    font-size: 14px;
    color: #8692A6;
    position: absolute;
    left: 28px;
    top: 14px; }

.pos-body-table {
  padding: 15px;
  display: inline-block;
  padding-bottom: 0;
  width: 100%; }

.pos-content-table {
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #E4E7EB; }
  .pos-content-table table {
    margin-bottom: 0; }
    .pos-content-table table tbody tr td {
      text-align: left;
      padding: 10px 5px;
      border-top: 1px solid #E4E7EB; }
    .pos-content-table table tbody tr:nth-child(odd) {
      background: #F3F6F9; }
    .pos-content-table table thead tr {
      border-bottom: 0; }
      .pos-content-table table thead tr th {
        border-bottom: 0;
        text-align: left;
        font-weight: bold; }

.pos-point-td span {
  color: #EA5C7F; }

.pos-add-members {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 599px; }
  .pos-add-members button {
    width: 100%;
    display: inline-block;
    padding: 15px 0;
    border: 0;
    font-size: 16px;
    background: #438EB8;
    text-transform: uppercase;
    font-weight: bold;
    color: white; }
    .pos-add-members button:hover {
      background: #283646; }

.pos-search-notfound {
  display: inline-block;
  padding: 0 15px;
  width: 100%; }
  .pos-search-notfound .pos-notfound-head {
    margin-top: 10px;
    display: flex; }
    .pos-search-notfound .pos-notfound-head img {
      margin-right: 5px; }
    .pos-search-notfound .pos-notfound-head span {
      color: #EA5C7F; }

.pos-form-add-members {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 15px; }
  .pos-form-add-members form {
    margin-top: 20px; }
    .pos-form-add-members form input {
      box-shadow: none !important;
      height: 40px;
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: normal;
      color: #8692A6;
      border: 1px solid #E4E7EB !important;
      border-radius: 6px;
      padding: 5px 10px; }
      .pos-form-add-members form input:focus {
        border: 1px solid #438EB8 !important; }

.pos-content-add-members {
  padding: 15px;
  text-align: center; }
  .pos-content-add-members h2 {
    color: #438EB8;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px; }
  .pos-content-add-members p {
    color: #8692A6;
    font-size: 14px; }

.pos-add-members-succes {
  margin-top: 30px; }

.pos-popup-discount {
  display: block !important;
  background: none; }
  .pos-popup-discount::before {
    position: fixed;
    content: '';
    display: block;
    top: 49px;
    right: 0;
    width: 599px;
    background: rgba(0, 0, 0, 0.3);
    height: 100vh; }

.pos-discount-fied {
  padding: 0 15px;
  text-align: center;
  padding-top: 30px; }

.pos-popup-discount img.pos-icon-discount-top {
  margin-top: 20px; }
.pos-popup-discount form {
  padding: 0 100px; }
  .pos-popup-discount form input {
    text-align: center; }

.pos-list-menu-confirm ul li .pos-description {
  width: 270px; }
.pos-list-menu-confirm ul li .pos-price-menu {
  float: right;
  width: 115px;
  text-align: right;
  margin: 7px 0 0 21px; }
  .pos-list-menu-confirm ul li .pos-price-menu label {
    margin-right: 20px; }
.pos-list-menu-confirm .infor-item-menu {
  width: 350px; }

.pos-quality-list {
  float: left;
  font-size: 14px;
  margin-top: 8px;
  color: #8692A6; }
  .pos-quality-list label {
    color: #8692A6; }

.pos-choose-all {
  background: none;
  padding: 0;
  border: 0; }
  .pos-choose-all .pos-check-content {
    width: 60px !important; }
    .pos-choose-all .pos-check-content label {
      color: #8692A6 !important;
      line-height: 20px; }
      .pos-choose-all .pos-check-content label::before {
        margin-right: 5px; }
  .pos-choose-all .pos-checkbox-status {
    padding: 0 !important;
    background: none !important;
    padding-left: 15px !important;
    margin-top: 0 !important; }

.pos-pay-card {
  float: left;
  width: 50%; }
  .pos-pay-card button {
    padding: 15px 0;
    color: white;
    font-weight: bold;
    width: 100%;
    background: #76BA69;
    border: 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    height: 54px;
    padding-top: 16px; }

.pos-pay-cash {
  float: left;
  width: 50%; }
  .pos-pay-cash button {
    padding: 15px 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    background: #438EB8;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    height: 54px;
    padding-top: 16px; }

.pos-payment, .pos-payment-card {
  display: block !important;
  background: none; }
  .pos-payment::before, .pos-payment-card::before {
    position: fixed;
    content: '';
    display: block;
    top: 49px;
    right: 0;
    width: 599px;
    background: rgba(0, 0, 0, 0.3);
    height: 100vh; }

.pos-code-payment {
  padding: 0 100px;
  margin-top: 0; }
  .pos-code-payment form {
    margin-top: 0; }
    .pos-code-payment form input {
      text-align: center; }

.notification-box {
  margin-left: -20px !important;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #FFFFFF; }
  .notification-box img {
    margin-top: 5px; }
  .notification-box span {
    font-size: 10px !important;
    font-weight: normal !important;
    position: absolute;
    right: -8px;
    top: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 0 !important;
    padding: 6px 5px;
    background: #CE5B58 !important;
    color: white !important; }
  .notification-box .dropdown-menu a {
    padding: 10px 15px; }
    .notification-box .dropdown-menu a:hover {
      color: #438EB8; }
      .notification-box .dropdown-menu a:hover i {
        color: #438EB8; }

.pos-check-all {
  background: none;
  padding: 0; }
  .pos-check-all .pos-checkbox-status {
    background: none !important;
    padding: 0 !important;
    padding-left: 15px !important;
    margin-top: 0 !important; }

.pos-close-payment {
  border-radius: 50% !important;
  background: #F3F6F9 !important; }
  .pos-close-payment i {
    color: #283646 !important;
    font-size: 12px !important; }
  .pos-close-payment p {
    width: 120px !important; }
  .pos-close-payment:hover {
    background: #438EB8 !important; }
    .pos-close-payment:hover i {
      color: white !important; }

.pos-confirm-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 99;
  width: 100%; }
  .pos-confirm-popup::before {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    display: block; }
  .pos-confirm-popup .pos-confirm-popup-content {
    position: relative;
    margin: 100px auto;
    width: 450px; }

.pos-bg-confirm {
  width: 100%;
  display: inline-block;
  background: white;
  border-radius: 6px;
  padding: 30px;
  text-align: center; }
  .pos-bg-confirm img {
    height: 100px; }
  .pos-bg-confirm span {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    color: #283646; }
  .pos-bg-confirm button {
    text-transform: uppercase;
    font-weight: bold; }
    .pos-bg-confirm button.pos-btn-popup-close {
      position: absolute;
      right: 15px;
      text-align: center;
      line-height: 30px;
      border: 0;
      top: 15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #F3F6F9; }
      .pos-bg-confirm button.pos-btn-popup-close i {
        font-size: 12px;
        color: #8692A6; }
      .pos-bg-confirm button.pos-btn-popup-close:hover {
        background: #438EB8; }
        .pos-bg-confirm button.pos-btn-popup-close:hover i {
          color: white; }

.pos-btn-confirm-popup {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px; }
  .pos-btn-confirm-popup button {
    margin: 0 5px;
    border-radius: 6px; }
    .pos-btn-confirm-popup button.pos-btn-confirm-cancel {
      display: inline-block;
      width: 120px;
      background: white;
      border: 1px solid #8692A6;
      color: #8692A6;
      height: 40px; }
    .pos-btn-confirm-popup button.pos-btn-confirm-confirm {
      display: inline-block;
      width: 120px;
      background: #438EB8;
      border: 1px solid #438EB8;
      color: white;
      height: 40px; }
    .pos-btn-confirm-popup button:hover {
      background: #283646;
      color: white;
      border: 1px solid #283646; }

/*--pos mb--*/
.pos-mb {
  max-width: 100%;
  margin: auto; }
  .pos-mb .pos-mb-body {
    display: inline-block;
    width: 100%; }

.pmb-head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: white;
  width: 100%; }

.pos-mb-head {
  background: #438EB8;
  position: relative;
  padding-right: 80px; }

.pmb-floor {
  display: inline-block;
  overflow-x: auto;
  width: 100%; }
  .pmb-floor a {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: white;
    text-transform: uppercase; }
    .pmb-floor a.active {
      color: #FFC935;
      float: left;
      text-align: center; }

.pmb-floor-content {
  white-space: nowrap; }

.pmb-notification {
  position: absolute;
  right: 35px;
  top: 10px; }
  .pmb-notification i, .pmb-notification span {
    color: white;
    display: inline-block;
    font-size: 20px; }
  .pmb-notification span {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #EA5C7F;
    position: absolute;
    right: -23px;
    font-size: 12px;
    text-align: center;
    padding-top: 4px; }

.pmb-search {
  display: inline-block;
  width: 100%;
  background: white;
  position: relative;
  padding-right: 70px; }
  .pmb-search input {
    height: 50px;
    border: 0;
    display: inline-block;
    padding: 0 10px 0 44px;
    width: 100%;
    background: none; }
  .pmb-search i {
    position: absolute;
    top: 17px;
    font-size: 15px;
    left: 15px;
    font-size: 16px; }
  .pmb-search .pmb-filter {
    position: absolute;
    right: 18px;
    top: 14px; }
    .pmb-search .pmb-filter button {
      background: none;
      border: 0; }

.pmb-filed-search {
  border-right: 1px solid #E4E7EB; }

.pmb-box-table {
  display: inline-block;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 0 5px; }

.pmb-body {
  display: inline-block;
  width: 100%;
  background: #F3F6F9;
  padding-top: 15px;
  min-height: 92vh;
  margin-top: 36px; }
  .pmb-body .fab-button {
    z-index: 0; }
  .pmb-body .col-md-6 {
    display: inline-block;
    padding: 0 15px;
    width: 50%; }
  .pmb-body .item-table {
    text-align: center;
    position: relative;
    min-height: 100px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 6px;
    float: left;
    width: 100%;
    border: 1px solid #E4E7EB;
    padding: 15px;
    background: white; }
    .pmb-body .item-table a {
      display: inline-block;
      width: 100%;
      text-decoration: none; }
    .pmb-body .item-table .icon-pos-menu-table {
      font-size: 3px;
      color: #8692A6; }
      .pmb-body .item-table .icon-pos-menu-table:hover {
        color: #438EB8; }
    .pmb-body .item-table .pos-item-status {
      height: 40px; }
      .pmb-body .item-table .pos-item-status img {
        max-height: 34px; }
    .pmb-body .item-table .pos-numbers-members {
      margin: 15px 0 5px 0; }
      .pmb-body .item-table .pos-numbers-members span {
        display: inline-block;
        color: #8692A6;
        margin-right: 15px; }
      .pmb-body .item-table .pos-numbers-members label {
        color: #8692A6; }
      .pmb-body .item-table .pos-numbers-members .pos-members {
        display: inline-block; }
    .pmb-body .item-table .pos-table-price {
      font-size: 16px;
      color: #8692A6; }
      .pmb-body .item-table .pos-table-price.pos-paymented {
        color: #CE5B58; }
        .pmb-body .item-table .pos-table-price.pos-paymented span {
          color: #CE5B58;
          font-size: 12px; }
      .pmb-body .item-table .pos-table-price span {
        color: #8692A6;
        font-size: 12px; }
    .pmb-body .item-table .pos-phone-hours a {
      color: #8692A6;
      display: initial !important;
      width: initial !important; }
    .pmb-body .item-table .pos-phone-hours label {
      color: #8692A6;
      padding-left: 10px;
      margin-left: 10px;
      border-left: 1px solid #E4E7EB; }
    .pmb-body .item-table.pos-table-paymented {
      border: 1px solid #CE5B58; }
      .pmb-body .item-table.pos-table-paymented .pos-paymented {
        color: #76BA69; }
        .pmb-body .item-table.pos-table-paymented .pos-paymented span {
          color: #76BA69; }
    .pmb-body .item-table.pos-table-finish {
      border: 1px solid #CE5B58; }

.pmb-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 100%;
  z-index: 99; }
  .pmb-popup::after {
    position: fixed;
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    background: black;
    opacity: .6; }

.pmb-popup-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9;
  width: 100%; }
  .pmb-popup-content .pos-checkbox-status .styled-checkbox + label:before {
    width: 21px; }
  .pmb-popup-content .pos-checkbox-status {
    margin-top: 0;
    width: 100%; }
  .pmb-popup-content .pos-check-content {
    display: inline-block;
    width: 100%;
    padding: 20px 15px !important;
    margin: 0;
    border-bottom: 1px solid #E4E7EB; }
    .pmb-popup-content .pos-check-content:nth-last-child(1) {
      border: 0 !important; }

.pmb-title {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 18px 15px;
  height: 55px;
  background: #F3F6F9; }
  .pmb-title h2 {
    font-size: 18px;
    font-weight: bold;
    color: #283646;
    margin: 0;
    padding: 0; }
  .pmb-title button {
    position: absolute;
    right: 15px;
    width: 30px;
    top: 13px;
    background: #E4E7EB;
    border-radius: 50%;
    height: 30px;
    border: 0;
    text-align: center; }
    .pmb-title button i {
      font-size: 13px;
      color: #283646;
      padding-top: 3px; }

.fix-body {
  overflow: hidden; }

.pmb-popup-status-show, .pmb-popup-change-table-show {
  display: block; }

.pmb-popup-change-table-show {
  display: block; }

.pmb-option-popup {
  width: 100%;
  display: inline-block; }
  .pmb-option-popup ul {
    padding: 0;
    margin: 0; }
    .pmb-option-popup ul li {
      display: inline-block;
      width: 100%;
      position: relative;
      padding: 20px 15px;
      border-bottom: 1px solid #E4E7EB; }
      .pmb-option-popup ul li a {
        display: flex; }
        .pmb-option-popup ul li a img {
          margin-right: 4px; }
        .pmb-option-popup ul li a span {
          font-size: 14px; }
        .pmb-option-popup ul li a i {
          position: absolute;
          right: 15px;
          top: 23px;
          font-size: 14px;
          color: #8692A6; }

.pmb-title-head {
  display: inline-block;
  width: 100%; }
  .pmb-title-head h2 {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 15px 0; }
  .pmb-title-head i {
    position: absolute;
    left: 10px;
    top: 16px;
    color: white;
    font-size: 18px; }

.button-confirm {
  display: inline-block;
  padding: 15px;
  width: 100%; }
  .button-confirm button {
    width: 100%;
    height: 50px;
    background: #438EB8;
    border: 0;
    text-transform: uppercase;
    color: white;
    border-radius: 6px;
    font-weight: bold; }

.pmb-head-page {
  position: fixed;
  top: 0;
  z-index: 9;
  left: 0;
  width: 100%;
  padding-right: 0 !important; }

.pmb-content-notification {
  display: inline-block;
  width: 100%;
  padding: 0 15px;
  margin-top: 15px; }
  .pmb-content-notification a {
    display: inline-block;
    width: 100%;
    padding: 15px;
    position: relative;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    padding-left: 60px; }
  .pmb-content-notification img {
    position: absolute;
    top: 39%;
    left: 15px; }
  .pmb-content-notification p {
    display: inline-block;
    width: 100%;
    color: #283646;
    font-size: 16px;
    font-weight: bold; }
  .pmb-content-notification span {
    display: inline-block;
    font-size: 12px;
    width: 100%;
    color: #8692A6; }

.pmb-content-notification-detail {
  display: inline-block;
  width: 100%;
  background: white;
  min-height: 92vh;
  padding: 15px; }
  .pmb-content-notification-detail h1 {
    font-size: 22px;
    margin-top: 0;
    color: #438EB8; }
  .pmb-content-notification-detail span {
    font-size: 12px;
    color: #8692A6; }
  .pmb-content-notification-detail p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    color: #8692A6; }

.pmb-body-menu {
  background: #F3F6F9;
  margin-top: 49px;
  min-height: 90vh; }
  .pmb-body-menu .pmb-search {
    padding-right: 0 !important;
    position: fixed;
    top: 49px;
    left: 0;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04); }

.pmb-list-menu {
  display: inline-block;
  width: 100%;
  min-height: 100px;
  background: #F3F6F9;
  padding-bottom: 50px;
  margin-top: 45px; }
  .pmb-list-menu h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0 15px;
    margin-top: 20px;
    margin-bottom: 10px; }
  .pmb-list-menu ul {
    padding: 0; }
    .pmb-list-menu ul li {
      list-style: none;
      display: inline-block;
      width: 100%;
      padding: 10px 15px; }
      .pmb-list-menu ul li .pmb-item-menu {
        display: inline-block;
        width: 100%;
        background: white;
        position: relative;
        padding-right: 160px !important;
        padding: 15px;
        border-radius: 6px;
        min-height: 108px; }
        .pmb-list-menu ul li .pmb-item-menu h6 {
          font-size: 16px;
          font-weight: bold; }
        .pmb-list-menu ul li .pmb-item-menu label {
          font-size: 16px;
          color: #8692A6; }
        .pmb-list-menu ul li .pmb-item-menu img {
          height: 80px; }

.pmb-avatar-img {
  position: absolute !important;
  right: 15px;
  width: 120px;
  top: 15px;
  position: relative;
  padding-top: 67%;
  display: block;
  padding-top: 23% !important; }
  .pmb-avatar-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.pmb-list-menu-category {
  position: fixed;
  bottom: 0;
  background: white;
  overflow-x: auto;
  display: flex;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.02);
  width: 100%;
  white-space: nowrap; }
  .pmb-list-menu-category a {
    display: inline-block;
    padding: 15px 10px;
    font-weight: bold;
    position: relative;
    color: #8692A6;
    text-align: center;
    text-transform: uppercase;
    position: relative; }
    .pmb-list-menu-category a.active {
      color: #438EB8; }
      .pmb-list-menu-category a.active::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin: auto;
        background: #438EB8; }

.pmb-cart-shop {
  position: fixed;
  bottom: 45px;
  cursor: pointer;
  right: 0; }
  .pmb-cart-shop img {
    width: 100px; }
  .pmb-cart-shop span {
    position: fixed;
    right: 15px;
    bottom: 65px;
    width: 30px;
    height: 30px;
    background: #EA5C7F;
    color: white;
    text-align: center;
    padding-top: 6px;
    font-size: 15px;
    border-radius: 50%; }

.pmb-popup-choose-food {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: white;
  overflow-y: auto;
  padding-bottom: 60px;
  z-index: 9; }

.pmb-popup-choose-food-content {
  display: inline-block;
  width: 100%;
  overflow-y: auto; }
  .pmb-popup-choose-food-content .pos-add-item-btn {
    background-color: white;
    padding: 15px; }
    .pmb-popup-choose-food-content .pos-add-item-btn button {
      border-radius: 6px; }

.pmb-choose-food-cover {
  display: inline-block;
  width: 100%; }
  .pmb-choose-food-cover img {
    width: 100%; }
  .pmb-choose-food-cover .pos-close-popup-additem {
    position: absolute;
    right: 0;
    top: 10px;
    left: 10px; }

.pmb-head-title-choose-food {
  display: inline-block;
  width: 100%;
  padding: 15px;
  border-bottom: 15px solid #EEF7FE; }
  .pmb-head-title-choose-food h6 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0; }
  .pmb-head-title-choose-food label {
    color: #8692A6;
    font-size: 18px; }

.pmb-popup-choose-food .pos-add-item-btn {
  width: 100%;
  z-index: 99; }

.posmb-custom-quality {
  display: inline-block;
  width: 100%;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px; }
  .posmb-custom-quality .touchspin {
    display: block;
    margin: auto;
    float: none;
    width: 153px; }
  .posmb-custom-quality .touchspin button {
    background: none !important;
    border: 1px solid #E4E7EB;
    color: #8692A6;
    width: 50px;
    height: 40px;
    line-height: 9px;
    padding: 3px !important;
    text-align: center;
    border-radius: 3px !important;
    font-size: 23px; }
  .posmb-custom-quality .touchspin input {
    font-size: 24px;
    padding: 10px 0 0 0 !important; }

.move-add-menu {
  display: block; }

.pmb-list-cart {
  display: inline-block;
  width: 100%; }
  .pmb-list-cart .pos-edit-item {
    float: left;
    margin: 6px 0 0 15px;
    background: #EEF7FE;
    border: 0;
    position: relative;
    box-shadow: none;
    width: 25px;
    text-align: center;
    padding-top: 1px;
    height: 25px;
    border-radius: 4px; }
    .pmb-list-cart .pos-edit-item i {
      color: #438EB8; }
  .pmb-list-cart ul {
    padding: 15px;
    padding-bottom: 125px;
    display: inline-block;
    width: 100%;
    padding-top: 10px; }
    .pmb-list-cart ul li {
      background: white;
      padding: 15px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);
      border-radius: 6px;
      display: inline-block;
      width: 100%; }
      .pmb-list-cart ul li .pos-checkbox-status {
        margin-top: 0; }
      .pmb-list-cart ul li .pmb-check-item {
        position: absolute;
        left: 0;
        margin: 0;
        top: 9px; }
      .pmb-list-cart ul li .pos-avatar-food {
        width: 70px !important; }
      .pmb-list-cart ul li .infor-item-menu {
        display: inline-block;
        width: 100%; }
      .pmb-list-cart ul li .pmb-edit-remove {
        position: absolute;
        right: 0;
        top: 4px; }
      .pmb-list-cart ul li .pmb-box-item-cart {
        position: relative;
        width: 100%;
        padding: 0 73px 0 40px;
        min-height: 48px; }
      .pmb-list-cart ul li .pos-description {
        width: 100%; }
      .pmb-list-cart ul li .pos-avatar-food {
        position: absolute;
        left: 0; }
      .pmb-list-cart ul li .infor-item-menu {
        padding-left: 80px; }
  .pmb-list-cart .pmb-checl-all {
    background: none;
    box-shadow: none;
    padding: 0 15px; }
    .pmb-list-cart .pmb-checl-all .pmb-box-item-cart label::before {
      margin-right: 5px !important; }
    .pmb-list-cart .pmb-checl-all .pmb-box-item-cart span {
      padding-left: 0;
      color: #8692A6; }
      .pmb-list-cart .pmb-checl-all .pmb-box-item-cart span::before {
        display: none;
        margin-right: 0 !important; }

.pmb-payment {
  position: fixed;
  bottom: 0;
  background: #FFFFFF;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.02);
  padding: 15px;
  text-align: center;
  width: 100%;
  padding-top: 5px; }
  .pmb-payment .pmb-expand {
    width: 100px;
    background: none;
    text-align: center;
    border: 0;
    box-shadow: none; }
    .pmb-payment .pmb-expand i {
      font-size: 16px;
      color: #8692A6; }
  .pmb-payment .pmb-price-box {
    display: inline-block;
    width: 100%; }
    .pmb-payment .pmb-price-box label {
      float: left;
      font-size: 16px;
      font-weight: bold; }
    .pmb-payment .pmb-price-box b {
      float: right;
      font-size: 20px;
      font-weight: bold;
      color: #76BA69; }

.pmb-btn-action-payment {
  margin-left: -10px;
  margin-right: -10px; }
  .pmb-btn-action-payment .pmb-pay {
    float: left;
    width: 50%;
    padding: 0 10px; }
    .pmb-btn-action-payment .pmb-pay button {
      display: inline-block;
      width: 100%;
      background: #438EB8;
      height: 50px;
      border: 0;
      border-radius: 6px;
      color: white;
      text-align: center;
      padding-top: 2px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px; }
  .pmb-btn-action-payment .pmb-action-order button {
    background: #76BA69;
    text-transform: uppercase;
    font-size: 16px; }

.pmb-btn-other {
  width: 100%;
  padding: 10px 0px;
  display: none; }
  .pmb-btn-other button {
    background: #F3F6F9;
    float: left;
    width: 33.33%;
    height: 50px;
    padding-top: 4px;
    border: 0;
    border-right: 1px solid #E4E7EB; }
    .pmb-btn-other button i {
      font-size: 17px;
      color: #8692A6; }
    .pmb-btn-other button:nth-last-child(1) {
      border: 0;
      border-radius: 0 6px 6px 0; }
    .pmb-btn-other button:nth-child(1) {
      border-radius: 6px 0px 0px 6px; }

.pmb-infor-bill {
  float: left;
  display: none;
  width: 100%;
  border-bottom: 1px dashed #E4E7EB;
  margin-bottom: 15px; }
  .pmb-infor-bill p {
    float: left;
    width: 100%; }
  .pmb-infor-bill span {
    float: left;
    color: #8692A6; }
  .pmb-infor-bill b {
    float: right;
    font-weight: bold; }

.pmb-show-payment {
  display: inline-block !important; }
  .pmb-show-payment i.ti-angle-up {
    transform: rotate(180deg);
    position: relative;
    display: block; }

.pmb-btn-member-point {
  display: inline-block;
  width: 100%;
  padding: 15px 5px; }
  .pmb-btn-member-point .pos-pay-cash {
    padding: 0 10px; }
  .pmb-btn-member-point .pos-pay-card {
    padding: 0 10px; }
  .pmb-btn-member-point button {
    border-radius: 6px;
    width: 100%;
    font-size: 14px; }

.pmb-name-field {
  width: 50%;
  float: left;
  padding: 0 10px; }
  .pmb-name-field textarea {
    width: 100%;
    border: 1px solid #E4E7EB;
    border-radius: 6px;
    height: 60px;
    margin-bottom: 10px; }

.pmb-textarea {
  width: 100% !important; }

.pmb-btn-only-btn {
  display: inline-block;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0 15px 15px 15px; }
  .pmb-btn-only-btn button {
    width: 100%;
    display: inline-block;
    padding: 15px 0;
    border: 0;
    font-size: 16px;
    border-radius: 6px;
    background: #438EB8;
    text-transform: uppercase;
    font-weight: bold;
    color: white; }
    .pmb-btn-only-btn button:hover {
      background: #283646; }

.pmb-form-add-member .row {
  margin-left: -10px;
  margin-right: -10px; }

.pmb-two-btn {
  padding: 15px 3px 10px 3px !important;
  display: inline-block;
  width: 100%;
  margin: 0; }

.pmb-popup-none-title .pmb-title {
  background: none;
  border: 0 !important; }

.btn-action-discount {
  width: 100% !important; }

.pmb-discount-form {
  text-align: center;
  margin-top: 0;
  padding-top: 0; }
  .pmb-discount-form input {
    width: 100%;
    text-align: center; }

.pmb-popup-none-title .pos-add-members-succes {
  margin-top: -20px; }
  .pmb-popup-none-title .pos-add-members-succes .pos-content-add-members {
    padding-top: 0 !important; }
  .pmb-popup-none-title .pos-add-members-succes input {
    text-align: center;
    height: 45px;
    font-size: 14px;
    box-shadow: none;
    display: inline-block;
    margin-top: 10px;
    width: 100%; }

.pmb-list-payment ul li .pmb-box-item-cart {
  padding-left: 0 !important; }

.pmb-price-payment {
  position: absolute;
  right: 0;
  top: 12px; }
  .pmb-price-payment b {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    color: #8692A6; }

/*# sourceMappingURL=pos-style.css.map */
