@media screen and (max-width: 1367px) {
  .pos-add-item-menu .scrollbar {
    height: 48vh; }

  .pos-list-item-menu .scrollbar {
    height: 68vh; }

  .pos-discount-fied {
    padding-top: 0; } }
@media screen and (min-device-width: 950px) and (max-device-width: 1025px) {
  .pos-search {
    width: 120px; }

  .pos-item-menu {
    margin-bottom: 0 !important; }

  .pos-list-menu .row {
    margin: 0 !important; }
    .pos-list-menu .row .col-md-4 {
      width: 50% !important;
      padding: 5px !important; } }

/*# sourceMappingURL=responsive.css.map */
